<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.aptana.configurations.configurationProcessors">
      <processor
            category="plugins"
            class="com.aptana.portal.ui.eclipse36.dispatch.configurationProcessors.PluginsConfigurationProcessor"
            id="com.aptana.portal.plugins36.processor"
            name="%plugins_processor_name">
      </processor>
   </extension>
   <extension
       point="com.aptana.portal.ui.browserInteractions">
       <actionController
            class="com.aptana.portal.ui.dispatch.actionControllers.PluginsActionController"
            configurationProcessor="com.aptana.portal.plugins36.processor"
            id="portal.plugins"
            name="%plugin_actions_name">
      </actionController>
   </extension>
</plugin>
