
#adStatusIcon {
    list-style-image: url(chrome://aptanadebugger/skin/aptana1616.png);
}

#adStatusBar[enabled="false"] #adStatusIcon {
    list-style-image: url(chrome://aptanadebugger/skin/aptana1616d.png);
}

#adStatusBar[enabled="true"] #adStatusIcon {
    list-style-image: url(chrome://aptanadebugger/skin/aptana1616.png);
}

#adStatusBar[enabled="true"] #adStatusIcon[state="suspended"] {
    list-style-image: url(chrome://aptanadebugger/skin/aptana1616s.png);
}

#adStatusBar[enabled="true"] #adStatusIcon[state="stepping"] {
    list-style-image: url(chrome://aptanadebugger/skin/aptana1616r.png);
}

#adStatusContextMenuSuspend {
    list-style-image: url(chrome://aptanadebugger/skin/suspend1616.png);
}

#adStatusContextMenuStop {
    list-style-image: url(chrome://aptanadebugger/skin/terminate1616.png);
}

#adIntegrateMenuItem {
    list-style-image: url(chrome://aptanadebugger/skin/aptanalogo1616.png);
}

#ad-init-title {
  font-weight: bold;
  font-size: x-large;
  color: #ADADAD; 
}


#ad-about-extensionName {
  font-size: large;
  font-weight: bold;
}

#ad-about-extensionVersion {
  font-weight: bold;
  color: #909090;
}

#ad-about-extensionDescription {
  font-weight: bold;
}

#aptabadebugger-about-dialog {
  padding-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

#ad-about-dialogArea {
  padding-left: 10px;
  padding-right: 10px;
}

#groove {
  margin-top: 0px;
}

#ad-about-clientBox, #ad-assert-clientBox {
  padding: 10px;
} 

#ad-about-extensionDescription {
  color: #404040;
  margin-left: 6px;
}

#ad-assert-title {
  font-size: larger;
  font-weight: bold;
  color: #000000;
}

#ad-assert-subtitle {
  font-weight: bold;
  color: #606060;
}

#ad-assert-message {
  color: #606060;
}
