<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.aptana.ui.imageAssociations">
      <image
            icon="icons/full/obj16/ftp.png"
            id="com.aptana.filesystem.ftp.ftpCategory">
      </image>
      <objectImage
            icon="icons/full/obj16/ftp.png"
            objectClass="com.aptana.filesystem.ftp.FTPConnectionPoint">
      </objectImage>
   </extension>
   <extension
         point="com.aptana.ui.propertyDialogs">
      <dialog
            class="com.aptana.ui.ftp.internal.FTPPropertyDialogProvider"
            id="com.aptana.ui.ftp.dialog"
            objectClass="com.aptana.filesystem.ftp.FTPConnectionPoint">
      </dialog>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.aptana.ui.ftp.console.FTPConsoleFactory"
            icon="icons/full/eview16/ftp.png"
            label="%FTPConsole.label">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.filesystem.ftp.FTPPlugin"
            class="com.aptana.ui.ftp.console.FTPCommandLog$Factory">
         <adapter
               type="com.aptana.filesystem.ftp.IFTPCommandLog">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.aptana.ui.ftp.category"
            name="%category.ftp.name">
      </category>
      <command
            categoryId="com.aptana.ui.ftp.category"
            defaultHandler="com.aptana.ui.ftp.handlers.NewFTPConnectionHandler"
            id="com.aptana.ui.ftp.command.add"
            name="%newFTPConnectionAction.label">
      </command>
      <command
            categoryId="com.aptana.ui.ftp.category"
            defaultHandler="com.aptana.ui.ftp.handlers.DuplicateConnectionHandler"
            id="com.aptana.ui.ftp.command.duplicate"
            name="%duplicateAction.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.ui.ftp.command.add"
            icon="icons/full/etool16/new_connection.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.aptana.ui.io.remoteview#PopupMenu?after=group.new">
         <command
               commandId="com.aptana.ui.ftp.command.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="0">
               </count>
            </visibleWhen>
         </command>
         <command
               commandId="com.aptana.ui.ftp.command.duplicate"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <instanceof
                        value="com.aptana.ide.core.io.IConnectionPoint">
                  </instanceof>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ui.io.preferences.RemotePreferencePage"
            class="com.aptana.ui.ftp.preferences.FTPPreferencePage"
            id="com.aptana.ui.ftp.preferences.FTPPreferencePage"
            name="%PreferencePage.ftp.label">
      </page>
   </extension>

</plugin>
