<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="s3">
         <run
               class="com.aptana.ide.filesystem.s3.S3FileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="com.aptana.core.io.connectionPoint">
      <connectionPointCategory
            id="com.aptana.ide.filesystem.s3.s3Category"
            name="%connectionPointCategory.s3.name"
            order="100"
            remote="true">
      </connectionPointCategory>
      <connectionPointType
            category="com.aptana.ide.filesystem.s3.s3Category"
            class="com.aptana.ide.filesystem.s3.S3ConnectionPoint"
            id="s3"
            name="%connectionPointType.s3.name">
      </connectionPointType>
   </extension>
</plugin>
