<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.radrails.editor.css.CSSSourceEditor"
            default="true"
            extensions="css"
            icon="icons/css.png"
            id="com.aptana.radrails.editor.css"
            name="CSS Source Editor (Aptana)">
      </editor>
   </extension>

</plugin>
