<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>   
   <extension-point id="validator" name="%extension-point.validator.name" schema="schema/validator.exsd"/>
   <extension-point id="textHovers" name="%extension-point.textHovers.name" schema="schema/textHovers.exsd"/>
   <extension-point id="quickFixProcessors" name="%extension-point.quickFixAssistant.name" schema="schema/quickFixProcessors.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
       <command
       		categoryId="org.eclipse.ui.category.edit"
            description="%command.filter.description Filter Through Command"
            id="com.aptana.editor.common.scripting.commands.FilterThroughCommand"
            name="%command.filter.name Filter Through Command">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            description="%command.format.description Format the selected text"
            id="com.aptana.editor.commands.Format"
            name="%command.format.name Format">
      </command>
       <command
             categoryId="org.eclipse.ui.category.views"
             defaultHandler="com.aptana.editor.common.internal.commands.ExpandAllHandler"
             description="%command.expandall.description Expand All"
             id="com.aptana.editor.commands.ExpandAll"
             name="%command.expandall.name Expand All">
       </command>
       <command
             categoryId="org.eclipse.ui.category.views"
             defaultHandler="com.aptana.editor.common.internal.commands.CollapseAllHandler"
             description="%command.collapseall.description Collapse All"
             id="com.aptana.editor.commands.CollapseAll"
             name="%command.collapseall.name Collapse All">
       </command>
       <command
             categoryId="org.eclipse.ui.category.views"
             defaultHandler="com.aptana.editor.common.internal.commands.ExpandLevelHandler"
             description="%command.expandLevel.description Expand to Level"
             id="com.aptana.editor.commands.ExpandLevel"
             name="%command.expandLevel.name Expand to Level">
          <commandParameter
                id="level"
                name="%commandParameter.level.name Level"
                optional="true">
          </commandParameter>
       </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.aptana.editor.common.scripting.commands.FilterThroughCommand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+R">
      </key>
      <key
            commandId="org.eclipse.ui.navigate.openResource"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
      <key
            commandId="com.aptana.editor.commands.ExpandAll"
            contextId="com.aptana.editor.common.outline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3++">
      </key>
      <key
            commandId="com.aptana.editor.commands.CollapseAll"
            contextId="com.aptana.editor.common.outline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+-">
      </key>
      <key
            commandId="com.aptana.editor.commands.ExpandLevel"
            contextId="com.aptana.editor.common.outline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+1">
         <parameter
               id="level"
               value="1"></parameter>
      </key>
      <key
            commandId="com.aptana.editor.commands.ExpandLevel"
            contextId="com.aptana.editor.common.outline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+2">
         <parameter
               id="level"
               value="2">
         </parameter>
      </key>
      <key
            commandId="com.aptana.editor.commands.ExpandLevel"
            contextId="com.aptana.editor.common.outline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+3">
         <parameter
               id="level"
               value="3">
         </parameter>
      </key>
      <key
            commandId="com.aptana.editor.commands.ExpandLevel"
            contextId="com.aptana.editor.common.outline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+4">
         <parameter
               id="level"
               value="4">
         </parameter>
      </key>
      <key
            commandId="com.aptana.editor.commands.ExpandLevel"
            contextId="com.aptana.editor.common.outline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+5">
         <parameter
               id="level"
               value="5">
         </parameter>
      </key>
      <key
            commandId="com.aptana.editor.commands.ExpandLevel"
            contextId="com.aptana.editor.common.outline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+6">
         <parameter
               id="level"
               value="6">
         </parameter>
      </key>
      <key
            commandId="com.aptana.editor.commands.ExpandLevel"
            contextId="com.aptana.editor.common.outline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+7">
         <parameter
               id="level"
               value="7">
         </parameter>
      </key>
      <key
            commandId="com.aptana.editor.commands.ExpandLevel"
            contextId="com.aptana.editor.common.outline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+8">
         <parameter
               id="level"
               value="8">
         </parameter>
      </key>
      <key
            commandId="com.aptana.editor.commands.ExpandLevel"
            contextId="com.aptana.editor.common.outline"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+9">
         <parameter
               id="level"
               value="9">
         </parameter>
      </key>
      <key
            commandId="com.aptana.editor.commands.Format"
            contextId="com.aptana.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+F">
      </key>
      <key
            commandId="com.aptana.editor.commands.Format"
            contextId="com.aptana.editor.context"
            platform="gtk"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC CTRL+F">
      </key>

   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.editor.common.scripting.commands.ShowCommandsMenuHandler"
            id="com.aptana.editor.common.scripting.commands.show"
            name="%command.name Show Commands Menu">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.editor.common.scripting.commands.show"
            icon="icons/command.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=edit">
         <menu
               id="com.aptana.source.menu"
               label="%menu.source.label Source"
               mnemonic="%menu.source.mnemonic">
            <command
                  commandId="com.aptana.editor.commands.Format"
                  label="%command.format.label Format"
                  mnemonic="%command.format.mnemonic"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <instanceof
                           value="com.aptana.editor.common.AbstractThemeableEditor">
                     </instanceof>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.edit">
         <menu
               id="com.aptana.source.popup.menu"
               label="%menu.popup.source.label Source"
               mnemonic="%menu.popup.source.mnemonic">
            <command
                  commandId="com.aptana.editor.commands.Format"
                  label="%command.popup.format.label Format"
                  mnemonic="%command.popup.format.mnemonic"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activePart">
                     <instanceof
                           value="com.aptana.editor.common.AbstractThemeableEditor">
                     </instanceof>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.common.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.texteditor.ITextEditor"
            class="com.aptana.editor.common.CommandElementsProviderAdapterFactory">
         <adapter
               type="com.aptana.scripting.keybindings.ICommandElementsProvider">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.aptana.scripting.loadPaths">
      <loadPath
            name="Aptana Studio Framework Files"
            path="framework/">
      </loadPath>
   </extension>
   <extension
         point="com.aptana.scripting.frameworkFiles">
      <file
            name="ruble/editor.rb">
      </file>
      <file
            name="ruble/theme.rb">
      </file>
      <file
            name="ruble/browser.rb">
      </file>
   </extension>
   <extension
         point="com.aptana.scripting.contextContributors">
      <contributor
            class="com.aptana.editor.common.internal.scripting.EditorContextContributor">
      </contributor>
      <contributor
            class="com.aptana.editor.common.internal.scripting.BrowserContextContributor">
      </contributor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            name="%NewWizards.file File"
            icon="$nl$/icons/full/etool16/text.png"
            category="com.aptana.ui.wizards.category"
            class="com.aptana.editor.common.internal.scripting.NewFileWizard"
            id="com.aptana.ui.wizards.new.file">
         <description>
            %NewWizards.file.description Create a new file resource
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <category
            id="com.aptana.ui.wizards.category"
            name="%category.web.name Web">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.aptana.editor.common.internal.commands.NextEditorHandler"
            id="com.aptana.editor.NextEditorCommand"
            name="%command.NextEditorNoPrompt Next Editor (Aptana)">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.aptana.editor.common.internal.commands.PreviousEditorHandler"
            id="com.aptana.editor.PreviousEditorCommand"
            name="%command.PreviousEditorNoPrompt Previous Editor (Aptana)">
      </command>
      <command
            categoryId="org.eclipse.ui.category.window"
            defaultHandler="com.aptana.editor.common.internal.commands.ToggleWordWrapHandler"
            id="com.aptana.editor.toggleWordWrapCommand"
            name="%command.wordwrap.name Word Wrap">
         <state
         	id="org.eclipse.ui.commands.toggleState">
            <class
                  class="org.eclipse.ui.handlers.RegistryToggleState">
               <parameter
                     name="persisted"
                     value="false">
               </parameter>
            </class>
   </state> 
      </command>
      <command
            categoryId="com.aptana.ui.category"
            description="%mark.occurrence.description Toggle mark occurrences"
            id="com.aptana.editor.common.toggleMarkOccurrences"
            name="%mark.occurrence.command Mark Occurrences">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.aptana.editor.NextEditorCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+TAB">
      </key>
      <key
            commandId="com.aptana.editor.PreviousEditorCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SHIFT+TAB">
      </key>
      <key
            commandId="com.aptana.editor.common.toggleMarkOccurrences"
            contextId="com.aptana.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+M3+O">
      </key>
      <key
            commandId="com.aptana.editor.common.toggleMarkOccurrences"
            contextId="com.aptana.editor.context"
            platform="carbon"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="COMMAND+ALT+O">
      </key>
      <key
            commandId="com.aptana.editor.common.gotoMatchingBracket"
            contextId="com.aptana.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+P">
      </key>
      <key
            commandId="org.eclipse.ui.edit.text.toggleShowWhitespaceCharacters"
            contextId="com.aptana.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+W">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.aptana.editor.common.outline"
            name="%context.outline.name Aptana Outline">
      </context>
      <context
            id="com.aptana.editor.context"
            name="%context.editor.name Aptana Editor"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.views.ContentOutline?after=additions">
         <command
               commandId="com.aptana.editor.commands.ExpandAll">
         </command>
         <command
               commandId="com.aptana.editor.commands.CollapseAll">
         </command>
         <menu
               label="%menu.expand.label Expand to Level">
            <command
                  commandId="com.aptana.editor.commands.ExpandLevel"
                  label="%command.label 1">
               <parameter
                     name="level"
                     value="1">
               </parameter>
            </command>
            <command
                  commandId="com.aptana.editor.commands.ExpandLevel"
                  label="%command.label.0 2">
               <parameter
                     name="level"
                     value="2">
               </parameter>
            </command>
            <command
                  commandId="com.aptana.editor.commands.ExpandLevel"
                  label="%command.label.1 3">
               <parameter
                     name="level"
                     value="3">
               </parameter>
            </command>
            <command
                  commandId="com.aptana.editor.commands.ExpandLevel"
                  label="%command.label.2 4">
               <parameter
                     name="level"
                     value="4">
               </parameter>
            </command>
            <command
                  commandId="com.aptana.editor.commands.ExpandLevel"
                  label="%command.label.3 5">
               <parameter
                     name="level"
                     value="5">
               </parameter>
            </command>
            <command
                  commandId="com.aptana.editor.commands.ExpandLevel"
                  label="%command.label.4 6">
               <parameter
                     name="level"
                     value="6">
               </parameter>
            </command>
            <command
                  commandId="com.aptana.editor.commands.ExpandLevel"
                  label="%command.label.5 7">
               <parameter
                     name="level"
                     value="7">
               </parameter>
            </command>
            <command
                  commandId="com.aptana.editor.commands.ExpandLevel"
                  label="%command.label.6 8">
               <parameter
                     name="level"
                     value="8">
               </parameter>
            </command>
            <command
                  commandId="com.aptana.editor.commands.ExpandLevel"
                  label="%command.label.7 9">
               <parameter
                     name="level"
                     value="9">
               </parameter>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.aptana.editor.toggleWordWrapCommand"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="com.aptana.editor.common.AbstractThemeableEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="com.aptana.editor.common.internal.handlers.ToggleOutlineHandler"
            description="%command.toggleoutline.description Toggle to show or hide Outline view"
            id="com.aptana.editor.common.commands.toggleOutline"
            name="%command.toggleoutline.name Show/Hide Outline">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:true"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="%command.gotomatchingbracket.description Goto Matching Bracket"
            id="com.aptana.editor.common.gotoMatchingBracket"
            name="%command.gotomatchingbracket.name Goto Matching Bracket">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.editor.common.commands.toggleOutline"
            icon="icons/full/eview16/outline_co.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.menus.showInMenu">
         <dynamic
               class="com.aptana.ui.commands.OpenFileManagerContributionItem"
               id="com.aptana.editor.common.open.in.file.manager">
         </dynamic>
         <command
               commandId="com.aptana.terminal.commands.openTerminal"
               label="%command.terminal.label Terminal"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:file?before=new.ext">
         <menu
               id="com.aptana.file.template.menu"
               label="%menu.file.template.label New From Template">
         </menu>
      </menuContribution>
	</extension>
	<extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="com.aptana.editor.ui.hyperlinkTarget"
            name="%target.name">
      </target>
   </extension>
    <extension
          point="com.aptana.core.userAgent">
       <user-agent
             icon="icons/ie_icon.png"
             icon-disabled="icons/ie_icon_grey.png"
             id="IE"
             name="Internet Explorer">
       </user-agent>
       <user-agent
             icon="icons/firefox_icon.png"
             icon-disabled="icons/firefox_icon_grey.png"
             id="Mozilla"
             name="Firefox">
       </user-agent>
       <user-agent
             icon="icons/netscape_icon.png"
             icon-disabled="icons/netscape_icon_grey.png"
             id="Netscape"
             name="Netscape">
       </user-agent>
       <user-agent
             icon="icons/opera_icon.png"
             icon-disabled="icons/opera_icon_grey.png"
             id="Opera"
             name="Opera">
       </user-agent>
       <user-agent
             icon="icons/safari_icon.png"
             icon-disabled="icons/safari_icon_grey.png"
             id="Safari"
             name="Safari">
       </user-agent>
       <user-agent
             icon="icons/chrome_icon.png"
             icon-disabled="icons/chrome_icon_grey.png"
             id="Chrome"
             name="Chrome">
       </user-agent>
       <default-user-agents
             name="Default User Agents for the Web Nature"
             nature-id="com.aptana.projects.webnature">
          <user-agent-ref
                user-agent-id="IE">
          </user-agent-ref>
          <user-agent-ref
                user-agent-id="Mozilla">
          </user-agent-ref>
          <user-agent-ref
                user-agent-id="Chrome">
          </user-agent-ref>
       </default-user-agents>
       <default-user-agents
             name="Default User Agents for Unknown Natures"
             nature-id="&lt;other&gt;">
          <user-agent-ref
                user-agent-id="IE">
          </user-agent-ref>
          <user-agent-ref
                user-agent-id="Mozilla">
          </user-agent-ref>
          <user-agent-ref
                user-agent-id="Chrome">
          </user-agent-ref>
       </default-user-agents>
    </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.editor.common.preferences.EditorsPreferencePage"
            id="com.aptana.editor.common.preferences.EditorsPreferencePage"
            name="%page.editors.name Editors"/>
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.editor.common.preferences.TasksPreferencePage"
            id="com.aptana.editor.common.preferences.TasksPreferencePage"
            name="%page.tasks.name Tasks">
      </page>
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.editor.common.preferences.ValidationPreferencePage"
            id="com.aptana.editor.common.ValidationPreferencePage"
            name="%page.validation.name Validation">
      </page>
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.editor.common.spelling.SpellingPreferencePage"
            id="com.aptana.editor.common.spelling"
            name="%page.spelling.name Spelling">
         <keywordReference
               id="org.eclipse.ui.editors.spelling">
         </keywordReference>
      </page>
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.editor.common.preferences.ContentAssistPreferencePage"
            id="com.aptana.editor.common.contentAssistPreferencePage"
            name="%content.assist.pref.page.title Content Assist">
      </page>            
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.aptana.editor.common.preferences.ContentAssistPreferencePage"
            id="com.aptana.editor.common.contentAssistPropertyPage"
            name="%content.assist.pref.page.title Content Assist">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="com.aptana.editor.common.text.hyperlink.HyperlinkDetector"
            id="com.aptana.editor.common.hyperlinkDetector"
            name="%hyperlinkDetector.name URL Links"
            targetId="com.aptana.editor.ui.hyperlinkTarget">
      </hyperlinkDetector>
   </extension>
   
    <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
         name="com.aptana.editor.common.error"
         super="org.eclipse.ui.workbench.texteditor.error"
         markerType="com.aptana.core.problem"
         markerSeverity="2">
      </type>
      <type
         name="com.aptana.editor.common.warning"
         super="org.eclipse.ui.workbench.texteditor.warning"
         markerType="com.aptana.core.problem"
         markerSeverity="1">
      </type>
      <type
         name="com.aptana.editor.common.info"
         super="org.eclipse.ui.workbench.texteditor.info"
         markerType="com.aptana.core.problem"
         markerSeverity="0">
      </type>
      <type
            markerSeverity="0"
            name="com.aptana.editor.common.occurrence">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.aptana.editor.common.occurrence"
            colorPreferenceKey="OccurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            contributesToHeader="false"
            highlightPreferenceKey="OccurrenceHighlighting"
            highlightPreferenceValue="true"
            icon="icons/full/obj16/searchm_obj.gif"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            label="%occurrence.marker"
            overviewRulerPreferenceKey="OccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            textPreferenceKey="OccurrenceIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="OccurrenceTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="OccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.editor.common.presentation"
            label="%editor.presentation Common Editor Presentation"
            visible="false">
         <action
               allowLabelUpdate="true"
               definitionId="com.aptana.editor.common.toggleMarkOccurrences"
               disabledIcon="icons/full/dtool16/mark_occurrences.gif"
               icon="icons/full/etool16/mark_occurrences.gif"
               id="com.aptana.editor.common.toggleMarkOccurrences"
               label="%presentation.label Mark Occurrences"
               retarget="true"
               style="toggle"
               toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation"
               tooltip="%presentation.tooltip Mark Occurrences">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.aptana.ui.WebPerspective">
         <actionSet
               id="com.aptana.editor.common.presentation">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            contentTypeId="org.eclipse.core.runtime.text"
            class="com.aptana.editor.common.CommonAnnotationModelFactory"/>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aptana.editor.common.internal.handlers.GotoMatchingBracketHandler"
            commandId="com.aptana.editor.common.gotoMatchingBracket">
         <enabledWhen>
            <with
                  variable="activePart">
               <instanceof
                     value="com.aptana.editor.common.AbstractThemeableEditor">
               </instanceof>
            </with>
         </enabledWhen>
      </handler>
   </extension>
</plugin>