<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.ide.ui.io.internal.FileSystemObjectPropertyTester"
            id="com.aptana.ide.ui.io.navigator.filePropertyTester"
            namespace="com.aptana.ide.ui.io.navigator.file"
            properties="isDirectory, isLocal, isSymlink, isPrivate"
            type="com.aptana.ide.ui.io.navigator.FileSystemObject">
      </propertyTester>
      <propertyTester
            class="com.aptana.ide.ui.io.internal.ResourcePropertyTester"
            id="com.aptana.ide.ui.io.navigator.resourcePropertyTester"
            namespace="com.aptana.ide.ui.io.navigator.resource"
            properties="isAccessible"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
      <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.aptana.ui.io.navigator.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
       <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
             <actionExtension
                   pattern="com.aptana.ide.ui.io.navigator.actions.*">
             </actionExtension>
         </includes>
       </viewerActionBinding>
       <dragAssistant
             class="com.aptana.ide.ui.io.navigator.resources.FileDragAdapterAssistant"
             viewerId="org.eclipse.ui.navigator.ProjectExplorer">
       </dragAssistant>
   </extension>
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.aptana.ide.ui.io.navigator.ProjectExplorerContentProvider"
            icon="icons/full/obj16/drive.png"
            id="com.aptana.ide.ui.io.navigatorContent"
            labelProvider="com.aptana.ide.ui.io.navigator.FileTreeLabelProvider"
            name="%navigatorContent.default.name"
            priority="normal">
         <triggerPoints>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.LocalFileSystems">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.WindowsFileSystemRoot">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.LocalRoot">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.LocalFileSystems">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.WindowsFileSystemRoot">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.LocalRoot">
               </instanceof>
            </or>
         </possibleChildren>
         <commonSorter
               class="com.aptana.ide.ui.io.navigator.FileTreeNameSorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.LocalFileSystems">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.WindowsFileSystemRoot">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.core.io.LocalRoot">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.filesystem.IFileStore">
                  </adapt></or>
            </parentExpression>
         </commonSorter>
         <dropAssistant
               class="com.aptana.ide.ui.io.navigator.resources.FileDropAdapterAssistant"
               id="com.aptana.ide.ui.io.navigator.resources.fileDropAdapter">
            <possibleDropTargets>
               <or>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
                  <instanceof
                        value="com.aptana.ide.core.io.LocalRoot">
                  </instanceof>
               </or></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.OpenActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.OpenActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.ui.io.navigator.FileSystemObject">
            </instanceof>
            <test
                  property="com.aptana.ide.ui.io.navigator.file.isDirectory"
                  value="false">
            </test>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemNewActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.FileSystemNewActions">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof>
                  <test
                        property="com.aptana.ide.ui.io.navigator.file.isLocal"
                        value="true">
                  </test>
               </and>
               <instanceof
                     value="com.aptana.ide.core.io.LocalRoot">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemNewFromTemplateActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.FileSystemNewFromTemplateActions">
         <enablement>
            <or>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.LocalRoot">
               </instanceof>
               <and>
                  <instanceof
                        value="com.aptana.ide.core.io.IConnectionPoint">
                  </instanceof>
                  <test
                        property="com.aptana.ide.core.io.connection.canDisconnect"
                        value="true">
                  </test>
               </and>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemEditActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.FileSystemEditActions">
         <enablement>
            <or>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.LocalRoot">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemRefactorActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.FileSystemRefactorActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.ui.io.navigator.FileSystemObject">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemMgmtActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.FileSystemMgmtActions">
         <enablement>
            <or>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.LocalRoot">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPoint">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPointCategory">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.LocalFileSystems">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.WindowsFileSystemRoot">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.navigator.resources.GoIntoActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.FileSystemGoIntoActions">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof>
                  <test
                        property="com.aptana.ide.ui.io.navigator.file.isDirectory"
                        value="true">
                  </test>
                  <test
                        property="com.aptana.ide.ui.io.navigator.file.isPrivate"
                        value="false">
                  </test>
               </and>
               <instanceof
                     value="com.aptana.ide.core.io.LocalRoot">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPoint">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPointCategory">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.LocalFileSystems">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.WindowsFileSystemRoot">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.RemoteNewActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.RemoteNewActions"
            overrides="com.aptana.ide.ui.io.navigator.actions.FileSystemNewActions">
         <enablement>
            <or>
               <and>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof>
                  <test
                        property="com.aptana.ide.ui.io.navigator.file.isLocal"
                        value="false">
                  </test>
               </and>
               <and>
                  <instanceof
                        value="com.aptana.ide.core.io.IConnectionPoint">
                  </instanceof>
                  <test
                        property="com.aptana.ide.core.io.connection.canDisconnect"
                        value="true">
                  </test>
               </and>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.ConnectionPointEditActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.ConnectionPointEditActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.core.io.IConnectionPoint">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.LocalShortcutsExtendedActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.LocalShortcutsExtendedActions">
         <enablement>
            <and>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPointCategory">
               </instanceof>
               <test
                     property="com.aptana.ide.core.io.connection.category.id"
                     value="com.aptana.ide.core.io.localShortcuts">
               </test>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.ResourceEditActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.ResourceEditActions"
            overrides="org.eclipse.ui.navigator.resources.actions.EditActions"
            priority="high">
         <enablement>
            <and>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="com.aptana.projects.webnature">
               </test>
            </and>
         </enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="true"
            class="com.aptana.ide.ui.io.navigator.FileSystemDotFilter"
            description="%commonFilter.startsWithDot.description"
            id="com.aptana.ide.ui.io.navigator.filters.startsWithDot"
            name="%commonFilter.startsWithDot.name">
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            description="%commonFilter.localshortcuts.description"
            id="com.aptana.ui.io.navigator.filters.localShortcuts"
            name="%commonFilter.localshortcuts.name">
         <filterExpression>
            <and>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPointCategory">
               </instanceof>
               <test
                     property="com.aptana.ide.core.io.connection.category.id"
                     value="com.aptana.ide.core.io.localShortcuts">
               </test>
            </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <!-- extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.aptana.ide.ui.io.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension -->
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPointManager"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPointCategory"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPoint"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.LocalRoot"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.filesystem.IFileStore"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPointCategory"
            class="com.aptana.ide.ui.io.actions.ConnectionActionFilter$Factory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPoint"
            class="com.aptana.ide.ui.io.actions.ConnectionActionFilter$Factory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.ui.io.navigator.FileSystemObject"
            class="com.aptana.ide.ui.io.actions.FileSystemActionFilter$Factory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
         <adapter
               type="org.eclipse.core.filesystem.IFileStore">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.auth.AuthenticationManager"
            class="com.aptana.ide.ui.io.auth.AuthenticationPrompt$Factory">
         <adapter
               type="com.aptana.ide.core.io.auth.IAuthenticationPrompt">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.aptana.ide.ui.io.properties.FileInfoPropertyPage"
            id="com.aptana.ide.ui.io.properties.FilePropertyPage"
            name="%propertyPage.resource.name">
         <enabledWhen>
            <or>
               <instanceof
                     value="com.aptana.ide.core.io.LocalRoot">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.ide.ui.io.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/full/ovr16/symlink.png"
            id="com.aptana.ide.ui.io.decorators.fileSystemDecorator"
            label="%decorator.filesystem.label"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </objectClass>
               <objectState
                     name="isSymlink"
                     value="true">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/full/ovr16/private.png"
            id="com.aptana.ide.ui.io.decorators.filePrivateDecorator"
            label="%decorator.private.label"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </objectClass>
               <objectState
                     name="isPrivate"
                     value="true">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            class="com.aptana.ide.ui.io.navigator.ConnectionPointLabelDecorator"
            id="com.aptana.ui.io.decorators.connectionPointDecorator"
            label="%decorator.remote.label"
            lightweight="false"
            state="true">
         <enablement>
            <objectClass
                  name="com.aptana.ide.core.io.IBaseRemoteConnectionPoint">
            </objectClass>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="com.aptana"
            class="com.aptana.ide.ui.io.navigator.RemoteNavigatorView"
            icon="icons/full/eview16/remote.png"
            id="com.aptana.ui.io.remoteview"
            name="%view.remote.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.aptana.ui.io.remoteview">
         <popupMenu
               allowsPlatformContributions="true"
               id="com.aptana.ui.io.remoteview#PopupMenu">
            <insertionPoint
                  name="group.new">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.openWith">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.reorganize">
            </insertionPoint>
            <insertionPoint
                  name="group.build"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.studio"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="com.aptana.ui.io.remoteview">
         <includes>
            <contentExtension
                  pattern="com.aptana.ide.ui.io.remoteNavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="com.aptana.ide.ui.io.navigator.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="com.aptana.ui.io.navigator.linkHelper">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.aptana.ui.io.remoteview">
         <includes>
            <actionExtension
                  pattern="com.aptana.ide.ui.io.navigator.actions.*">
            </actionExtension>
            <actionExtension
                  pattern="com.aptana.ui.remote.actions.*">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.PropertiesActionProvider">
            </actionExtension>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.ResourceMgmtActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <dragAssistant
            class="com.aptana.ide.ui.io.navigator.resources.FileDragAdapterAssistant"
            viewerId="com.aptana.ui.io.remoteview">
      </dragAssistant>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.aptana.ide.ui.io.navigator.RemoteTreeContentProvider"
            icon="icons/full/eview16/remote.png"
            id="com.aptana.ide.ui.io.remoteNavigatorContent"
            labelProvider="com.aptana.ide.ui.io.navigator.FileTreeLabelProvider"
            name="%navigatorContent.remote.name"
            priority="high">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IWorkspaceRoot">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPointCategory">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPoint">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
            </or>
         </enablement>
         <commonSorter
               class="com.aptana.ide.ui.io.navigator.FileTreeNameSorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IWorkspaceRoot">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.core.io.IConnectionPointCategory">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.core.io.IConnectionPoint">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
         <possibleChildren>
            <or>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPointCategory">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPoint">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
            </or>
         </possibleChildren>
         <dropAssistant
               class="com.aptana.ide.ui.io.navigator.resources.FileDropAdapterAssistant"
               id="com.aptana.ide.ui.io.navigator.resources.fileDropAdapter">
            <possibleDropTargets>
               <or>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.core.io.IConnectionPoint">
                  </instanceof>
               </or>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.ui.io.connectionPointContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPoint">
         <action
               class="com.aptana.ide.ui.io.actions.ConnectionPropertiesAction"
               enablesFor="1"
               id="com.aptana.ide.ui.io.actions.connectionProperties"
               label="%connectionPropertiesAction.label"
               menubarPath="group.properties">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.ui.io.disconnectableConnectionPointContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPoint">
         <action
               class="com.aptana.ide.ui.io.actions.DisconnectAction"
               enablesFor="1"
               icon="icons/full/etool16/disconnect.png"
               id="com.aptana.ide.ui.io.actions.DisconnectAction"
               label="%disconnectAction.label"
               menubarPath="group.edit">
         </action>
         <visibility>
            <objectState
                  name="canDisconnect"
                  value="true">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ui.io.localCategoryContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPointCategory">
         <action
               class="com.aptana.ide.ui.io.actions.NewLocalConnectionAction"
               enablesFor="1"
               icon="icons/full/etool16/add.png"
               id="com.aptana.ide.ui.io.actions.newLocalConnection"
               label="%action.new.localshortcut.label"
               menubarPath="group.new">
         </action>
         <visibility>
            <objectState
                  name="isCategory"
                  value="com.aptana.ide.core.io.localShortcuts">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.ide.ui.io.preferences.RemotePreferencePage"
            id="com.aptana.ui.io.preferences.RemotePreferencePage"
            name="%PreferencePage.remote.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.linkHelper">
      <linkHelper
            class="com.aptana.ide.ui.io.navigator.FilesystemLinkHelper"
            id="com.aptana.ui.io.navigator.linkHelper">
         <editorInputEnablement>
            <instanceof
                  value="org.eclipse.ui.ide.FileStoreEditorInput">
            </instanceof></editorInputEnablement>
         <selectionEnablement>
            <and>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
               <test
                     property="com.aptana.ide.ui.io.navigator.file.isDirectory"
                     value="false">
               </test>
            </and>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.aptana.ide.ui.io.internal.UniformFileStoreEditorInputFactory"
            id="com.aptana.ui.io.UniformFileStoreEditorInputFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.ui.io.compare.CompareWithEachOtherHandler"
            description="%action.compare.eachother.tooltip"
            id="com.aptana.ui.io.commands.compareWithEachOther"
            name="%action.compare.eachother.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.aptana.ui.io.remoteview?after=additions">
         <command
               commandId="com.aptana.ui.ftp.command.add"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.aptana.ui.io.remoteview?after=additions">
         <command
               commandId="com.aptana.ui.s3.command.add"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               label="%menu.compare.label">
            <command
                  commandId="com.aptana.ui.io.commands.compareWithEachOther"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <count
                           value="2">
                     </count>
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.filesystem.IFileStore">
                        </adapt>
                     </iterate>
                  </and>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="com.aptana.ui.propertyDialogs">
      <dialog
            class="com.aptana.ide.ui.io.internal.LocalConnectionPropertyDialogProvider"
            id="com.aptana.ui.io.dialogs.localConnection"
            objectClass="com.aptana.ide.core.io.LocalConnectionPoint">
      </dialog>
   </extension>

</plugin>
