H1 {
    /*This is a long comment: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas volutpat, sem sit amet consequat commodo, nisi quam volutpat est, suscipit tincidunt velit leo vitae odio. */
    color: white;
    background: teal;
    FONT-FAMILY: arial, helvetica, lucida-sans, sans-serif;
    FONT-SIZE: 18pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

