<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.aptana.ui.internal.WebPerspectiveFactory"
            icon="icons/web.png"
            id="com.aptana.ui.WebPerspective"
            name="%perspective.name.web">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.aptana.ui.WebPerspective">
         <viewShortcut
               id="com.aptana.explorer.view">
         </viewShortcut>
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               relationship="stack"
               relative="com.aptana.explorer.view"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               ratio="0.75"
               relationship="bottom"
               relative="com.aptana.explorer.view"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <viewShortcut
               id="com.aptana.terminal.views.terminal">
         </viewShortcut>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="com.aptana.terminal.views.terminal"
               visible="false">
         </view>
         <view
               id="org.eclipse.pde.runtime.LogView"
               relationship="stack"
               relative="com.aptana.terminal.views.terminal"
               visible="false">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               relative="com.aptana.terminal.views.terminal"
               visible="false">
         </view>
         <view
               id="org.eclipse.ui.views.TaskList"
               relationship="stack"
               relative="com.aptana.terminal.views.terminal"
               visible="false">
         </view>
         <newWizardShortcut
               id="com.aptana.ui.wizards.new.file">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <actionSet
               id="org.eclipse.ui.NavigateActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.ui.edit.text.actionSet.presentation">
         </actionSet>
         <newWizardShortcut
               id="com.aptana.ui.wizards.NewWebProject">
         </newWizardShortcut>
         <actionSet
               id="com.aptana.editor.common.globalActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.aptana.ui.wizards.category"
            class="com.aptana.ui.internal.wizards.NewProjectWizard"
            finalPerspective="com.aptana.ui.WebPerspective"
            icon="icons/new_web_project.gif"
            id="com.aptana.ui.wizards.NewWebProject"
            name="Web Project"
            preferredPerspectives="com.aptana.ui.WebPerspective"
            project="true">
         <description>
            Create a new web project
         </description>
      </wizard>
      <category
            id="com.aptana.ui.wizards.category"
            name="Web">
      </category>
      <primaryWizard
            id="com.aptana.ui.wizards.NewWebProject">
      </primaryWizard>
   </extension>
   <extension
         id="webnature"
         name="Web Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.aptana.ui.projects.WebProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/webnature.gif"
            id="com.aptana.ui.webnature.image"
            natureId="com.aptana.ui.webnature">
      </image>
   </extension>

</plugin>
