<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.aptana.ui.internal.WebPerspectiveFactory"
            icon="icons/web.png"
            id="com.aptana.ui.WebPerspective"
            name="%perspective.name.web">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.aptana.ui.WebPerspective">
         <view
               id="com.aptana.explorer.view"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <viewShortcut
               id="com.aptana.explorer.view">
         </viewShortcut>
         <view
               id="org.eclipse.ui.navigator.ProjectExplorer"
               minimized="false"
               relationship="stack"
               relative="com.aptana.explorer.view"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.ui.navigator.ProjectExplorer">
         </viewShortcut>
         <view
               id="org.eclipse.ui.views.ContentOutline"
               ratio="0.75"
               relationship="bottom"
               relative="com.aptana.explorer.view"
               visible="true">
         </view>
         <viewShortcut
               id="org.eclipse.ui.views.ContentOutline">
         </viewShortcut>
         <view
               id="com.aptana.terminal.views.terminal"
               ratio="0.75"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
         <viewShortcut
               id="com.aptana.terminal.views.terminal">
         </viewShortcut>
         <view
               id="org.eclipse.ui.console.ConsoleView"
               minimized="false"
               relationship="stack"
               relative="com.aptana.terminal.views.terminal"
               visible="false">
         </view>
         <view
               id="org.eclipse.pde.runtime.LogView"
               relationship="stack"
               relative="com.aptana.terminal.views.terminal"
               visible="false">
         </view>
         <view
               id="org.eclipse.ui.views.ProblemView"
               relationship="stack"
               relative="com.aptana.terminal.views.terminal"
               visible="false">
         </view>
         <view
               id="org.eclipse.ui.views.TaskList"
               relationship="stack"
               relative="com.aptana.terminal.views.terminal"
               visible="false">
         </view>
         <newWizardShortcut
               id="com.aptana.ui.wizards.new.file">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.eclipse.ui.wizards.new.folder">
         </newWizardShortcut>
         <actionSet
               id="org.eclipse.ui.NavigateActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.ui.edit.text.actionSet.presentation">
         </actionSet>
      </perspectiveExtension>
   </extension>

</plugin>
