<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.aptana.core.io.connectionPoint">
      <connectionPointCategory
            id="com.aptana.filesystem.ftp.ftpCategory"
            name="%connectionPointCategory.name.ftp"
            order="100"
            remote="true">
      </connectionPointCategory>
      <connectionPointType
            category="com.aptana.filesystem.ftp.ftpCategory"
            class="com.aptana.filesystem.ftp.FTPConnectionPoint"
            id="ftp"
            name="%connectionPointType.name.ftp">
      </connectionPointType>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.filesystem.ftp.preferences.FTPPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="ftp">
         <run
               class="com.aptana.filesystem.ftp.FTPFileSystem">
         </run>
      </filesystem>
   </extension>

</plugin>
