<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="dtd"
            id="com.aptana.contenttype.dtd"
            name="%content-type.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.dtd.core.parsing.DTDParser"
            content-type="com.aptana.contenttype.dtd">
      </parser>
   </extension>
</plugin>
