.DS_Store
bin/
CVS/
*~
*.swp
*.aps
*.ncb
*.suo
*.user
*.sass-cache
.pmd
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
native/**/Debug/
native/**/Release/
native/**/UpgradeLog*.XML
native/**/_UpgradeReport_Files/
tests/com.aptana.scripting.tests/application-bundles/**/cache*.yml
tests/com.aptana.scripting.tests/user-bundles/**/cache*.yml
tests/com.aptana.scripting.tests/project-bundles/**/cache*.yml
tests/com.aptana.studio.tests.all/wintest
.metadata
.recordings
runtime-New_configuration/
plugins/com.aptana.scripting/bundles/**/
.mu_repo
builders/com.aptana.studio.tests.build/build.properties
builders/com.aptana.studio.tests.build/eclipse-test-framework-4.3.1/**/*
npm-debug.log
