<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.js.JSSourceEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="js,htc,jsx,chromium"
            icon="icons/js.png"
            id="com.aptana.editor.js"
            name="%editor.js.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.js">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.aptana.editor.js.context"
            name="JS Editor"
            parentId="com.aptana.editor.context">
      </context>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.js.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorContext?after=additions">
         <command
               commandId="com.aptana.editor.js.quick_outline"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.editor.js.outline.QuickOutlineHandler"
            id="com.aptana.editor.js.quick_outline"
            name="%command.quickoutline.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            description="%openDeclaration.description"
            id="com.aptana.editor.js.openDeclaration"
            name="%openDeclaration.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.aptana.editor.js.quick_outline"
            contextId="com.aptana.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="com.aptana.editor.js.openDeclaration"
            contextId="com.aptana.editor.js.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.editor.common.preferences.EditorsPreferencePage"
            class="com.aptana.editor.js.preferences.JSPreferencePage"
            id="com.aptana.editor.js.preferences.JSPreferencePage"
            name="%page.js.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            class="com.aptana.editor.common.ExternalFileAnnotationModelFactory"
            contentTypeId="com.aptana.contenttype.js">
      </factory>
   </extension>
   <extension
         point="com.aptana.editor.common.textHovers">
      <hover
            class="com.aptana.editor.js.text.JSTextHover"
            id="com.aptana.editor.js.hover"
            label="%js.hover.label">
         <contentType
               type="com.aptana.contenttype.js">
         </contentType>
          <enablement>
         </enablement>
      </hover>
   </extension>
      <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="com.aptana.editor.js.sourceCode"
            name="%jshyperlink.description">
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="com.aptana.editor.js.hyperlink.JSHyperlinkDetector"
            id="com.aptana.editor.js.hyperlinkDetector"
            name="%hyperlinkDetector.name"
            targetId="com.aptana.editor.js.sourceCode">
      </hyperlinkDetector>
   </extension>
   <extension
         point="com.aptana.index.core.ui.indexViewContributors">
      <contributor
            action-provider="com.aptana.editor.js.views.JSIndexViewActionProvider"
            content-provider="com.aptana.editor.js.views.JSIndexViewContentProvider"
            label-provider="com.aptana.editor.js.views.JSIndexViewLabelProvider"
            name="%js.index.view.contributors">
      </contributor>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.js.contentMergeViewer"
            contentTypeId="com.aptana.contenttype.js">
      </contentTypeBinding>
      <viewer
            class="com.aptana.editor.js.internal.JSMergeViewerCreator"
            extensions="js,jsx,htc"
            id="com.aptana.editor.js.contentMergeViewer">
      </viewer>
   </extension>
   <extension
         point="com.aptana.build.ui.buildParticipantPreferenceComposite">
      <preferenceComposite
            buildParticipantId="com.aptana.js.core.JSParserValidator"
            class="com.aptana.editor.js.validator.JSParserValidatorPreferenceCompositeFactory">
      </preferenceComposite>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.editor.js.preferences.NodePreferencePage"
            id="com.aptana.editor.js.nodejs.page"
            name="%node.pref_page.name">
      </page>
   </extension>
</plugin>
