<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.aptana.index.core.fileIndexingParticipants" name="%extension-point.name" schema="schema/fileIndexingParticipants.exsd"/>
   <extension-point id="com.aptana.index.core.indexFilterParticipants" name="%extension-point.indexfilter.name" schema="schema/indexFilterParticipants.exsd"/>
   <extension-point id="com.aptana.index.core.fileContributors" name="%extension-point.file-contributors.name" schema="schema/fileContributors.exsd"/>
<extension
         point="com.aptana.index.core.indexFilterParticipants">
      <filter
            class="com.aptana.index.core.filter.IndexFilterParticipant"
            name="Preference-based index filter">
      </filter>
   </extension>
   <extension
         point="org.eclipse.equinox.preferences.preferences">
      <initializer
            class="com.aptana.index.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
