<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="projectTemplates" name="%extension-point.project.templates.name" schema="schema/projectTemplates.exsd"/>
   <extension-point id="projectListeners" name="%extension-point.project.listeners.name" schema="schema/projectListeners.exsd"/>
   <extension-point id="projectWizardContributors" name="%extension-point.project.contributors.name" schema="schema/projectWizardContributors.exsd"/>
   <extension
         id="webnature"
         name="%extension.webnature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.aptana.projects.WebProjectNature">
         </run>
      </runtime>
      <content-type
            id="com.aptana.contenttype.beaver">
      </content-type>
      <content-type
            id="com.aptana.contenttype.coffeescript">
      </content-type>
      <content-type
            id="com.aptana.contenttype.css">
      </content-type>
      <content-type
            id="com.aptana.contenttype.diff">
      </content-type>
      <content-type
            id="com.aptana.contenttype.dtd">
      </content-type>
      <content-type
            id="com.aptana.contenttype.html">
      </content-type>
      <content-type
            id="com.aptana.contenttype.idl">
      </content-type>
      <content-type
            id="com.aptana.contenttype.js">
      </content-type>
      <content-type
            id="com.aptana.contenttype.jsca">
      </content-type>
      <content-type
            id="com.aptana.contenttype.jsca">
      </content-type>
      <content-type
            id="com.appcelerator.titanium.contenttype.jss">
      </content-type>
      <content-type
            id="com.aptana.contenttype.markdown">
      </content-type>
      <content-type
            id="com.aptana.contenttype.sdocml">
      </content-type>
      <content-type
            id="com.aptana.contenttype.svg">
      </content-type>
      <content-type
            id="com.aptana.contenttype.xsl">
      </content-type>
      <content-type
            id="com.aptana.editor.text.content-type.generic">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/webnature.gif"
            id="com.aptana.projects.webnature.image"
            natureId="com.aptana.projects.webnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.aptana.ui.wizards.category"
            class="com.aptana.projects.internal.wizards.NewWebProjectWizard"
            finalPerspective="com.aptana.ui.WebPerspective"
            icon="icons/new_web_project.png"
            id="com.aptana.ui.wizards.NewWebProject"
            name="%wizard.webproject.name"
            preferredPerspectives="com.aptana.ui.WebPerspective,com.appcelerator.titanium.ui.StudioPerspective"
            project="true">
         <description>
            %wizard.webproject.description
         </description>
      </wizard>
   </extension>
   <extension
     point="org.eclipse.ui.importWizards">
  		<wizard
          category="org.eclipse.ui.Basic"
          class="com.aptana.projects.internal.wizards.PromoteToProjectWizard"
          icon="platform:/plugin/org.eclipse.ui.ide/icons/full/etool16/newprj_wiz.gif"
          id="com.aptana.projects.internal.wizards.PromoteToProjectWizard"
          name="%ImportWizards.ExternalFolder">
     	<description>
        	%ImportWizards.ExternalFolderDescription
     	</description>
  		</wizard>
	</extension>   
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            id="com.aptana.projects.filters.projectFilesFilter"
            name="%commonFilter.projectfiles.name">
         <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IFile">
              </adapt>
             
             <or>
               <test
                     property="org.eclipse.core.resources.name"
                     value=".project">
               </test>
               <test
                     property="org.eclipse.core.resources.name"
                     value=".settings">
               </test>
               <test
                     property="org.eclipse.core.resources.name"
                     value=".classpath">
               </test>
               <test
                     property="org.eclipse.core.resources.name"
                     value=".git">
               </test>
             </or>
           </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.aptana.projects.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="com.aptana.explorer.view">
         <includes>
            <contentExtension
                  pattern="com.aptana.projects.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
     point="org.eclipse.ui.commands">
	   <command
	        defaultHandler="com.aptana.projects.actions.PromoteToProjectHandler"
	        id="com.aptana.projects.promote"
	        name="%PromoteToProject_tooltip">
	  </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.projects.promote"
            icon="icons/folder_project.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=group.edit">
         <command
               commandId="com.aptana.projects.promote"
               id="com.aptana.projects.PromoteToProject"
               label="%PromoteToProject_label"
               tooltip="%PromoteToProject_tooltip">
			<visibleWhen>
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="com.aptana.ide.ui.io.navigator.FileSystemObject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
   </menuContribution>
	</extension>
   <extension
         point="com.aptana.samples.samplespath">
      <category
            icon="icons/new_web_project.png"
            id="com.aptana.projects.samples.web.category"
            name="%category.sample.web.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="com.aptana.projects.templates.ConflictStatusHandler"
            code="128"
            id="com.aptana.projects.conflictsStatusHandler"
            plugin="com.aptana.core">
      </statusHandler>
   </extension>
   <extension
         point="com.aptana.core.epl.primaryNatureContributors">
      <contributor
            class="com.aptana.projects.WebProjectPrimaryNatureContributor"
            natureId="com.aptana.projects.webnature">
      </contributor>
   </extension>
</plugin>
