<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="webnature"
         name="%extension.webnature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.aptana.projects.WebProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/webnature.gif"
            id="com.aptana.projects.webnature.image"
            natureId="com.aptana.projects.webnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.aptana.ui.wizards.category"
            class="com.aptana.projects.internal.wizards.NewProjectWizard"
            finalPerspective="com.aptana.ui.WebPerspective"
            icon="icons/new_web_project.png"
            id="com.aptana.ui.wizards.NewWebProject"
            name="%wizard.webproject.name"
            preferredPerspectives="com.aptana.ui.WebPerspective"
            project="true">
         <description>
            %wizard.webproject.description
         </description>
      </wizard>
      <category
            id="com.aptana.ui.wizards.category"
            name="%category.web.name">
      </category>
      <primaryWizard
            id="com.aptana.ui.wizards.NewWebProject">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.aptana.ui.WebPerspective">
         <newWizardShortcut
               id="com.aptana.ui.wizards.NewWebProject">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            id="com.aptana.projects.filters.projectFilesFilter"
            name="Project Files">
         <filterExpression>
           <and>
              <adapt
                    type="org.eclipse.core.resources.IFile">
              </adapt>
             
             <or>
               <test
                     property="org.eclipse.core.resources.name"
                     value=".project">
               </test>
               <test
                     property="org.eclipse.core.resources.name"
                     value=".settings">
               </test>
               <test
                     property="org.eclipse.core.resources.name"
                     value=".classpath">
               </test>
               <test
                     property="org.eclipse.core.resources.name"
                     value=".git">
               </test>
             </or>
           </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.aptana.projects.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerContentBinding
            viewerId="com.aptana.explorer.view">
         <includes>
            <contentExtension
                  pattern="com.aptana.projects.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>

</plugin>
