<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="webnature"
         name="%extension.webnature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.aptana.projects.WebProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/webnature.gif"
            id="com.aptana.ui.webnature.image"
            natureId="com.aptana.projects.webnature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="com.aptana.ui.wizards.category"
            class="com.aptana.projects.internal.wizards.NewProjectWizard"
            finalPerspective="com.aptana.ui.WebPerspective"
            icon="icons/new_web_project.png"
            id="com.aptana.ui.wizards.NewWebProject"
            name="%wizard.webproject.name"
            preferredPerspectives="com.aptana.ui.WebPerspective"
            project="true">
         <description>
            %wizard.webproject.description
         </description>
      </wizard>
      <category
            id="com.aptana.ui.wizards.category"
            name="%category.web.name">
      </category>
      <primaryWizard
            id="com.aptana.ui.wizards.NewWebProject">
      </primaryWizard>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.projects.internal.ProjectPropertyTester"
            id="com.aptana.ui.ProjectPropertyTester"
            namespace="com.aptana.ui.project"
            properties="nature"
            type="org.eclipse.core.resources.IProject">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.aptana.ui.WebPerspective">
         <newWizardShortcut
               id="com.aptana.ui.wizards.NewWebProject">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
