<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.aptana.ui.imageAssociations">
      <image
            icon="icons/full/obj16/s3.png"
            id="com.aptana.ide.filesystem.s3.s3Category">
      </image>
      <objectImage
            icon="icons/full/obj16/s3.png"
            objectClass="com.aptana.ide.filesystem.s3.S3ConnectionPoint">
      </objectImage>
   </extension>
   <extension
         point="com.aptana.ui.propertyDialogs">
      <dialog
            class="com.aptana.ui.s3.internal.S3PropertyDialogProvider"
            id="com.aptana.ide.ui.s3.dialog"
            objectClass="com.aptana.ide.filesystem.s3.S3ConnectionPoint">
      </dialog>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.aptana.ui.s3.category"
            name="%category.s3.name">
      </category>
      <command
            categoryId="com.aptana.ui.s3.category"
            defaultHandler="com.aptana.ui.s3.handlers.NewS3ConnectionHandler"
            id="com.aptana.ui.s3.command.add"
            name="%newS3ConnectionAction.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.ui.s3.command.add"
            icon="icons/full/etool16/new_connection.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.aptana.ui.io.remoteview#PopupMenu?after=group.new">
         <command
               commandId="com.aptana.ui.s3.command.add"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <count
                     value="0">
               </count>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
