<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="previewHandlers" name="%extension-point.previewHandlers.name" schema="schema/previewHandlers.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.aptana.ui.category"
            description="%command.preview.description"
            id="com.aptana.preview.commands.showPreview"
            name="%command.preview.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.preview.commands.showPreview"
            icon="icons/etool16/preview.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.preview.PreviewEditorPart"
            default="false"
            icon="icons/etool16/preview.png"
            id="com.aptana.preview.editor"
            matchingStrategy="com.aptana.preview.PreviewEditorMatchingStrategy"
            name="%editor.preview.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.aptana.preview.ui.properties.ProjectPreviewPropertyPage"
            id="com.aptana.preview.propertyPages.Preview"
            name="%page.preview.name">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
         <keywordReference
               id="com.aptana.preview.keyword"></keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.aptana.preview.keyword"
            label="%keyword.preview.label">
      </keyword>
   </extension>
   <extension
         point="com.aptana.preview.previewHandlers">
      <handler
            class="com.aptana.preview.handlers.WebServerPreviewHandler"
            contentType="com.aptana.contenttype.html">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aptana.preview.ui.handlers.ShowPreviewHandler"
            commandId="com.aptana.preview.commands.showPreview">
         <enabledWhen>
            <with
                  variable="activeEditor">
               <instanceof
                     value="org.eclipse.ui.IEditorPart">
               </instanceof>
               <test
                     forcePluginActivation="true"
                     property="com.aptana.preview.hasPreviewHandler">
               </test>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.preview.internal.HasPreviewPropertyTester"
            id="com.aptana.preview.propertyTester"
            namespace="com.aptana.preview"
            properties="hasPreviewHandler"
            type="org.eclipse.ui.IEditorPart">
      </propertyTester>
   </extension>
</plugin>
