<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="previewHandlers" name="Preview Handlers" schema="schema/previewHandlers.exsd"/>
   <extension-point id="webServerTypes" name="WebServer Types" schema="schema/webServerTypes.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.views"
            defaultHandler="com.aptana.preview.ui.handlers.ShowPreviewHandler"
            description="Show Preview Editor"
            id="com.aptana.preview.commands.showPreview"
            name="Show Preview">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.aptana.ui.globalActionSet">
            <command
                  commandId="com.aptana.preview.commands.showPreview"
                  icon="icons/etool16/preview.png"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="com.aptana.ui.contributions.inGlobalActionSet">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.preview.internal.PreviewEditorPart"
            default="false"
            icon="icons/etool16/preview.png"
            id="com.aptana.preview.editor"
            matchingStrategy="com.aptana.preview.internal.PreviewEditorMatchingStrategy"
            name="Preview Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.preview.ui.preferences.ServersPreferencePage"
            id="com.aptana.preview.preferences.previewServers"
            name="Preview Servers">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.aptana.preview.ui.properties.ProjectPreviewPropertyPage"
            icon="icons/obj16/preview.png"
            id="com.aptana.preview.propertyPages.Preview"
            name="Preview Settings">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
         <keywordReference
               id="com.aptana.preview.keyword"></keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.aptana.preview.keyword"
            label="preview">
      </keyword>
   </extension>
   <extension
         point="com.aptana.preview.previewHandlers">
      <handler
            class="com.aptana.preview.internal.impl.WebServerPreviewHandler"
            contentType="com.aptana.contenttype.html">
      </handler>
      <handler
            class="com.aptana.preview.internal.impl.PHPPreviewHandler"
            contentType="com.aptana.contenttype.html.php">
      </handler>
   </extension>
   <extension
         point="com.aptana.preview.webServerTypes">
      <type
            class="com.aptana.preview.server.SimpleWebServerConfiguration"
            id="com.aptana.preview.server.simple"
            name="Simple Web Server">
      </type>
   </extension>
   <extension
         point="com.aptana.ui.imageAssociations">
      <image
            icon="icons/obj16/server.png"
            id="com.aptana.preview.server.simple">
      </image>
   </extension>
   <extension
         point="com.aptana.ui.propertyDialogs">
      <dialog
            class="com.aptana.preview.ui.internal.SimpleWebServerPropertyDialog$Provider"
            id="com.aptana.preview.dialogs.simpleServer"
            objectClass="com.aptana.preview.server.SimpleWebServerConfiguration">
      </dialog>
   </extension>

</plugin>
