<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.aptana.core.io.connectionPoint">
      <connectionPointType
            category="com.aptana.filesystem.ftp.ftpCategory"
            class="com.aptana.filesystem.secureftp.FTPSConnectionPoint"
            id="ftps"
            name="%connectionPointType.ftps.name">
      </connectionPointType>
   </extension>
   <extension
         point="com.aptana.core.io.connectionPoint">
      <connectionPointType
            category="com.aptana.filesystem.ftp.ftpCategory"
            class="com.aptana.filesystem.secureftp.SFTPConnectionPoint"
            id="sftp"
            name="%connectionPointType.sftp.name">
      </connectionPointType>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="sftp">
         <run
               class="com.aptana.filesystem.secureftp.SFTPFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="ftps">
         <run
               class="com.aptana.filesystem.secureftp.FTPSFileSystem">
         </run>
      </filesystem>
   </extension>

</plugin>
