<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.theme.preferences.ThemePreferencePage"
            id="com.aptana.theme.preferencePage"
            name="%preferencePage.themes.name">
         <keywordReference
               id="com.aptana.theme.keywords">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="com.aptana.theme.extensions.ConsoleThemePageParticipant"
            id="com.aptana.theme.extensions.consoleThemePageParticipant">
         <enablement></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <fontDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            defaultsTo="org.eclipse.jface.textfont"
            id="com.aptana.explorer.font"
            isEditable="true"
            label="%appExplorerFont.label">
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.theme.internal.preferences.ThemerPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="com.aptana.theme.keywords"
            label="%keyword.label">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:com.aptana.theme.command.pulldown">
         <dynamic
               class="com.aptana.theme.internal.SwitchThemesPulldownContributionItem"
               id="com.aptana.theme.dynamic1">
         </dynamic>
         <separator
               name="com.aptana.theme.pulldown.separator"
               visible="true">
         </separator>
         <command
               commandId="com.aptana.theme.command.open_pref"
               label="%open.theme.prefs.command.label"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.aptana.ui.globalActionSet">
         <command
               commandId="com.aptana.theme.command.open_pref"
               icon="icons/color_wheel.png"
               id="com.aptana.theme.command.pulldown"
               label="%theme.pulldown.label"
               style="pulldown">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.theme.internal.OpenThemePreferencesHandler"
            id="com.aptana.theme.command.open_pref"
            name="%open.theme.prefs.command.name">
      </command>
   </extension>

</plugin>
