<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.theme.preferences.ThemePreferencePage"
            id="com.aptana.theme.preferencePage"
            name="%preferencePage.themes.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="com.aptana.theme.extensions.ConsoleThemePageParticipant"
            id="com.aptana.theme.extensions.consoleThemePageParticipant">
         <enablement></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            colorFactory="com.aptana.theme.internal.fontloader.FontLoader"
            id="com.aptana.theme.internal.fontloader.FontLoader"
            label="%colorDefinition.label">
      </colorDefinition>
      <theme
            id="com.aptana.theme"
            name="%customThemeName">
         <fontOverride
               id="org.eclipse.jface.textfont"
               value="Inconsolata-regular-14">
            <fontValue
                  os="win32"
                  value="Inconsolata-regular-12">
            </fontValue>
         </fontOverride>
         <fontOverride
               id="org.eclipse.ui.workbench.texteditor.blockSelectionModeFont"
               value="Inconsolata-regular-14">
            <fontValue
                  os="win32"
                  value="Inconsolata-regular-12">
            </fontValue>
         </fontOverride>
      </theme>
      <fontDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            defaultsTo="org.eclipse.jface.textfont"
            id="com.aptana.explorer.font"
            isEditable="true"
            label="%appExplorerFont.label">
      </fontDefinition>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.aptana.theme.internal.InvasiveThemeHijacker">
      </startup>
   </extension>

</plugin>
