<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.aptana.radrails.editor.common.theme.preferences.ThemePreferencePage"
            id="com.aptana.radrails.editor.common.theme.page"
            name="%preferencePage.themes.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.textEditor"
            description="%command.scope.description"
            id="com.aptana.radrails.editor.common.showscopes"
            name="%command.scope.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.aptana.radrails.editor.common.showscopes"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+P">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.aptana.editor.scope"
            name="%context.name"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
</plugin>
