<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="samplespath" name="%extension-point.samples.name" schema="schema/samplespath.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.samples.internal.SamplesReferencePropertyTester"
            id="com.aptana.samples.samplesReferencePropertyTester"
            namespace="com.aptana.samples.reference"
            properties="canPreview, hasHelp"
            type="com.aptana.samples.model.SamplesReference">
      </propertyTester>
   </extension>
</plugin>
