<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.aptana.deploy.epl.deployWizards">
      <wizard
            class="com.aptana.deploy.ftp.ui.wizard.FTPDeployWizard"
            icon="icons/ftp16.png"
            id="com.aptana.deploy.ftp.wizard"
            name="%wizard.ftp.name">
         <description>
            %wizard.deploy.ftp.description
         </description>
      </wizard>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.deploy.ftp.internal.handlers.DeploySettingsHandler"
            id="com.aptana.deploy.commands.ftp.settings"
            name="%command.ftp.deploy.settings.name">
      </command>
   </extension>
      <extension
            point="com.aptana.deploy.deployProviders">
         <provider
               class="com.aptana.deploy.ftp.FTPDeployProvider"
               id="com.aptana.deploy.ftp.provider">
         </provider>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.aptana.explorer.deploy?endof=group.command">
         <command
               commandId="com.aptana.ide.syncing.ui.commands.synchronize"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                <reference
                     definitionId="com.aptana.deploy.openshift.isFTPDeployType">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.aptana.ide.syncing.ui.commands.upload"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                <reference
                     definitionId="com.aptana.deploy.openshift.isFTPDeployType">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.aptana.ide.syncing.ui.commands.download"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.aptana.deploy.openshift.isFTPDeployType">
               </reference>
            </visibleWhen>
         </command>
         <menu
               icon="platform:/plugin/com.aptana.syncing.ui/icons/full/obj16/ftp.png"
               label="%menu.connections.label">
            <command
                  commandId="com.aptana.ide.syncing.ui.commands.newconnection"
                  style="push">
            </command>
            <command
                  commandId="com.aptana.ide.syncing.ui.commands.connectionmanager"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
                <reference
                     definitionId="com.aptana.deploy.openshift.isFTPDeployType">
               </reference>
            </visibleWhen>
         </menu>
         <separator
               name="group.ftp.cloaking"
               visible="true">
         </separator>
         <command
               commandId="com.aptana.ide.syncing.ui.commands.cloak"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                <reference
                     definitionId="com.aptana.deploy.openshift.isFTPDeployType">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.aptana.ide.syncing.ui.commands.uncloak"
               style="push">
            <visibleWhen
                  checkEnabled="false">
                <reference
                     definitionId="com.aptana.deploy.openshift.isFTPDeployType">
               </reference>
            </visibleWhen>
         </command>
         <separator
               name="group.ftp.settings"
               visible="true">
         </separator>
         <command
               commandId="com.aptana.deploy.commands.ftp.settings"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.aptana.deploy.openshift.isFTPDeployType">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
      </extension>
<extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.aptana.deploy.openshift.isFTPDeployType">
         <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="com.aptana.deploy.project.isDeployType"
                                 value="com.aptana.deploy.ftp.provider">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
                  <and>
                     <with
                           variable="activePart">
                        <instanceof
                              value="org.eclipse.ui.IEditorPart">
                        </instanceof>
                     </with>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="com.aptana.deploy.project.isDeployType"
                                 value="com.aptana.deploy.ftp.provider">
                           </test>
                        </adapt>
                     </with>
                  </and>
               </or>
      </definition>
   </extension>
</plugin>
