<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.aptana.terminal.terminalHyperlinkDetectors">
      <detector
            class="com.aptana.workbench.hyperlink.StacktraceHyperlinkDetector">
      </detector>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:com.aptana.scripting.menu?after=additions">
         <dynamic
               class="com.aptana.workbench.commands.EditorCommandsMenuContributor"
               id="com.aptana.editor.common.dynamic">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.aptana.scripting.popup.menu?after=commands">
         <dynamic
               class="com.aptana.workbench.commands.EditorCommandsMenuContributor"
               id="com.aptana.editor.common.dynamic">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePart">
                  <instanceof
                        value="org.eclipse.ui.texteditor.ITextEditor">
                  </instanceof>
               </with>
            </visibleWhen>
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.aptana.file.template.menu?after=additions">
         <dynamic
               class="com.aptana.ide.ui.io.navigator.actions.NewUntitledFileTemplateMenuContributor"
               id="com.aptana.file.template.dynamic">
         </dynamic>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=common.new.menu">
         <menu
               label="%menu.new.template.label">
            <dynamic
                  class="com.aptana.ide.ui.io.navigator.actions.NewFileTemplateMenuContributor"
                  id="com.aptana.file.template.popup.dynamic">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.editor.common.CommonTextEditorActionContributor"
            class="com.aptana.workbench.commands.EditorCommandsMenuContributor$Factory">
         <adapter
               type="com.aptana.editor.common.IEditorCommandsMenuContributor">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.aptana"
            class="com.aptana.snippets.ui.views.SnippetsView"
            icon="platform:/plugin/com.aptana.scripting.ui/icons/snippet.png"
            id="com.aptana.snippets.ui.views.SnippetsView"
            name="%snippets.view.name">
      </view>
   </extension>
</plugin>
