<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.radrails.editor.html.HTMLEditor"
            default="true"
            icon="icons/html.png"
            id="com.aptana.radrails.editor.html"
            name="HTML Editor (Aptana)">
         <contentTypeBinding
               contentTypeId="com.aptana.radrails.contenttype.html">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="html,htm"
            id="com.aptana.radrails.contenttype.html"
            name="HTML"
            priority="normal">
      </content-type>
   </extension>

</plugin>
