<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension-point id="buildPaths" name="%buildPaths.extensionPoint.name" schema="schema/buildPaths.exsd"/>
  <extension-point id="buildParticipants" name="%extension-point.buildparticipants.name" schema="schema/buildParticipants.exsd"/>
  <extension
         point="com.aptana.buildpath.core.buildParticipants">
      <participant
            class="com.aptana.core.internal.build.IndexBuildParticipant"
            id="com.aptana.core.build.IndexBuildParticipant"
            name="%index.participant.name"
            priority="95">
            <projectNatureBinding
               natureId="com.aptana.projects.webnature">
            </projectNatureBinding>
            <projectNatureBinding
               natureId="com.appcelerator.titanium.mobile.nature">
            </projectNatureBinding>
            <projectNatureBinding
               natureId="com.appcelerator.titanium.alloy.core.nature">
            </projectNatureBinding>
            <projectNatureBinding
               natureId="com.appcelerator.titanium.mobile.module.nature">
            </projectNatureBinding>
      </participant>
  </extension>
  <extension
       id="com.aptana.ide.core.unifiedBuilder"
       name="%builder.name"
       point="org.eclipse.core.resources.builders">
    <builder
          callOnEmptyDelta="true"
          hasNature="false"
          isConfigurable="false">
       <run
             class="com.aptana.core.build.UnifiedBuilder">
       </run>
    	</builder>
  </extension>
</plugin>
