<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="svg"
            id="com.aptana.contenttype.svg"
            name="%content-type.svg.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.svg.SVGEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="svg"
            icon="icons/svg.png"
            id="com.aptana.editor.svg"
            name="%editor.svg.name">
      </editor>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.editor.svg.parsing.SVGParser"
            content-type="com.aptana.contenttype.svg">
      </parser>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.svg.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.svg.contentMergeViewer"
            contentTypeId="com.aptana.contenttype.svg">
      </contentTypeBinding>
      <viewer
            class="com.aptana.editor.svg.internal.SVGMergeViewerCreator"
            extensions="svg"
            id="com.aptana.editor.svg.contentMergeViewer">
      </viewer>
   </extension>

</plugin>
