<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="com.aptana.index.core.ui.indexViewContributors" name="%extension-point.index-contributors.name" schema="schema/indexViewContributors.exsd"/>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.aptana.ui.category"
            id="com.aptana.index.core.ui.commands.exclude"
            name="%command.exclude">
      </command>
      <command
            categoryId="com.aptana.ui.category"
            id="com.aptana.index.core.ui.commands.include"
            name="%command.include">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.aptana.explorer.view?before=group.edit">
         <menu
               id="indexing.main"
               label="%menu.indexing">
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=group.edit">
         <menu
               id="projectexplorer.indexing.main"
               label="%menu.indexing">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <and>
                     <instanceof
                           value="org.eclipse.core.resources.IResource">
                     </instanceof>
                     <test
                           property="com.aptana.ide.ui.io.navigator.resource.isAccessible"
                           value="true">
                     </test>
                  </and>
               </iterate>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:indexing.main">
         <command
               commandId="com.aptana.index.core.ui.commands.exclude">
         </command>
         <command
               commandId="com.aptana.index.core.ui.commands.include">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:projectexplorer.indexing.main">
         <command
               commandId="com.aptana.index.core.ui.commands.exclude">
         </command>
         <command
               commandId="com.aptana.index.core.ui.commands.include">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aptana.index.core.ui.handlers.ExcludeHandler"
            commandId="com.aptana.index.core.ui.commands.exclude">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <or>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IFolder">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                  </or>
                  <test
                        forcePluginActivation="true"
                        property="com.aptana.index.isFiltered"
                        value="false">
                  </test>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
      <handler
            class="com.aptana.index.core.ui.handlers.IncludeHandler"
            commandId="com.aptana.index.core.ui.commands.include">
         <enabledWhen>
            <iterate
                  ifEmpty="false">
               <and>
                  <or>
                     <instanceof
                           value="org.eclipse.core.resources.IProject">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IFolder">
                     </instanceof>
                     <instanceof
                           value="org.eclipse.core.resources.IFile">
                     </instanceof>
                  </or>
                  <test
                        forcePluginActivation="true"
                        property="com.aptana.index.isFiltered"
                        value="true">
                  </test>
               </and>
            </iterate>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.index.core.ui.handlers.FilterTester"
            id="com.aptana.index.core.ui.filterTests"
            namespace="com.aptana.index"
            properties="isFiltered"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.aptana"
            class="com.aptana.index.core.ui.views.IndexView"
            icon="icons/index-view.png"
            id="com.aptana.index.core.ui.view"
            name="%view.index.name"
            restorable="true">
      </view>
   </extension>
</plugin>
