<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="css"
            id="com.aptana.contenttype.css"
            name="%content-type.css.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="com.aptana.index.core.fileIndexingParticipants">
      <fileIndexingParticipant
            class="com.aptana.css.core.index.CSSFileIndexingParticipant"
            id="com.aptana.editor.css.indexer"
            name="CSS Indexer"
            priority="50">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.css">
         </contentTypeBinding>
      </fileIndexingParticipant>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.css.core.parsing.CSSParser"
            content-type="com.aptana.contenttype.css">
      </parser>
   </extension>
   <extension
         id="problem"
         name="%marker.css.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="id">
      </attribute>
      <attribute
            name="flags">
      </attribute>
      <attribute
            name="arguments">
      </attribute>
   </extension>
   <extension
         id="w3c_problem"
         name="%marker.w3c.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.css.core.problem">
      </super>
   </extension>
   <extension
         point="com.aptana.buildpath.core.buildParticipants">
      <participant
            class="com.aptana.css.core.build.CSSTaskDetector"
            id="com.aptana.css.core.CSSTaskDetector"
            name="%css.task.detector.name"
            priority="50">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.css">
         </contentTypeBinding>
         <projectNatureBinding
               natureId="com.aptana.projects.webnature">
         </projectNatureBinding>
      </participant>
      <participant
            class="com.aptana.css.core.internal.build.CSSValidator"
            id="com.aptana.css.core.W3CValidator"
            name="%validator.css.name"
            priority="49">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.css">
         </contentTypeBinding>
         <projectNatureBinding
               natureId="com.aptana.projects.webnature">
         </projectNatureBinding>
      </participant>
      <participant
            class="com.aptana.css.core.internal.build.CSSParserValidator"
            id="com.aptana.css.core.CSSParserValidator"
            name="%validator.parser.name"
            priority="60">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.css">
         </contentTypeBinding>
         <projectNatureBinding
               natureId="com.aptana.projects.webnature">
         </projectNatureBinding>
      </participant>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.css.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
