<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="net.jeeeyul.eclipse.themes.css.ChromeCSSPropertyHandler">
         <property-name
               name="chrome-selected-tab-color">
         </property-name>
         <property-name
               name="chrome-unselected-tab-color">
         </property-name>
         <property-name
               name="chrome-shiney-shadow">
         </property-name>
         <property-name
               name="chrome-selected-tab-fill-highlight">
         </property-name>
      </handler>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="themes/gtk_dashboard.css"
            id="com.appcelerator.titanium.rcp.theme.dashboard"
            label="Light Studio"
            os="linux">
      </theme>
      <theme
            basestylesheeturi="themes/win_dashboard.css"
            id="com.appcelerator.titanium.rcp.theme.dashboard"
            label="Light Studio"
            os="win32">
      </theme>
      <theme
            basestylesheeturi="themes/mac_dashboard.css"
            id="com.appcelerator.titanium.rcp.theme.dashboard"
            label="Light Studio"
            os="macosx">
      </theme>
      <theme
            basestylesheeturi="themes/gtk_dark.css"
            id="com.appcelerator.theme.dark"
            label="Dark Studio"
 			os="linux">
      </theme>
      <theme
            basestylesheeturi="themes/win_dark.css"
            id="com.appcelerator.theme.dark"
            label="Dark Studio"
			os="win32">
      </theme>
      <theme
            basestylesheeturi="themes/mac_dark.css"
            id="com.appcelerator.theme.dark"
            label="Dark Studio"
            os="macosx">
      </theme>     
   </extension>

</plugin>
