<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.e4.ui.css.core.propertyHandler">
      <handler
            adapter="org.eclipse.e4.ui.css.swt.dom.CTabFolderElement"
            composite="false"
            handler="net.jeeeyul.eclipse.themes.css.ChromeCSSPropertyHandler">
         <property-name
               name="chrome-selected-tab-color">
         </property-name>
         <property-name
               name="chrome-unselected-tab-color">
         </property-name>
         <property-name
               name="chrome-shiney-shadow">
         </property-name>
         <property-name
               name="chrome-selected-tab-fill-highlight">
         </property-name>
      </handler>
   </extension>

</plugin>
