<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar"
            name="%ShowFindBar.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.hide"
            name="%HideFindBar.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.findNext"
            name="%FindNext.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.findPrevious"
            name="%FindPrevious.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.cut"
            name="%Cut.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.copy"
            name="%Copy.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.paste"
            name="%Paste.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.selectall"
            name="%SelectAll.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.home"
            name="%Home.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.end"
            name="%End.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.selectHome"
            name="%SelectHome.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.selectEnd"
            name="%SelectEnd.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.focusFind"
            name="%FocusFind.command.name">
      </command>
      <command
            categoryId="org.eclipse.ui.category.edit"
            id="org.eclipse.ui.edit.findbar.focusReplace"
            name="%FocusReplace.command.name">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.bindings">
      
      <!-- The following bindings are active once the Find Bar is visible -->
      <key
            commandId="org.eclipse.ui.edit.findbar.hide"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESCAPE">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.hide"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F12">
      </key>
      
      <!-- Find Previous -->
      <key
            commandId="org.eclipse.ui.edit.findbar.findPrevious"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+K">
      </key>
      
      <!-- Find Next -->
      <key
            commandId="org.eclipse.ui.edit.findbar.findNext"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+K">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.findNext"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ENTER">
      </key>

      <!-- Show Eclipse's Find/Replace dialog -->      
      <key
            commandId="org.eclipse.ui.edit.findReplace"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+F">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.focusFind"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+F">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.focusReplace"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M3+E">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.cut"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+X">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.copy"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+C">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.paste"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+V">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.selectall"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+A">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.home"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="HOME">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.end"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="END">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.selectHome"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+HOME">
      </key>
      <key
            commandId="org.eclipse.ui.edit.findbar.selectEnd"
            contextId="org.eclipse.ui.textEditorScope.findbar"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M2+END">
      </key>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aptana.editor.findbar.impl.ShowFindBarHandler"
            commandId="org.eclipse.ui.edit.findbar">
         <activeWhen>
            <with variable="activeEditor">
                  <or>
                     <instanceof
                           value="com.aptana.editor.findbar.api.IFindBarDecorated">
                     </instanceof>
                     <adapt
                           type="com.aptana.editor.findbar.api.IFindBarDecorated">
                     </adapt>
                  </or>
            </with>
         </activeWhen>
         <enabledWhen>
            <with variable="activeEditor">
                  <or>
                     <instanceof
                           value="com.aptana.editor.findbar.api.IFindBarDecorated">
                     </instanceof>
                     <adapt
                           type="com.aptana.editor.findbar.api.IFindBarDecorated">
                     </adapt>
                  </or>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   
   <extension
         point="org.eclipse.ui.contexts">
      <context
            description="%FindBar.context.description"
            id="org.eclipse.ui.textEditorScope.findbar"
            name="%FindBar.context.name"
            parentId="org.eclipse.ui.textEditorScope">
      </context>
   </extension>
</plugin>
