<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.aptana.deploy.deployWizards">
      <wizard
            class="com.aptana.deploy.ftp.ui.wizard.FTPDeployWizard"
            icon="icons/ftp16.png"
            id="com.aptana.deploy.ftp.wizard"
            name="FTP">
      </wizard>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.deploy.ftp.internal.handlers.DeploySettingsHandler"
            id="com.aptana.deploy.commands.ftp.settings"
            name="%command.deploysettings.name">
      </command>
   </extension>
      <extension
            point="com.aptana.deploy.deployProviders">
         <provider
               class="com.aptana.deploy.ftp.FTPDeployProvider"
               id="com.aptana.deploy.ftp.provider">
         </provider>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
             <menuContribution
            locationURI="menu:com.aptana.explorer.deploy?endof=group.deploy">
         <command
               commandId="com.aptana.deploy.commands.deployApp"
               icon="platform:/plugin/com.aptana.syncing.ui/icons/full/elcl16/arrow_up_down.png"
               label="%FTPDeploy.label"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        property="com.aptana.deploy.project.isDeployType"
                        value="com.aptana.deploy.ftp.provider">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:com.aptana.explorer.deploy?endof=group.command">
         <command
               commandId="com.aptana.ide.syncing.ui.commands.synchronize"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        property="com.aptana.deploy.project.isDeployType"
                        value="com.aptana.deploy.ftp.provider">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.aptana.ide.syncing.ui.commands.upload"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        property="com.aptana.deploy.project.isDeployType"
                        value="com.aptana.deploy.ftp.provider">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.aptana.ide.syncing.ui.commands.download"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        property="com.aptana.deploy.project.isDeployType"
                        value="com.aptana.deploy.ftp.provider">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <menu
               icon="platform:/plugin/com.aptana.syncing.ui/icons/full/obj16/ftp.png"
               label="Connections">
            <command
                  commandId="com.aptana.ide.syncing.ui.commands.newconnection"
                  style="push">
            </command>
            <command
                  commandId="com.aptana.ide.syncing.ui.commands.connectionmanager"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        property="com.aptana.deploy.project.isDeployType"
                        value="com.aptana.deploy.ftp.provider">
                  </test>
               </iterate>
            </visibleWhen>
         </menu>
         <separator
               name="group.ftp.cloaking"
               visible="true">
         </separator>
         <command
               commandId="com.aptana.ide.syncing.ui.commands.cloak"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        property="com.aptana.deploy.project.isDeployType"
                        value="com.aptana.deploy.ftp.provider">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <command
               commandId="com.aptana.ide.syncing.ui.commands.uncloak"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        property="com.aptana.deploy.project.isDeployType"
                        value="com.aptana.deploy.ftp.provider">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
         <separator
               name="group.ftp.settings"
               visible="true">
         </separator>
         <command
               commandId="com.aptana.deploy.commands.ftp.settings"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <iterate
                     ifEmpty="false">
                  <test
                        property="com.aptana.deploy.project.isDeployType"
                        value="com.aptana.deploy.ftp.provider">
                  </test>
               </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      </extension>

</plugin>
