<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.radrails.editor.erb.html.RHTMLEditor"
            default="true"
            id="com.aptana.radrails.editor.erb.html"
            name="RHTML Editor">
         <contentTypeBinding
               contentTypeId="com.aptana.radrails.contenttype.html.erb">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.aptana.radrails.editor.erb.xml.RXMLEditor"
            id="com.aptana.radrails.editor.erb.xml"
            name="RXML Editor">
         <contentTypeBinding
               contentTypeId="com.aptana.radrails.contenttype.xml.erb">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="com.aptana.radrails.contenttype.html"
            file-extensions="rhtml,html.erb"
            id="com.aptana.radrails.contenttype.html.erb"
            name="HTML.ERB"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="rxml,xml.erb"
            id="com.aptana.radrails.contenttype.xml.erb"
            name="XML.ERB"
            priority="normal">
      </content-type>
   </extension>

</plugin>
