<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="com.aptana.explorer.internal.ui.FilteringProjectView"
            icon="icons/full/cview16/filenav_nav.gif"
            id="com.aptana.explorer.view"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.aptana.explorer.view">
      </viewer>
      <viewerContentBinding
            viewerId="com.aptana.explorer.view">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension pattern="org.eclipse.jdt.java.ui.javaContent" />
			<contentExtension pattern="org.eclipse.jdt.java.ui.filters.*" />	
			<contentExtension pattern="org.eclipse.jdt.java.ui.javaLinkHelper" />	
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.aptana.explorer.view">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
	</extension>
   <extension
         point="org.eclipse.ui.themes">
      <fontDefinition
            categoryId="org.eclipse.ui.workbenchMisc"
            defaultsTo="org.eclipse.jface.textfont"
            id="com.aptana.explorer.font"
            isEditable="true"
            label="%appExplorerFont.label">
      </fontDefinition>
   </extension>
   <extension
         point="com.aptana.scripting.contextContributors">
      <contributor
            class="com.aptana.explorer.ExplorerContextContributor"
            name="Active Project Info Contributors">
      </contributor>
   </extension>
   <extension
         point="com.aptana.scripting.loadPaths">
      <loadPath
            name="RadRails Framework Files"
            path="framework/">
      </loadPath>
   </extension>
   <extension
         point="com.aptana.scripting.frameworkFiles">
      <file
            name="radrails/project.rb">
      </file>
   </extension>
</plugin>
