<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.ui"
            class="com.aptana.radrails.explorer.internal.ui.FilteringProjectView"
            icon="icons/full/cview16/filenav_nav.gif"
            id="com.aptana.radrails.explorer.view"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="com.aptana.radrails.explorer.view">
      </viewer>
      <viewerContentBinding
            viewerId="com.aptana.radrails.explorer.view">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension pattern="org.eclipse.jdt.java.ui.javaContent" />
			<contentExtension pattern="org.eclipse.jdt.java.ui.filters.*" />	
			<contentExtension pattern="org.eclipse.jdt.java.ui.javaLinkHelper" />	
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="com.aptana.radrails.explorer.view">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
	</extension>
</plugin>
