.MTrimmedWindow.topLevel {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	background-color: #2d2d30;
}

/* Black BG for inactive parts */
.MPartStack {
	swt-simple: true;
	swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
	padding: 1px 6px 8px 6px; /* top left bottom right */
	swt-tab-outline: #444444;
	swt-outer-keyline-color: #444444;
	swt-unselected-tabs-color: #242424 #242424 #242424 99% 100%;
	swt-shadow-visible: false;
	swt-selected-tab-fill: #242424;
	swt-mru-visible: true;
	swt-corner-radius: 6px;
	swt-unselected-close-visible: true; /* let user close unselected tabs by showing close image on hover */
	color: #ffffff;
}
.MPartStack.active > CTabItem,
.MPartStack.active > CTabItem CLabel {
    color: #939399;
}
.MPartStack.active > CTabItem:selected,
.MPartStack.active > CTabItem:selected CLabel {
    color: #ffffff;
}
/* Black BG and White FG */
.MPartStack,
.MPartStack .MPart,
.MPartStack .MPart Tree,
.MPartStack .MPart Table,
.MPartStack .MPart Label,
.MPartStack Canvas {
	background-color: #242424;
	color: #ffffff;
}
#org-eclipse-ui-console-ConsoleView StyledText {
	background-color: #242424;
	color: #ffffff;
}
/* off-black BG for active parts */
.MPartStack.active {
	swt-tab-outline: #444444;
	swt-outer-keyline-color: #444444;
	swt-unselected-tabs-color: #242424 #242424 #2d2f31 99% 100%;
	swt-selected-tab-fill: #2d2f31;
}
.MPartStack.active,
.MPartStack.active .MPart,
.MPartStack.active .MPart Tree,
.MPartStack.active .MPart Table,
.MPartStack.active .MPart Control {
	background-color: #2d2f31;
	color: #ffffff;
}
.MPartStack.active Canvas, .MPart.Editor Canvas {
	background-color: #2d2f31;
}
#org-eclipse-ui-console-ConsoleView.active StyledText {
	background-color: #2d2f31;
}
/**
 * 	Fix up form editors to use white FG, black BG, even for it's own tabs
 */
/* FIXME The labels in form editor headers are set to correct colors, but really background needs to be transparent! */
#org-eclipse-ui-editorss .MPartStack .MPart Tree,
#org-eclipse-ui-editorss .MPartStack .MPart Table,
#org-eclipse-ui-editorss .MPartStack .MPart Control,
#org-eclipse-ui-editorss .MPartStack .MPart Label {
  color: #242424;
  background-color: #ffffff;
}
#org-eclipse-ui-editorss .MPartStack CTabFolder {
	swt-unselected-tabs-color: #f1f1f1 #f1f1f1 #242424 99% 100%;
}
#org-eclipse-ui-editorss .MPartStack CTabFolder.active {
	swt-unselected-tabs-color: #ffffff #ffffff #242424 99% 100%;
}

/* Empty editor - let's basically hide it by making its colors match window BG and hiding minimize/maximize */
.MPartStack.empty {
	swt-unselected-tabs-color: #2d2d30 #2d2d30 #2d2d30 99% 100%;
	swt-tab-outline: #2d2d30;
	swt-outer-keyline-color: #2d2d30;
	background-color: #2d2d30;
	swt-maximize-visible: false;
	swt-minimize-visible: false;
}

.MPart.Editor, #org-eclipse-ui-editorss {
	swt-tab-renderer: url('bundleclass://org.eclipse.e4.ui.workbench.renderers.swt/org.eclipse.e4.ui.workbench.renderers.swt.CTabRendering');
	swt-tab-height: 8px;
	padding: 0px 2px 0px 0px;
}
CTabFolder.MArea .MPartStack, CTabFolder.MArea .MPartStack.active {
	swt-shadow-visible: false;
}

/** TOOLBAR **/
.MTrimBar#org-eclipse-ui-main-toolbar {
	background-color: #aaaaaa;
}

/**
 * The ugly handles in the toolbar
 */
.MToolControl.TrimStack {
	handle-image: url(chrome://drag-handle?height=22&background-color=#aaaaaa&embossed=true);
}
.MTrimBar .Draggable {
	handle-image: url(chrome://drag-handle?height=22&background-color=#aaaaaa&embossed=true);
}
.MTrimBar#org-eclipse-ui-main-toolbar .Draggable {
	handle-image: url(chrome://drag-handle?height=22&background-color=#aaaaaa&embossed=true);
}
.MTrimBar#org-eclipse-ui-main-toolbar .TrimStack {
	handle-image: url(chrome://drag-handle?height=22&background-color=#aaaaaa&embossed=true);
}
#org-eclipse-ui-main-toolbar #PerspectiveSwitcher {
	eclipse-perspective-keyline-color: #aaaaaa;
	background-color: #aaaaaa #aaaaaa 100%;
	handle-image: none;
}

/** STATUS BAR **/

/* Bottom status bar */
.MTrimBar {
	background-color: #2d2d30;
	color: #ffffff;
}
/* Text in Status bar */
.MTrimBar CLabel, .MTrimBar .MToolControl {
	color: #ffffff;
}
