<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.aptana.eclipse.fullscreen.ui.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.eclipse.fullscreen.ui.ToggleFullScreenHandler"
            id="com.bandlem.eclipse.fullscreen.ui.ToggleFullScreen"
            name="%command.fullscreen.toggle.name">
      </command>
      <command
            defaultHandler="com.aptana.eclipse.fullscreen.ui.ToggleFullScreenEscapeHandler"
            id="com.bandlem.eclipse.fullscreen.ui.ExitFullScreen"
            name="%command.fullscreen.exit.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=newEditor">
                           <command
                                 commandId="com.bandlem.eclipse.fullscreen.ui.ToggleFullScreen">
                              <visibleWhen
                                    checkEnabled="false">
                                 <test
                                       property="com.aptana.eclipse.fullscreen.ui.isOSLion"
                                       value="true">
                                 </test>
                              </visibleWhen>
                           </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.bandlem.eclipse.fullscreen.ui.ExitFullScreen"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Esc">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.eclipse.fullscreen.ui.OSPropertyTester"
            id="com.aptana.eclipse.fullscreen.ui.osPropertyTester"
            namespace="com.aptana.eclipse.fullscreen.ui"
            properties="isOSLion"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
