<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.aptana.scripting.menu"
               label="%commandsMenu.label"
               mnemonic="%commandsMenu.mnemonic">
            <separator
                  name="commands"
                  visible="false">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <separator
                  name="management"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
 	  <menuContribution
            locationURI="toolbar:org.eclipse.ui.trim.command2?after=additions">
         <toolbar
            id="com.aptana.scripting.trim.toolbar">
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
