<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.json.JSONEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="json"
            icon="icons/js.png"
            id="com.aptana.editor.json"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.json">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.json.preferences.JSONPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.aptana.formatter.epl.formatterFactory">
      <engineContribution
            contentType="com.aptana.contenttype.json">
         <formatterFactory
               class="com.aptana.editor.json.formatter.JSONFormatterFactory"
               description="%editor.json.formatter.description"
               id="com.aptana.editor.json.formatterFactory"
               name="%editor.json.formatter.name"
               priority="10">
         </formatterFactory>
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.editor.common.preferences.EditorsPreferencePage"
            class="com.aptana.editor.json.preferences.JSONPreferencePage"
            id="com.aptana.editor.json.preferences.JSONPreferencePage"
            name="%preferencePage.json.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.json.contentMergeViewer"
            contentTypeId="com.aptana.contenttype.json">
      </contentTypeBinding>
      <viewer
            class="com.aptana.editor.json.internal.JSONMergeViewerCreator"
            extensions="json,jsca"
            id="com.aptana.editor.json.contentMergeViewer">
      </viewer>
   </extension>

</plugin>
