<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.xml.XMLEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="xml,tld,pt,cpt,dtml,rss,opml"
            id="com.aptana.editor.xml"
            name="%editor.xml.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.xml">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.xml.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.editor.xml.parsing.XMLParser"
            content-type="com.aptana.contenttype.xml"
            language="text/xml">
      </parser>
   </extension>

</plugin>
