<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.xml.XMLEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="tld,pt,cpt,dtml,rss,opml"
            icon="icons/xml.png"
            id="com.aptana.editor.xml"
            name="%editor.xml.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.xml">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.xsl">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.xml.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.aptana.xml.tagPair.occurrences"
            colorPreferenceKey="xmlTagPairOccurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            contributesToHeader="false"
            highlightPreferenceKey="xmlTagPairOccurrenceIndicationHighlighting"
            highlightPreferenceValue="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            label="%specification.tagpair.label"
            overviewRulerPreferenceKey="xmlTagPairOccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            textPreferenceKey="xmlTagPairOccurrenceIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="xmlTagPairOccurrenceIndicationTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="xmlTagPairOccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            name="com.aptana.xml.tagPair.occurrences"
            super="com.aptana.editor.common.occurrence">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.editor.common.preferences.EditorsPreferencePage"
            class="com.aptana.editor.xml.preferences.XMLPreferencePage"
            id="com.aptana.editor.xml.preferences.XMLPreferencePage"
            name="%page.preference.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.xml.contentMergeViewer"
            contentTypeId="org.eclipse.core.runtime.xml">
      </contentTypeBinding>
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.xml.contentMergeViewer"
            contentTypeId="com.aptana.contenttype.xsl">
      </contentTypeBinding>
      <viewer
            class="com.aptana.editor.xml.internal.XMLMergeViewerCreator"
            extensions="xml,xsl"
            id="com.aptana.editor.xml.contentMergeViewer">
      </viewer>
   </extension>
 	<extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="com.aptana.editor.xml.sourceCode"
            name="XML Editors">
      </target>
   </extension>
</plugin>
