<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.ruby.RubySourceEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="rb,rake,cgi,fcgi,rbx,rjs,gemspec,irbrc,ru"
            icon="icons/rb.png"
            id="com.aptana.editor.ruby"
            name="%editor.rb.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.ruby">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="rb,rake,cgi,fcgi,rbx,rjs,gemspec,irbrc,ru"
            file-names="Rakefile,Capfile,Gemfile"
            id="com.aptana.contenttype.ruby"
            name="%content-type.rb.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="com.aptana.contenttype.ruby"
            describer="com.aptana.editor.ruby.RubyTextContentDescriber"
            file-names="plugin,server,runner,generate,dbconsole,about,console,destroy,autospec,spec,rails"
            id="com.aptana.contenttype.ruby.ambiguous"
            name="%content-type.ruby.ambiguous.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="com.aptana.index.core.fileIndexingParticipants">
      <fileIndexingParticipant
            class="com.aptana.editor.ruby.index.RubyFileIndexingParticipant">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.ruby">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.ruby.ambiguous">
         </contentTypeBinding>
      </fileIndexingParticipant>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.editor.ruby.parsing.RubyParser"
            content-type="com.aptana.contenttype.ruby"
            language="text/ruby">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.aptana.ruby.blockPair.occurrences"
            colorPreferenceKey="rubyBlockPairOccurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            contributesToHeader="false"
            highlightPreferenceKey="rubyBlockPairOccurrenceIndicationHighlighting"
            highlightPreferenceValue="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            label="%blockPairOccurrence.label"
            overviewRulerPreferenceKey="rubyBlockPairOccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            textPreferenceKey="rubyBlockPairOccurrenceIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="rubyBlockPairOccurrenceIndicationTextStyle"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="rubyBlockPairOccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            name="com.aptana.ruby.blockPair.occurrences"
            super="com.aptana.editor.common.occurrence">
      </type>
   </extension>

</plugin>
