<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.aptana.ide.syncing.ui.navigator.SiteConnectionsContentProvider"
            icon="icons/full/obj16/ftp.png"
            id="com.aptana.ide.syncing.ui.navigatorContent"
            labelProvider="com.aptana.ide.syncing.ui.navigator.SitesLabelProvider"
            name="%navigatorContent.site.name"
            priority="lowest">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnections">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
            </or>
         </enablement>
         <dropAssistant
               class="com.aptana.ide.ui.io.navigator.resources.FileDropAdapterAssistant"
               id="com.aptana.ide.syncing.ui.navigator.resources.ProjectSiteDropAdapterAssistant">
            <possibleDropTargets>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
               </instanceof>
            </possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="com.aptana.ide.ui.io.navigatorContent"
            id="com.aptana.ide.syncing.ui.navigatorContent.sorter"
            name="%navigatorContent.site.sorter.name"
            priority="lowest"
            sortOnly="true">
         <commonSorter
               class="com.aptana.ide.syncing.ui.navigator.SiteTreeNameSorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IProject">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnections">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
                  </instanceof>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <actionProvider
            class="com.aptana.ide.syncing.ui.navigator.actions.ExtendedActionProvider"
            id="com.aptana.ide.syncing.ui.navigator.actions.ExtendedActions">
         <enablement>
            <or>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnections">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
               </instanceof>
            </or></enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.RemoteNewActionProvider"
            id="com.aptana.ide.syncing.ui.navigator.actions.RemoteNewActions"
            overrides="com.aptana.ide.ui.io.navigator.actions.FileSystemNewActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemNewFromTemplateActionProvider"
            id="com.aptana.ide.syncing.ui.navigator.actions.FileSystemNewFromTemplateActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemMgmtActionProvider"
            id="com.aptana.ide.syncing.ui.navigator.actions.FileSystemMgmtActions">
         <enablement>
            <or>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnections">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.navigator.resources.GoIntoActionProvider"
            id="com.aptana.ide.syncing.ui.navigator.actions.GoIntoActions">
         <enablement>
            <or>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnections">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.syncing.ui.navigator.actions.SyncingActionProvider"
            id="com.aptana.ide.syncing.ui.navigator.actions.SyncingActions">
         <enablement>
            <or>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnections">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.syncing.ui.navigator.actions.RemoteConnectionActionProvider"
            id="com.aptana.ui.remote.actions.ConnectionActionsActions">
         <enablement></enablement>
      </actionProvider>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.aptana.ide.syncing.ui.navigatorContent*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension
                  pattern="com.aptana.ide.syncing.ui.navigator.actions.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="com.aptana.ide.syncing.ui.projectSitesContribution"
            objectClass="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnections">
         <action
               class="com.aptana.ide.syncing.ui.actions.NewSiteAction"
               enablesFor="1"
               id="com.aptana.ide.syncing.ui.actions.NewSiteAction"
               label="%Action.NewConnection.name"
               menubarPath="group.connections.new"
               tooltip="%Action.NewConnection.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.ConnectionManagerAction"
               enablesFor="1"
               id="com.aptana.ide.syncing.ui.actions.ConnectionManagerAction"
               label="%Action.ConnectionManager.name"
               menubarPath="group.connections.edit"
               tooltip="%Action.ConnectionManager.tooltip">
         </action>
      </objectContribution>
      <objectContribution
            id="com.aptana.ide.syncing.ui.projectSiteConnectionContribution"
            objectClass="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection">
         <action
               class="com.aptana.ide.syncing.ui.actions.OpenProjectConnectionAction"
               enablesFor="1"
               icon="icons/full/obj16/transfer_files.png"
               id="com.aptana.ide.syncing.ui.actions.OpenConnectionExplorerAction"
               label="%action.openConnection.label"
               menubarPath="group.edit"
               tooltip="%action.openConnection.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.old.actions.SiteConnectionSynchronizeAction"
               enablesFor="1"
               icon="icons/full/elcl16/arrow_up_down.png"
               id="com.aptana.ide.syncing.ui.actions.SiteConnectionSynchronizeAction"
               label="%action.siteConnectionSynchronize.label"
               menubarPath="group.edit"
               tooltip="%action.siteConnectionSynchronize.tooltip">
         </action>
         <action
               class="com.aptana.ide.ui.io.actions.ConnectionPropertiesAction"
               enablesFor="1"
               id="com.aptana.ide.ui.io.actions.connectionProperties"
               label="%connectionPropertiesAction.label"
               menubarPath="group.properties">
         </action>
         <action
               class="com.aptana.ide.ui.io.actions.DeleteConnectionAction"
               definitionId="org.eclipse.ui.edit.delete"
               enablesFor="+"
               icon="icons/full/etool16/delete.png"
               id="com.aptana.ide.ui.io.actions.DeleteConnectionAction"
               label="%deleteAction.label"
               menubarPath="group.edit">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.navigator.actions.ProjectConnectionDisconnectAction"
               enablesFor="1"
               icon="icons/full/etool16/disconnect.png"
               id="com.aptana.ide.syncing.ui.navigator.actions.ProjectConnectionDisconnectAction"
               label="%disconnectAction.label"
               menubarPath="group.edit">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.aptana.ide.syncing.ui.filesystemObjectContribution"
            objectClass="com.aptana.ide.ui.io.navigator.FileSystemObject">
         <menu
               icon="icons/full/elcl16/arrow_up_down.png"
               id="aptanasynchronize"
               label="%Menu.Synchronize.name"
               path="group.edit">
            <groupMarker
                  name="syncingGroup">
            </groupMarker>
            <separator
                  name="line">
            </separator>
            <groupMarker
                  name="cloakingGroup">
            </groupMarker>
         </menu>
         <menu
               icon="icons/full/obj16/ftp.png"
               id="aptana.connections.main"
               label="%Menu.Connections.name"
               path="aptanasynchronize/syncingGroup">
            <separator
                  name="group.connections.new">
            </separator>
            <separator
                  name="group.connections.edit">
            </separator>
         </menu>
         <action
               class="com.aptana.ide.syncing.ui.actions.DownloadAction"
               icon="icons/full/elcl16/arrow_down.png"
               id="com.aptana.ide.syncing.ui.actions.FileSystemDownloadAction"
               label="%Action.Download.name"
               menubarPath="aptanasynchronize/syncingGroup"
               tooltip="%Action.Download.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.UploadAction"
               icon="icons/full/elcl16/arrow_up.png"
               id="com.aptana.ide.syncing.ui.actions.FileSystemUploadAction"
               label="%Action.Upload.name"
               menubarPath="aptanasynchronize/syncingGroup"
               tooltip="%Action.Upload.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.SynchronizeAction"
               enablesFor="1"
               icon="icons/full/obj16/transfer_files.png"
               id="com.aptana.ide.syncing.ui.actions.FileSystemSynchronizeAction"
               label="%Action.Synchronize.name"
               menubarPath="aptanasynchronize/syncingGroup"
               tooltip="%Action.Synchronize.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.SynchronizeFilesAction"
               icon="icons/full/elcl16/arrow_up_down.png"
               id="com.aptana.ide.syncing.ui.actions.FileSystemSynchronizeNewAction"
               label="%Action.SynchronizeNew.name"
               menubarPath="aptanasynchronize/syncingGroup"
               tooltip="%Action.SynchronizeNew.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.NewSiteAction"
               enablesFor="1"
               id="com.aptana.ide.syncing.ui.actions.FileSystemNewSiteAction"
               label="%Action.NewConnection.name"
               menubarPath="aptanasynchronize/aptana.connections.main/group.connections.new"
               tooltip="%Action.NewConnection.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.ConnectionManagerAction"
               enablesFor="1"
               id="com.aptana.ide.syncing.ui.actions.FileSystemConnectionManagerAction"
               label="%Action.ConnectionManager.name"
               menubarPath="aptanasynchronize/aptana.connections.main/group.connections.edit"
               tooltip="%Action.ConnectionManager.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.UncloakAction"
               id="com.aptana.ide.syncing.ui.actions.FileSystemUncloakAction"
               label="%Action.Uncloak.name"
               menubarPath="aptanasynchronize/cloakingGroup"
               tooltip="%Action.Uncloak.tooltip">
         </action>
         <action
               class="com.aptana.ide.syncing.ui.actions.CloakAction"
               id="com.aptana.ide.syncing.ui.actions.FileSystemCloakAction"
               label="%Action.Cloak.name"
               menubarPath="aptanasynchronize/cloakingGroup"
               tooltip="%Action.Cloak.tooltip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.syncing.ui.ftpConnectionPointContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPoint">
         <action
               class="com.aptana.ide.syncing.ui.actions.OpenDefaultConnectionAction"
               enablesFor="1"
               icon="icons/full/elcl16/arrow_up_down.png"
               id="com.aptana.ide.syncing.ui.actions.OpenConnectionExplorerAction"
               label="%action.openConnection.label"
               menubarPath="group.edit"
               tooltip="%action.openConnection.tooltip">
         </action>
         <visibility>
            <objectClass
                  name="com.aptana.ide.core.io.IBaseRemoteConnectionPoint">
            </objectClass>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.sync.description"
            id="com.aptana.ide.syncing.ui.commands.category"
            name="%category.sync.name">
      </category>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            defaultHandler="com.aptana.ide.syncing.ui.handlers.SynchronizeHandler"
            id="com.aptana.ide.syncing.ui.commands.synchronize"
            name="%Action.Synchronize.name">
      </command>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            defaultHandler="com.aptana.ide.syncing.ui.handlers.SynchronizeFilesHandler"
            id="com.aptana.ide.syncing.ui.commands.synchronize.files"
            name="%Action.SynchronizeNew.name">
      </command>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            defaultHandler="com.aptana.ide.syncing.ui.handlers.SynchronizeProjectHandler"
            id="com.aptana.ide.syncing.ui.commands.synchronize.project"
            name="%Action.SynchronizeProject.name">
      </command>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            defaultHandler="com.aptana.ide.syncing.ui.handlers.CloakHandler"
            id="com.aptana.ide.syncing.ui.commands.cloak"
            name="%Action.Cloak.name">
      </command>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            defaultHandler="com.aptana.ide.syncing.ui.handlers.UncloakHandler"
            id="com.aptana.ide.syncing.ui.commands.uncloak"
            name="%Action.Uncloak.name">
      </command>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            defaultHandler="com.aptana.ide.syncing.ui.handlers.UploadHandler"
            id="com.aptana.ide.syncing.ui.commands.upload"
            name="%Action.Upload.name">
      </command>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            defaultHandler="com.aptana.ide.syncing.ui.handlers.DownloadHandler"
            id="com.aptana.ide.syncing.ui.commands.download"
            name="%Action.Download.name">
      </command>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            defaultHandler="com.aptana.ide.syncing.ui.handlers.NewSiteHandler"
            id="com.aptana.ide.syncing.ui.commands.newconnection"
            name="%Action.NewConnection.name">
      </command>
      <command
            categoryId="com.aptana.ide.syncing.ui.commands.category"
            defaultHandler="com.aptana.ide.syncing.ui.handlers.ConnectionManagerHandler"
            id="com.aptana.ide.syncing.ui.commands.connectionmanager"
            name="%Action.ConnectionManager.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.ide.syncing.ui.commands.synchronize"
            icon="icons/full/obj16/transfer_files.png">
      </image>
      <image
            commandId="com.aptana.ide.syncing.ui.commands.synchronize.files"
            icon="icons/full/elcl16/arrow_up_down.png">
      </image>
      <image
            commandId="com.aptana.ide.syncing.ui.commands.synchronize.project"
            icon="icons/full/elcl16/arrow_up_down.png">
      </image>
      <image
            commandId="com.aptana.ide.syncing.ui.commands.upload"
            icon="icons/full/elcl16/arrow_up.png">
      </image>
      <image
            commandId="com.aptana.ide.syncing.ui.commands.download"
            icon="icons/full/elcl16/arrow_down.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.aptana.ide.syncing.ui.decorators.CloakedLabelDecorator"
            icon="icons/full/obj16/cloaked_decorator.gif"
            id="com.aptana.ide.syncing.ui.decorators.CloakedLabelDecorator"
            label="%Decorator.CloakedResource.name"
            lightweight="true"
            location="TOP_RIGHT"
            state="true">
         <enablement>
            <or>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <objectClass
                     name="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </objectClass>
            </or>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.aptana.ide.syncing.ui.decorators.SiteSourceDecorator"
            icon="icons/full/obj16/sync_decorator.gif"
            id="com.aptana.ide.syncing.ui.decorators.ResourceSiteDecorator"
            label="%Decorator.ResourceSite.name"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <objectClass
                  name="org.eclipse.core.resources.IResource">
            </objectClass>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            class="com.aptana.ide.syncing.ui.decorators.SiteSourceDecorator"
            icon="icons/full/obj16/sync_decorator.gif"
            id="com.aptana.ide.syncing.ui.decorators.FileSiteDecorator"
            label="%Decorator.FileSite.name"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </objectClass>
               <objectState
                     name="isLocal"
                     value="true">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.aptana.ide.syncing.ui.properties.SynchronizationPropertyPage"
            id="com.aptana.ide.syncing.ui.SyncPropertyPage"
            name="%Propertypage.Synchronization.name">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IContainer">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.ide.syncing.ui.editors.ConnectionEditor"
            default="false"
            icon="icons/full/obj16/ftp.png"
            id="com.aptana.ide.syncing.ui.editors.ConnectionEditor"
            name="%editor.connection.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.ide.syncing.core.ISiteConnectionManager"
            class="com.aptana.ide.syncing.ui.navigator.SiteConnectionWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.syncing.core.ISiteConnection"
            class="com.aptana.ide.syncing.ui.navigator.SiteConnectionWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.syncing.ui.navigator.ProjectSiteConnection"
            class="com.aptana.ide.syncing.ui.navigator.SiteConnectionWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.core.filesystem.IFileStore">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.aptana.ide.syncing.ui.commands.upload"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+U">
      </key>
      <key
            commandId="com.aptana.ide.syncing.ui.commands.download"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+D">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.ide.syncing.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="com.aptana.ui.wizards.import.category"
            class="com.aptana.syncing.ui.wizards.ImportConnectionsWizard"
            icon="icons/full/obj16/transfer_files.png"
            id="com.aptana.syncing.ui.wizards.import"
            name="%wizard.import.name">
         <description>
            %wizard.import.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="com.aptana.ui.wizards.export.category"
            class="com.aptana.syncing.ui.wizards.ExportConnectionsWizard"
            icon="icons/full/obj16/transfer_files.png"
            id="com.aptana.syncing.ui.wizards.export"
            name="%wizard.export.name">
         <description>
            %wizard.export.description
         </description>
      </wizard>
   </extension>

</plugin>
