<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.aptana.formatter.epl.formatterFactory">
      <engineContribution
            contentType="com.aptana.contenttype.ruby">
         <formatterFactory
               class="com.aptana.ruby.formatter.RubyFormatterFactory"
               description="Ruby Code Formatter"
               id="com.aptana.ruby.formatterFactory"
               name="Ruby/ERB"
               priority="10">
         </formatterFactory>
      </engineContribution>
   </extension>
   <extension
         point="com.aptana.formatter.epl.formatterFactory">
      <engineContribution
            contentType="com.aptana.contenttype.html.erb">
         <formatterFactory
               class="com.aptana.ruby.formatter.RubyFormatterFactory"
               description="Ruby Code Formatter for ERB"
               id="com.aptana.erb.formatterFactory"
               name="Ruby/ERB"
               priority="10">
         </formatterFactory>
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.ruby.formatter.internal.RubyFormatterPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
