<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.aptana.js.debug.ui.setStartPageMenuContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.aptana.js.debug.ui.internal.actions.DefaultWebPreviewActionDelegate"
               enablesFor="1"
               id="com.aptana.js.debug.ui.DefaultWebPreviewAction"
               label="%action.label.setStartPage"
               menubarPath="additions">
         </action>
         <visibility>
            <and>
               <not>
                  <objectState
                        name="StartPageFilter"
                        value="isStartPage">
                  </objectState></not>
               <objectState
                     name="WebRunnableFilter"
                     value="isWebRunnable">
               </objectState>
            </and>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.js.debug.ui.unsetStartPageMenuContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.aptana.js.debug.ui.internal.actions.RemoveStartPageAction"
               enablesFor="1"
               id="com.aptana.js.debug.ui.RemoveStartPageAction"
               label="%action.label.unsetStartPage"
               menubarPath="additions"/>
         <visibility>
           <objectState
                 name="StartPageFilter"
                 value="isStartPage">
           </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.aptana.js.debug.ui.jsBreakpointActions"
            objectClass="com.aptana.js.debug.core.model.IJSLineBreakpoint">
         <action
               class="com.aptana.js.debug.ui.internal.actions.BreakpointHitCountAction"
               enablesFor="1"
               helpContextId="hit_count_action_context"
               icon="icons/full/elcl16/sethitcount_co.gif"
               id="com.aptana.js.debug.ui.actions.breakpointHitCount"
               label="%action.label.hitcount"
               menubarPath="emptyBreakpointGroup"/>
         <action
               class="com.aptana.js.debug.ui.internal.actions.BreakpointPropertiesAction"
               enablesFor="1"
               helpContextId="breakpoint_properties_action_context"
               id="com.aptana.js.debug.ui.actions.breakpointProperties"
               label="%action.label.properties"
               menubarPath="additions"/>
      </objectContribution>
   		<viewerContribution
           id="com.aptana.js.debug.ui.RulerPopupActions"
           targetID="com.aptana.editor.html.RulerContext">
        <action
              class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
              id="com.aptana.js.debug.ui.actions.htmlToggleBreakpointAction"
              label="%action.label.toggle.html"
              menubarPath="debug">
        </action>
         <action
               class="com.aptana.js.debug.ui.internal.actions.BreakpointPropertiesRulerActionDelegate"
               helpContextId="breakpoint_properties_action_context"
               id="com.aptana.js.debug.ui.actions.htmlBreakpointPropertiesRulerActionDelegate"
               label="%action.label.breakpoint.properties.html"
               menubarPath="debug"/>
      </viewerContribution>
   		<viewerContribution
           id="com.aptana.js.debug.ui.RulerPopupActions"
           targetID="com.aptana.editor.js.RulerContext">
        <action
              class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
              id="com.aptana.js.debug.ui.actions.jsToggleBreakpointAction"
              label="%action.label.toggle.js"
              menubarPath="debug">
        </action>
         <action
               class="com.aptana.js.debug.ui.internal.actions.BreakpointPropertiesRulerActionDelegate"
               helpContextId="breakpoint_properties_action_context"
               id="com.aptana.js.debug.ui.actions.jsBreakpointPropertiesRulerActionDelegate"
               label="%action.label.breakpoint.properties.js"
               menubarPath="debug"/>
      </viewerContribution>
     <viewerContribution
           id="com.aptana.js.debug.ui.ContextPopupActions"
           targetID="com.aptana.editor.html">
         <action
               class="com.aptana.js.debug.ui.internal.actions.PopupInspectAction"
               definitionId="com.aptana.debug.ui.commands.Inspect"
               enablesFor="+"
               helpContextId="inspect_action_context"
               icon="icons/full/etool16/inspect.gif"
               id="com.aptana.js.debug.ui.actions.htmlPopup.Inspect"
               label="%InspectAction.label"
               menubarPath="debug">
            <enablement>
              <objectClass name="org.eclipse.jface.text.ITextSelection"/>
            </enablement>
         </action>
         <action
               class="com.aptana.js.debug.ui.internal.actions.WatchAction"
               enablesFor="+"
               helpContextId="watch_action_context"
               icon="icons/full/etool16/watch_exp.gif"
               id="com.aptana.js.debug.ui.actions.htmlPopup.Watch"
               label="%WatchAction.label"
               menubarPath="debug">
            <enablement>
              <objectClass name="org.eclipse.jface.text.ITextSelection"/>
            </enablement>
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RunToLineActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.RunToLine"
               helpContextId="run_to_line_action_context"
               icon="icons/full/elcl16/runtoline_co.gif"
               id="com.aptana.js.debug.ui.actions.htmlPopup.RunToLine"
               label="%RunToLine.label"
               menubarPath="debug">
            <enablement>
              <objectClass name="org.eclipse.jface.text.ITextSelection"/>
            </enablement>
         </action>
         <visibility>
            <systemProperty
                  name="com.aptana.js.debug.core.debuggerActive"
                  value="true">
            </systemProperty>
         </visibility>
     </viewerContribution>
     <viewerContribution
           id="com.aptana.js.debug.ui.ContextPopupActions"
           targetID="com.aptana.editor.js">
         <action
               class="com.aptana.js.debug.ui.internal.actions.PopupInspectAction"
               definitionId="com.aptana.debug.ui.commands.Inspect"
               enablesFor="+"
               helpContextId="inspect_action_context"
               icon="icons/full/etool16/inspect.gif"
               id="com.aptana.js.debug.ui.actions.jsPopup.Inspect"
               label="%InspectAction.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.js.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <action
               class="com.aptana.js.debug.ui.internal.actions.WatchAction"
               enablesFor="+"
               helpContextId="watch_action_context"
               icon="icons/full/etool16/watch_exp.gif"
               id="com.aptana.js.debug.ui.actions.jsPopup.Watch"
               label="%WatchAction.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.js.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RunToLineActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.RunToLine"
               helpContextId="run_to_line_action_context"
               icon="icons/full/elcl16/runtoline_co.gif"
               id="com.aptana.js.debug.ui.actions.jsPopup.RunToLine"
               label="%RunToLine.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.js.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <visibility>
            <systemProperty
                  name="com.aptana.js.debug.core.debuggerActive"
                  value="true"/>
         </visibility>
     </viewerContribution>
     <objectContribution
           adaptable="false"
           id="com.aptana.js.debug.ui.FilteredJSVariableActions"
           objectClass="com.aptana.js.debug.core.model.IJSVariable">
        <action
              class="com.aptana.js.debug.ui.internal.actions.NewDetailFormatterAction"
              enablesFor="1"
              helpContextId="new_detail_formatter_action_context"
              id="com.aptana.js.debug.ui.actions.NewDetailFormatter"
              label="%newDetailFormatter.label"
              menubarPath="emptyNavigationGroup"
              tooltip="%newDetailFormatter.tooltip"/>
        <visibility>
           <not>
              <and>
                 <objectState
                       name="PrimitiveVariableActionFilter"
                       value="isValuePrimitive"/>
                 <objectState
                       name="DetailFormatterFilter"
                       value="isDefined"/>
              </and>
           </not>
        </visibility>
     </objectContribution>
     <objectContribution
           adaptable="false"
           id="com.aptana.js.debug.ui.FilteredJSVariableActions"
           objectClass="com.aptana.js.debug.core.model.IJSVariable">
        <action
              class="com.aptana.js.debug.ui.internal.actions.RemoveDetailFormatterAction"
              enablesFor="1"
              helpContextId="remove_detail_formatter_action_context"
              id="com.aptana.js.debug.ui.actions.RemoveDetailFormatter"
              label="%removeDetailFormatter.label"
              menubarPath="emptyNavigationGroup"
              tooltip="%removeDetailFormatter.tooltip"/>
        <action
              class="com.aptana.js.debug.ui.internal.actions.EditDetailFormatterAction"
              enablesFor="1"
              helpContextId="edit_detail_formatter_action_context"
              id="com.aptana.js.debug.ui.actions.EditDetailFormatter"
              label="%editDetailFormatter.label"
              menubarPath="emptyNavigationGroup"
              tooltip="%editDetailFormatter.tooltip"/>
        <visibility>
           <objectState
                 name="DetailFormatterFilter"
                 value="isDefined"/>
        </visibility>
     </objectContribution>
     <!-- objectContribution
           adaptable="false"
           id="com.aptana.debug.ui.FilteredJSVariableActions"
           objectClass="com.aptana.js.debug.core.model.IJSVariable">
        <action
              class="com.aptana.debug.internal.ui.actions.NewWatchpointAction"
              enablesFor="1"
              helpContextId="new_watchpoint_action_context"
              id="com.aptana.debug.ui.actions.NewWatchpoint"
              label="%newWatchpoint.label"
              menubarPath="emptyNavigationGroup"
              tooltip="%newWatchpointFormatter.tooltip">
        </action>
        <visibility>
           <not>
              <objectState
                    name="watchpointFilter"
                    value="isDefined">
              </objectState>
           </not>
        </visibility>
     </objectContribution -->
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.aptana.js.debug.ui.BreakpointRulerActions"
            targetID="com.aptana.editor.html">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="com.aptana.js.debug.ui.actions.htmlDoubleClickBreakpointAction"
               label="%action.label.toggleBreakpoint.html"
               style="push">
         </action>
      </editorContribution>
      <editorContribution
            id="com.aptana.js.debug.ui.BreakpointRulerActions"
            targetID="com.aptana.editor.js">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="com.aptana.js.debug.ui.actions.jsDoubleClickBreakpointAction"
               label="%action.label.toggleBreakpoint.js"
               style="push">
         </action>
      </editorContribution>
      <editorContribution
            id="com.aptana.js.debug.ui.BreakpointRulerActions"
            targetID="com.aptana.editor.php">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="com.aptana.js.debug.ui.actions.phpDoubleClickBreakpointAction"
               label="%action.label.toggleBreakpoint.php"
               style="push"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.aptana.js.debug.ui.internal.launchConfigurations.JSLaunchConfigurationTabGroup"
            description="%launchConfigurationTabGroup.description.js"
            id="com.aptana.js.debug.ui.webbrowserLaunchConfigurationTabGroup"
            type="com.aptana.js.debug.core.webbrowserLaunchConfigurationType">
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective"/>
         <launchMode mode="run"/>
      </launchConfigurationTabGroup>
      <!--
      <launchConfigurationTabGroup
            class="com.aptana.js.debug.ui.internal.launchConfigurations.JSRemoteLaunchConfigurationTabGroup"
            description="%launchConfigurationTabGroup.description.jsremote"
            id="com.aptana.js.debug.ui.remoteLaunchConfigurationTabGroup"
            type="com.aptana.js.debug.core.remoteLaunchConfigurationType">
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective"/>
         <launchMode mode="run"/>
      </launchConfigurationTabGroup>
      -->
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.aptana.js.debug.ui.internal.JSDebugModelPresentation"
            id="com.aptana.js.debug.core"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.aptana.js.debug.core.webbrowserLaunchConfigurationType"
            icon="icons/full/obj16/launch-httpServer.gif"
            id="com.aptana.js.debug.ui.webbrowserLaunchConfigurationTypeImage"/>
      <!--launchConfigurationTypeImage
            configTypeID="com.aptana.js.debug.core.remoteLaunchConfigurationType"
            icon="icons/full/obj16/launch-httpServer.gif"
            id="com.aptana.js.debug.ui.jsRemoteLaunchConfigurationTypeImage"/ -->
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.aptana.js.debug.ui.internal.JSLaunchShortcut"
            icon="icons/full/obj16/launch-httpServer.gif"
            id="com.aptana.js.debug.ui.applicationShortcut"
            label="%shortcut.label.js"
            modes="run,debug">
         <contextualLaunch>
            <contextLabel
                  label="%contextLabel.label.js"
                  mode="debug"/>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <or>
	                     <test
	                           property="org.eclipse.debug.ui.matchesPattern"
	                           value="*.html"/>
	                     <test
	                           property="org.eclipse.debug.ui.matchesPattern"
	                           value="*.xhtml"/>
	                     <test
	                           property="org.eclipse.debug.ui.matchesPattern"
	                           value="*.htm"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.editor.html.HTMLEditor"
            class="com.aptana.js.debug.ui.internal.actions.RetargettableActionAdapterFactory">
         <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
         <adapter type="org.eclipse.debug.ui.actions.IRunToLineTarget"/>
      </factory>
      <factory
            adaptableType="com.aptana.editor.js.JSSourceEditor"
            class="com.aptana.js.debug.ui.internal.actions.RetargettableActionAdapterFactory">
         <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
         <adapter type="org.eclipse.debug.ui.actions.IRunToLineTarget"/>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.JSLaunchConfigurationDelegate"
            class="com.aptana.debug.ui.internal.ActiveResourcePathGetterAdapter$Factory">
         <adapter type="com.aptana.debug.core.IActiveResourcePathGetterAdapter"/>
      </factory>
      <factory
            adaptableType="com.aptana.debug.core.DebugCorePlugin"
            class="com.aptana.debug.ui.internal.EditorOpenAdapter$Factory">
         <adapter type="com.aptana.debug.core.IEditorOpenAdapter"/>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.JSLaunchConfigurationHelper"
            class="com.aptana.js.debug.ui.internal.WebBrowserEnumeratorAdapterFactory">
         <adapter type="java.util.Enumeration"/>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.model.IJSScriptElement"
            class="com.aptana.js.debug.ui.internal.sourcelookup.SourceDisplayAdapter$Factory">
         <adapter
               type="org.eclipse.debug.ui.sourcelookup.ISourceDisplay">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.model.ISourceLink"
            class="com.aptana.js.debug.ui.internal.sourcelookup.SourceDisplayAdapter$Factory">
         <adapter
               type="org.eclipse.debug.ui.sourcelookup.ISourceDisplay">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.aptana.ui.WebPerspective">
         <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
         <actionSet id="org.eclipse.debug.ui.breakpointActionSet"/>
         <actionSet id="com.aptana.js.debug.ui.actionSet"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet id="com.aptana.js.debug.ui.actionSet"/>
         <view
               id="com.aptana.js.debug.ui.scriptsView"
               relationship="stack"
               relative="org.eclipse.debug.ui.ExpressionView"
               visible="true"/>
         <viewShortcut id="com.aptana.js.debug.ui.scriptsView"/>
         <viewShortcut id="com.aptana.js.debug.ui.AJAXMonitorView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
  <page
        class="com.aptana.js.debug.ui.internal.propertypages.JSLineBreakpointPropertyPage"
        id="com.aptana.js.debug.ui.propertypages.common"
        name="%page.name.common">
     <enabledWhen>
        <instanceof
              value="com.aptana.js.debug.core.model.IJSLineBreakpoint">
        </instanceof>
     </enabledWhen>
  </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="com.aptana.js.debug.ui.internal.InstallDebuggerPromptStatusHandler"
            code="301"
            id="com.aptana.js.debug.ui.installDebuggerPromptStatusHandler"
            plugin="com.aptana.js.debug.core"/>
      <statusHandler
            class="com.aptana.js.debug.ui.internal.LaunchDebuggerPromptStatusHandler"
            code="302"
            id="com.aptana.js.debug.ui.launchBrowserPromptStatusHandler"
            plugin="com.aptana.js.debug.core"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.debug.ui"
            class="com.aptana.js.debug.ui.internal.views.AJAXMonitorView"
            icon="icons/full/obj16/xhrmon.gif"
            id="com.aptana.js.debug.ui.AJAXMonitorView"
            name="%AJAXMonitorView.name"/>
      <view
            allowMultiple="false"
            category="org.eclipse.debug.ui"
            class="com.aptana.js.debug.ui.internal.views.ScriptsView"
            icon="icons/full/obj16/script.gif"
            id="com.aptana.js.debug.ui.scriptsView"
            name="%scriptsView.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="com.aptana.debug.ui.console.ConsoleTracker"
            id="com.aptana.js.debug.ui.consoleTracker"
            regex="(?i)\([^(]*\.\w+:\d+\)">
         <enablement>
            <or>
               <test
                     property="org.eclipse.debug.ui.processTypeTest"
                     value="javascript"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.js.debug.ui.actionSet"
            label="%JSDebugActionSet.label"
            visible="false">
         <menu
               id="org.eclipse.ui.run"
               label="%RunMenu.label"
               path="additions">
            <separator name="jsGroup"/>
         </menu>
         <action
               class="com.aptana.js.debug.ui.internal.actions.PopupInspectAction"
               definitionId="com.aptana.debug.ui.commands.Inspect"
               disabledIcon="icons/full/dtool16/inspect.gif"
               helpContextId="inspect_action_context"
               hoverIcon="icons/full/etool16/inspect.gif"
               icon="icons/full/etool16/inspect.gif"
               id="com.aptana.js.debug.ui.actions.Inspect"
               label="%InspectAction.label"
               menubarPath="org.eclipse.ui.run/jsGroup"
               style="push">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.js.debug.core.debuggerActive"
                        value="true"/>
                  <or>
                     <objectClass name="org.eclipse.jface.text.ITextSelection"/>
                     <objectClass name="com.aptana.js.debug.core.model.IJSVariable"/>
                  </or>
               </and>
            </enablement>
         </action>
         <action
               class="com.aptana.js.debug.ui.internal.actions.WatchAction"
               disabledIcon="icons/full/dtool16/watch_exp.gif"
               enablesFor="+"
               helpContextId="watch_action_context"
               hoverIcon="icons/full/etool16/watch_exp.gif"
               icon="icons/full/etool16/watch_exp.gif"
               id="com.aptana.js.debug.ui.actions.Watch"
               label="%WatchAction.label"
               menubarPath="org.eclipse.ui.run/jsGroup"
               style="push">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.js.debug.core.debuggerActive"
                        value="true"/>
                  <or>
                     <objectClass name="org.eclipse.jface.text.ITextSelection"/>
                     <objectClass name="com.aptana.js.debug.core.model.IJSVariable"/>
                  </or>
               </and>
            </enablement>
         </action>
         <action
               class="com.aptana.js.debug.ui.internal.actions.AddExceptionBreakpointAction"
               icon="icons/full/elcl16/exc_catch.gif"
               id="com.aptana.js.debug.ui.actions.AddExceptionBreakpoint"
               label="%addExceptionBreakpointAction.accel.label"
               menubarPath="org.eclipse.ui.run/jsGroup"/>
         <action
               class="org.eclipse.debug.internal.ui.actions.breakpoints.RetargetToggleLineBreakpointAction"
               disabledIcon="$nl$/icons/full/obj16/linebreakpoint_d.gif"
               helpContextId="toggle_breakpoint_action_context"
               icon="$nl$/icons/full/obj16/linebreakpoint_e.gif"
               id="com.aptana.js.debug.ui.actions.ToggleBreakpoint"
               label="%ToggleBreakpointAction.label"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"/>
         <action
               class="com.aptana.js.debug.ui.internal.actions.OpenURLAction"
               icon="icons/full/etool16/url_file.gif"
               id="com.aptana.js.debug.ui.actions.openURL"
               label="%OpenURLAction.label"
               menubarPath="file/new.ext"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.aptana.js.debug.ui.debugging"
            name="%Context.jsDebugging.name"
            parentId="org.eclipse.debug.ui.debugging"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="com.aptana.js.debug.ui.debugging"
            debugModelId="com.aptana.js.debug.core"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            autoOpen="true"
            contextId="com.aptana.js.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.DebugView"/>
      <contextViewBinding
            autoOpen="true"
            contextId="com.aptana.js.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.VariableView"/>
      <contextViewBinding
            autoOpen="true"
            contextId="com.aptana.js.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.ExpressionView"/>
      <contextViewBinding
            autoClose="true"
            autoOpen="true"
            contextId="com.aptana.js.debug.ui.debugging"
            viewId="com.aptana.js.debug.ui.scriptsView"/>
      <contextViewBinding
            autoClose="true"
            autoOpen="true"
            contextId="com.aptana.js.debug.ui.debugging"
            viewId="com.aptana.js.debug.ui.AJAXMonitorView"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.js.debug.ui.internal.preferences.JSDebugPreferencePage"
            id="com.aptana.js.debug.ui.preferences"
            name="%Preferences.jsDebug.name">
         <keywordReference id="org.eclipse.debug.ui.general"/>
      </page>
      <page
            category="com.aptana.js.debug.ui.preferences"
            class="com.aptana.js.debug.ui.internal.preferences.JSDetailFormattersPreferencePage"
            id="com.aptana.js.debug.ui.preferences.detailFormatters"
            name="%Preferences.jsDetailFormatters.name"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.aptana.js.debug.ui.internal.preferences.JSDebugUIPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.aptana.debug.ui.variableViewContribution"
            targetID="org.eclipse.debug.ui.VariableView">
         <action
               class="com.aptana.js.debug.ui.internal.actions.DetailOptionsActionDelegate"
               id="com.aptana.debug.ui.variableViewActions.DetailOptions"
               label="%detailOptionsAction.label"
               menubarPath="javascriptActions"
               style="push"/>
         <action
               class="com.aptana.js.debug.ui.internal.actions.ShowConstantsActionDelegate"
               icon="icons/full/elcl16/constant_co.gif"
               id="com.aptana.debug.ui.variableViewActions.ShowConstants"
               label="%showConstantsAction.label"
               menubarPath="javascriptActions"
               style="toggle"
               />
      </viewContribution>
      <viewContribution
            id="com.aptana.debug.ui.expressionViewContribution"
            targetID="org.eclipse.debug.ui.ExpressionView">
         <action
               class="com.aptana.js.debug.ui.internal.actions.DetailOptionsActionDelegate"
               id="com.aptana.debug.ui.variableViewActions.DetailOptions"
               label="%detailOptionsAction.label"
               menubarPath="javascriptActions"
               style="push">
         </action>
         <action
               class="com.aptana.js.debug.ui.internal.actions.ShowConstantsActionDelegate"
               icon="icons/full/elcl16/constant_co.gif"
               id="com.aptana.debug.ui.variableViewActions.ShowConstants"
               label="%showConstantsAction.label"
               menubarPath="javascriptActions"
               style="toggle">
         </action>
         <action
               class="org.eclipse.debug.internal.ui.actions.expressions.AddWatchExpressionAction"
               disabledIcon="icons/full/dtool16/watch_exp.gif"
               helpContextId="add_watch_expression_context"
               icon="icons/full/etool16/watch_exp.gif"
               id="org.eclipse.debug.ui.expressionViewActions.AddWatchExpression"
               label="%addWatchExpressionAction.label"
               style="push"
               toolbarPath="org.eclipse.debug.internal.ui.views.expression.ExpressionView"
               tooltip="%addWatchExpressionAction.tooltip">
         </action>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.aptana.js.debug.ui.internal.decorators.StartPageDecorator"
            icon="icons/full/ovr16/start_page_ovr.gif"
            id="com.aptana.debug.ui.decorators.StartPageDecorator"
            label="%decorator.label.startPage"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IFile"/>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="java.lang.Object">
         <adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.model.IJSVariable"
            class="com.aptana.js.debug.ui.internal.ActionFilterAdapterFactory">
         <adapter type="org.eclipse.ui.IActionFilter"/>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.model.IJSVariable"
            class="com.aptana.js.debug.ui.internal.WatchExpressionFactoryAdapter$Factory">
         <adapter type="org.eclipse.debug.ui.actions.IWatchExpressionFactoryAdapter"/>
      </factory>
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="com.aptana.js.debug.ui.internal.StartPageActionFilter$Factory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.aptana.editor.common.textHovers">
      <hover
            class="com.aptana.js.debug.ui.internal.hovers.JSDebugHover"
            id="com.aptana.js.debug.ui.hover"
            label="%hover.label">
         <contentType
               type="com.aptana.contenttype.js">
         </contentType>
         <enablement>
            <and>
               <systemTest
                     property="com.aptana.js.debug.core.debuggerActive"
                     value="true">
               </systemTest>
            </and>
         </enablement>
      </hover>
   </extension>
   <extension
         point="org.eclipse.debug.ui.consoleColorProviders">
      <consoleColorProvider
            class="com.aptana.js.debug.ui.internal.JSConsoleColorProvider"
            id="com.aptana.js.debug.ui.consoleColorProvider"
            processType="javascript">
      </consoleColorProvider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.aptana.ui.category"
            defaultHandler="com.aptana.js.debug.ui.internal.actions.SuspendOnAllExceptionsHandler"
            id="com.aptana.js.debug.ui.suspendOnAllExceptions"
            name="%suspendOnExceptions.label">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="com.aptana.ui.category"
            defaultHandler="com.aptana.js.debug.ui.internal.actions.SuspendOnUncaughtExceptionsHandler"
            id="com.aptana.js.debug.ui.suspendOnUncaughtExceptions"
            name="%suspendOnErrors.label">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.debug.ui.BreakpointView?before=additions">
         <command
               commandId="com.aptana.js.debug.ui.suspendOnAllExceptions"
               disabledIcon="icons/full/dlcl16/suspend_onexception.gif"
               icon="icons/full/elcl16/suspend_onexception.gif"
               style="toggle">
         </command>
         <command
               commandId="com.aptana.js.debug.ui.suspendOnUncaughtExceptions"
               disabledIcon="icons/full/dlcl16/suspend_onerror.gif"
               icon="icons/full/elcl16/suspend_onerror.gif"
               style="toggle">
         </command>
      </menuContribution>
   </extension>

</plugin>
