<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.aptana.deploy.epl.deployWizards">
      <wizard
            class="com.aptana.deploy.capistrano.ui.wizard.CapistranoDeployWizard"
            icon="icons/newproj.png"
            id="com.aptana.deploy.capistrano.wizard"
            name="%wizard.capistrano.name">
         <description>
            %wizard.capistrano.description
         </description>
      </wizard>
   </extension>
   <extension
         point="com.aptana.deploy.deployProviders">
      <provider
            class="com.aptana.deploy.capistrano.CapistranoDeployProvider"
            id="com.aptana.deploy.capistrano.provider">
      </provider>
   </extension>

</plugin>
