<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.text.TextEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="log,opts"
            icon="icons/text.png"
            id="com.aptana.editor.text"
            name="%editor.text.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.core.runtime.text">
         </contentTypeBinding>
         <contentTypeBinding
               contentTypeId="com.aptana.editor.text.content-type.generic">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.core.runtime.text"
            file-extensions="log,opts"
            file-names="README,TODO,README_FOR_APP,CHANGELOG,LICENSE,ABOUT">
      </file-association>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            id="com.aptana.editor.text.content-type.generic"
            name="%content-type.generic.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.editor.text.parsing.GenericTextParser"
            content-type="com.aptana.editor.text.content-type.generic">
      </parser>
   </extension>

</plugin>
