<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="decorator" name="%extensions.decorator.name" schema="schema/decorator.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.ide.ui.io.internal.FileSystemObjectPropertyTester"
            id="com.aptana.ide.ui.io.navigator.filePropertyTester"
            namespace="com.aptana.ide.ui.io.navigator.file"
            properties="isDirectory, isLocal, isSymlink"
            type="com.aptana.ide.ui.io.navigator.FileSystemObject">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.ui.io.connectionPointContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPoint">
         <action
               class="com.aptana.ide.ui.io.actions.ConnectionPropertiesAction"
               enablesFor="1"
               id="com.aptana.ide.ui.io.actions.connectionProperties"
               label="%connectionPropertiesAction.label"
               menubarPath="group.properties">
         </action>
         <action
               class="com.aptana.ide.ui.io.actions.DeleteConnectionAction"
               enablesFor="+"
               icon="icons/full/etool16/delete.png"
               id="com.aptana.ide.ui.io.actions.DeleteConnectionAction"
               label="%deleteAction.label"
               menubarPath="group.edit">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.ui.io.localCategoryContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPointCategory">
         <action
               class="com.aptana.ide.ui.io.actions.NewLocalConnectionAction"
               enablesFor="1"
               icon="icons/full/etool16/add.png"
               id="com.aptana.ide.ui.io.actions.newLocalConnection"
               label="%newLocalConnectionAction.label"
               menubarPath="group.new">
         </action>
         <visibility>
            <objectState
                  name="isCategory"
                  value="com.aptana.ide.core.io.localShortcuts">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.ui.io.workspaceCategoryContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPointCategory">
         <action
               class="com.aptana.ide.ui.io.actions.NewWorkspaceConnectionAction"
               enablesFor="1"
               icon="icons/full/etool16/add.png"
               id="com.aptana.ide.ui.io.actions.newWorkspaceConnection"
               label="%newWorkspaceConnectionAction.label"
               menubarPath="group.new">
         </action>
         <visibility>
            <objectState
                  name="isCategory"
                  value="com.aptana.ide.core.io.projectShortcuts">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.ui.io.genericCategoryContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPointCategory">
         <action
               class="com.aptana.ide.ui.io.actions.NewGenericConnectionAction"
               enablesFor="1"
               icon="icons/full/etool16/add.png"
               id="com.aptana.ide.ui.io.actions.newGenericConnection"
               label="%newGenericConnectionAction.label"
               menubarPath="group.new">
         </action>
         <visibility>
            <objectState
                  name="isCategory"
                  value="com.aptana.ide.core.io.generic">
            </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.ide.ui.io.disconnectableConnectionPointContribution"
            objectClass="com.aptana.ide.core.io.IConnectionPoint">
         <action
               class="com.aptana.ide.ui.io.actions.DisconnectAction"
               enablesFor="1"
               icon="icons/full/etool16/disconnect.png"
               id="com.aptana.ide.ui.io.actions.DisconnectAction"
               label="%disconnectAction.label"
               menubarPath="group.edit">
         </action>
         <visibility>
            <objectState
                  name="canDisconnect"
                  value="true">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.aptana.ide.ui.io.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="com.aptana.ide.ui.io.navigator.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            description="%commonFilter.connections.description"
            id="com.aptana.ide.ui.io.navigator.filters.generic"
            name="%commonFilter.connections.name">
         <filterExpression>
            <and>
               <instanceof
                     value="com.aptana.ide.core.io.IConnectionPointCategory">
               </instanceof>
               <test
                     property="com.aptana.ide.core.io.connection.category.id"
                     value="com.aptana.ide.core.io.generic">
               </test>
            </and>
         </filterExpression>
      </commonFilter>
   </extension>
   <!-- extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.aptana.ide.ui.io.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension -->
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPointManager"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPointCategory"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPoint"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.LocalRoot"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.filesystem.IFileStore"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPointCategory"
            class="com.aptana.ide.ui.io.actions.ConnectionActionFilter$Factory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPoint"
            class="com.aptana.ide.ui.io.actions.ConnectionActionFilter$Factory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.ui.io.navigator.FileSystemObject"
            class="com.aptana.ide.ui.io.actions.FileSystemActionFilter$Factory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.auth.AuthenticationManager"
            class="com.aptana.ide.ui.io.auth.AuthenticationPrompt$Factory">
         <adapter
               type="com.aptana.ide.core.io.auth.IAuthenticationPrompt">
         </adapter>
      </factory>
   </extension>
   <extension
         point="com.aptana.ide.ui.propertyDialogs">
      <dialog
            class="com.aptana.ide.ui.io.internal.LocalConnectionPropertyDialogProvider"
            id="com.aptana.ide.ui.io.dialogs.localConnection"
            objectClass="com.aptana.ide.core.io.LocalConnectionPoint">
      </dialog>
      <dialog
            class="com.aptana.ide.ui.io.internal.WorkspaceConnectionPropertyDialogProvider"
            id="com.aptana.ide.ui.io.dialogs.workspaceConnection"
            objectClass="com.aptana.ide.core.io.WorkspaceConnectionPoint">
      </dialog>
      <dialog
            class="com.aptana.ide.ui.io.internal.GenericConnectionPropertyDialogProvider"
            id="com.aptana.ide.ui.io.dialogs.genericConnection"
            objectClass="com.aptana.ide.core.io.GenericConnectionPoint">
      </dialog>
   </extension>
   <extension
         point="com.aptana.ide.ui.imageAssociations">
      <image
            icon="icons/full/obj16/locals.png"
            id="com.aptana.ide.core.io.localShortcuts">
      </image>
      <image
            icon="icons/full/obj16/projects.png"
            id="com.aptana.ide.core.io.projectShortcuts">
      </image>
      <image
            icon="icons/full/obj16/connection.png"
            id="com.aptana.ide.core.io.generic">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.aptana.ide.ui.io.properties.FileInfoPropertyPage"
            id="com.aptana.ide.ui.io.properties.FilePropertyPage"
            name="%propertyPage.resource.name">
         <enabledWhen>
            <or>
               <instanceof
                     value="com.aptana.ide.core.io.LocalRoot">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.ide.ui.io.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/full/ovr16/symlink.png"
            id="com.aptana.ide.ui.io.decorators.fileSystemDecorator"
            label="FileSystem Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </objectClass>
               <objectState
                     name="isSymlink"
                     value="true">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>

</plugin>
