<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="decorator" name="%extensions.decorator.name" schema="schema/decorator.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.ide.ui.io.internal.FileSystemObjectPropertyTester"
            id="com.aptana.ide.ui.io.navigator.filePropertyTester"
            namespace="com.aptana.ide.ui.io.navigator.file"
            properties="isDirectory, isLocal, isSymlink, isPrivate"
            type="com.aptana.ide.ui.io.navigator.FileSystemObject">
      </propertyTester>
      <propertyTester
            class="com.aptana.ide.ui.io.internal.ResourcePropertyTester"
            id="com.aptana.ide.ui.io.navigator.resourcePropertyTester"
            namespace="com.aptana.ide.ui.io.navigator.resource"
            properties="isAccessible"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
      <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.aptana.ide.ui.io.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="com.aptana.ide.ui.io.navigator.filters.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
       <viewerActionBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
             <actionExtension
                   pattern="com.aptana.ide.ui.io.navigator.actions.*">
             </actionExtension>
         </includes>
       </viewerActionBinding>
   </extension>
      <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="com.aptana.ide.ui.io.navigator.FileTreeContentProvider"
            icon="icons/full/obj16/projects.png"
            id="com.aptana.ide.ui.io.navigatorContent"
            labelProvider="com.aptana.ide.ui.io.navigator.FileTreeLabelProvider"
            name="%navigatorContent.default.name"
            priority="normal">
         <enablement>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
               </adapt>
               <instanceof
                     value="org.eclipse.core.resources.IResource">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
            </or>
         </enablement>
         <commonSorter
               class="com.aptana.ide.ui.io.navigator.FileTreeNameSorter">
            <parentExpression>
               <or>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof></or>
            </parentExpression>
         </commonSorter>
         <possibleChildren>
            <instanceof
                  value="com.aptana.ide.ui.io.navigator.FileSystemObject">
            </instanceof>
         </possibleChildren>
         <dropAssistant
               class="com.aptana.ide.ui.io.navigator.resources.FileDropAdapterAssistant"
               id="com.aptana.ide.ui.io.navigator.resources.fileDropAdapter">
            <possibleDropTargets>
               <or>
                  <instanceof
                        value="com.aptana.ide.ui.io.navigator.FileSystemObject">
                  </instanceof>
                  <instanceof
                        value="org.eclipse.core.resources.IResource">
                  </instanceof>
                  <adapt
                        type="org.eclipse.core.resources.IProject">
                  </adapt>
               </or></possibleDropTargets>
         </dropAssistant>
      </navigatorContent>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.OpenActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.OpenActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.ui.io.navigator.FileSystemObject">
            </instanceof>
            <test
                  property="com.aptana.ide.ui.io.navigator.file.isDirectory"
                  value="false">
            </test>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemNewActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.FileSystemNewActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.ui.io.navigator.FileSystemObject">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemEditActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.FileSystemEditActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.ui.io.navigator.FileSystemObject">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemRefactorActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.FileSystemRefactorActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.ui.io.navigator.FileSystemObject">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.FileSystemMgmtActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.FileSystemMgmtActions">
         <enablement>
            <instanceof
                  value="com.aptana.ide.ui.io.navigator.FileSystemObject">
            </instanceof>
         </enablement>
      </actionProvider>
      <actionProvider
            class="org.eclipse.ui.navigator.resources.GoIntoActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.FileSystemGoIntoActions">
         <enablement>
            <and>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
               <test
                     property="com.aptana.ide.ui.io.navigator.file.isDirectory"
                     value="true">
               </test>
               <test
                    property="com.aptana.ide.ui.io.navigator.file.isPrivate"
                    value="false">
               </test>
            </and>
         </enablement>
      </actionProvider>
      <actionProvider
            class="com.aptana.ide.ui.io.navigator.actions.RemoteNewActionProvider"
            id="com.aptana.ide.ui.io.navigator.actions.RemoteNewActions"
            overrides="com.aptana.ide.ui.io.navigator.actions.FileSystemNewActions">
         <enablement>
            <and>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
               <test
                     property="com.aptana.ide.ui.io.navigator.file.isLocal"
                     value="false">
               </test>
            </and>
         </enablement>
      </actionProvider>
      <commonFilter
            activeByDefault="true"
            class="com.aptana.ide.ui.io.navigator.FileSystemDotFilter"
            description="%commonFilter.startsWithDot.description"
            id="com.aptana.ide.ui.io.navigator.filters.startsWithDot"
            name="%commonFilter.startsWithDot.name">
      </commonFilter>
   </extension>
   <!-- extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension
                  pattern="com.aptana.ide.ui.io.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension -->
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPointManager"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPointCategory"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPoint"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.LocalRoot"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.core.filesystem.IFileStore"
            class="com.aptana.ide.ui.io.navigator.FileSystemWorkbenchAdapter$Factory">
         <adapter
               type="org.eclipse.ui.progress.IDeferredWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPointCategory"
            class="com.aptana.ide.ui.io.actions.ConnectionActionFilter$Factory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.IConnectionPoint"
            class="com.aptana.ide.ui.io.actions.ConnectionActionFilter$Factory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.ui.io.navigator.FileSystemObject"
            class="com.aptana.ide.ui.io.actions.FileSystemActionFilter$Factory">
         <adapter
               type="org.eclipse.ui.IActionFilter">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.auth.AuthenticationManager"
            class="com.aptana.ide.ui.io.auth.AuthenticationPrompt$Factory">
         <adapter
               type="com.aptana.ide.core.io.auth.IAuthenticationPrompt">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.aptana.ide.ui.io.properties.FileInfoPropertyPage"
            id="com.aptana.ide.ui.io.properties.FilePropertyPage"
            name="%propertyPage.resource.name">
         <enabledWhen>
            <or>
               <instanceof
                     value="com.aptana.ide.core.io.LocalRoot">
               </instanceof>
               <instanceof
                     value="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </instanceof>
            </or>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.ide.ui.io.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            icon="icons/full/ovr16/symlink.png"
            id="com.aptana.ide.ui.io.decorators.fileSystemDecorator"
            label="FileSystem Decorator"
            lightweight="true"
            location="BOTTOM_LEFT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </objectClass>
               <objectState
                     name="isSymlink"
                     value="true">
               </objectState>
            </and>
         </enablement>
      </decorator>
      <decorator
            adaptable="true"
            icon="icons/full/ovr16/private.png"
            id="com.aptana.ide.ui.io.decorators.filePrivateDecorator"
            label="Private Decorator"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <and>
               <objectClass
                     name="com.aptana.ide.ui.io.navigator.FileSystemObject">
               </objectClass>
               <objectState
                     name="isPrivate"
                     value="true">
               </objectState>
            </and>
         </enablement>
      </decorator>
   </extension>

</plugin>
