<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="typeMaps" name="%extension-point.typemaps.name" schema="schema/typeMaps.exsd"/>
   <extension-point id="requireResolvers" name="%extension-point.requireResolvers.name" schema="schema/requireResolvers.exsd"/>
   <extension-point id="aliasResolver" name="%extension-point.aliasResolver.name" schema="schema/aliasResolver.exsd"/>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="js,htc,jsx,chromium"
            id="com.aptana.contenttype.js"
            name="%content-type.js.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="sdocml"
            id="com.aptana.contenttype.sdocml"
            name="%content-type.sdocml.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="com.aptana.contenttype.json"
            file-extensions="jsca"
            id="com.aptana.contenttype.jsca"
            name="%jsca.content-type.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.js.internal.core.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.aptana.index.core.fileIndexingParticipants">
      <fileIndexingParticipant
            class="com.aptana.js.core.index.JSFileIndexingParticipant"
            id="com.aptana.editor.js.indexer"
            name="JS Indexer"
            priority="50">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.js">
         </contentTypeBinding>
      </fileIndexingParticipant>
      <fileIndexingParticipant
            class="com.aptana.js.core.index.SDocMLFileIndexingParticipant"
            id="com.aptana.editor.sdocml.indexer"
            name="SDocML Indexer"
            priority="100">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.sdocml">
         </contentTypeBinding>
      </fileIndexingParticipant>
      <fileIndexingParticipant
            class="com.aptana.js.core.index.JSCAFileIndexingParticipant"
            id="com.aptana.editor.jsca.indexer"
            name="JSCA Indexer"
            priority="100">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.jsca">
         </contentTypeBinding>
      </fileIndexingParticipant>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.js.core.parsing.antlr.JSWrappingParser"
            content-type="com.aptana.contenttype.js">
      </parser>
   </extension>
   <extension
         point="com.aptana.js.core.typeMaps">
      <typeMap
            destinationType="Function&lt;jQuery&gt;"
            name="jQuery Map"
            sourceType="jQuery">
      </typeMap>
   </extension>
   <extension
         id="problem"
         name="%marker.js.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="id">
      </attribute>
      <attribute
            name="flags">
      </attribute>
      <attribute
            name="arguments">
      </attribute>
   </extension>
   <extension
         id="sdocml_problem"
         name="%sdocml.problem.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="id">
      </attribute>
      <attribute
            name="flags">
      </attribute>
      <attribute
            name="arguments">
      </attribute>
   </extension>
   <extension
         point="com.aptana.buildpath.core.buildParticipants">
      <participant
            class="com.aptana.js.core.build.JSTaskDetector"
            id="com.aptana.js.core.JSTaskDetector"
            name="%js.task.detector.name"
            priority="50">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.js">
         </contentTypeBinding>
      </participant>
      <participant
            class="com.aptana.js.internal.core.build.JSParserValidator"
            id="com.aptana.js.core.JSParserValidator"
            name="%validator.parser.name"
            priority="60">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.js">
         </contentTypeBinding>
      </participant>
      <participant
            class="com.aptana.js.internal.core.build.SDocMLValidator"
            id="com.aptana.js.core.SDocMLValidator"
            name="%validator.sdocml.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.sdocml">
         </contentTypeBinding>
      </participant>
      <participant
            class="com.aptana.js.internal.core.build.JSStyleValidator"
            id="com.aptana.js.core.JSStyleValidator"
            name="%validator.jsstyle.name"
            priority="50">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.js">
         </contentTypeBinding>
      </participant>
   </extension>
   <extension
         id="jsstyle_problem"
         name="%marker.jsstyle.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.js.core.problem">
      </super>
   </extension>
      <extension
            point="com.aptana.js.core.requireResolvers">
         <resolver
               class="com.aptana.js.core.inferencing.CommonJSResolver"
               id="com.aptana.js.core.resolver.CommonJSResolver"
               priority="10">
         </resolver>
         <resolver
               class="com.aptana.js.internal.core.inferencing.NodeModuleResolver"
               id="com.aptana.js.core.resolver.NodeModuleResolver"
               priority="55">
         </resolver>
      </extension>
      <extension
            point="com.aptana.buildpath.core.buildPaths">
         <contributor
               class="com.aptana.js.internal.core.build.NodeJSSourceContributor"
               id="com.aptana.js.core.build.NodeJSSourceContributor"
               name="%contributor.nodejs.name">
         </contributor>
      </extension>
         <extension
         point="com.aptana.core.diagnostic">
      <diagnosticLog
            class="com.aptana.js.internal.core.JSDiagnosticLog"
            priority="60">
      </diagnosticLog>
   </extension>
</plugin>
