<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.aptana.scripting.menu"
               label="%commandsMenu.label"
               mnemonic="%commandsMenu.mnemonic">
            <separator
                  name="commands"
                  visible="false">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <separator
                  name="management"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=group.open">
         <menu
               id="com.aptana.scripting.popup.menu"
               label="%commandsMenu.label"
               mnemonic="%commandsMenu.mnemonic">
            <separator
                  name="commands"
                  visible="false">
            </separator>
            <separator
                  name="additions"
                  visible="true">
            </separator>
            <separator
                  name="management"
                  visible="true">
            </separator>
         </menu>
         <separator
               name="com.aptana.scripting.ui.separator"
               visible="true">
         </separator>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.aptana.scripting.ui.ScriptingConsoleStartup">
      </startup>
   </extension>
   <extension
         point="com.aptana.scripting.contextContributors">
      <contributor
            class="com.aptana.scripting.ui.StreamContextContributor"
            name="Aptana Stream Contributor">
      </contributor>
   </extension>
   <extension
         point="com.aptana.scripting.loadPaths">
      <loadPath
            name="Aptana Framework Directory"
            path="framework/">
      </loadPath>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.aptana"
            class="com.aptana.scripting.ui.views.BundleView"
            icon="icons/bundle_entry.png"
            id="com.aptana.scripting.views.BundleView"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.aptana.scripting.context"
            name="%context.scripting.name Aptana Scriptable Context"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
</plugin>
