==PREFS==
css.formatter.wrap.comments.length=80
css.formatter.line.after.element=1
css.formatter.indent.blocks=same.line 
css.formatter.formatter.indentation.size=4
css.formatter.line.preserve=1
css.formatter.formatter.tabulation.size=4
css.formatter.line.after.declaration=0
css.formatter.wrap.comments=false
css.formatter.formatter.tabulation.char=space
css.formatter.spaces.before.commas=0
css.formatter.spaces.after.commas=1
css.formatter.spaces.before.parentheses=1
css.formatter.spaces.after.parentheses=1
css.formatter.spaces.before.selector.colon=0
css.formatter.spaces.after.selector.colon=1
css.formatter.spaces.before.semicolon=0
css.formatter.spaces.after.semicolon=0
css.formatter.spaces.before.child.combinator=1
css.formatter.spaces.after.child.combinator=1
==CONTENT==
@import url("/shared.css");

#footer {
	border:1px solid white;
}

#banner {
  background-color: #636D84;
  padding-right:40px;
  padding-top:10px;
  height:40px;
}

#search.className .class {
	padding:1px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top:3px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 100%;
	WIDTH: 130px;
	FONT-FAMILY: tahoma, arial, sans-serif;
	background-color:transparent;
	border:1px solid white;
}

#search #submit {
	FONT-SIZE: 10px;
	FONT-FAMILY: tahoma, arial, sans-serif;
	background-color: #F99432; color: #FFFFFF;
	border-color:1px solid #CCCCCC;
}

#metanav {
	padding:10px 0px 5px 0px;
	margin-top:10px;
}

#ctextnav {
	padding:10px 0px 5px 0px;
}

#mainnav {
	margin-top:24px;
}
==FORMATTED==
@import url("/shared.css");

#footer {
    border: 1px solid white;
}

#banner {
    background-color: #636D84;
    padding-right: 40px;
    padding-top: 10px;
    height: 40px;
}

#search.className .class {
    padding: 1px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 3px;
    FONT-WEIGHT: normal;
    FONT-SIZE: 100%;
    WIDTH: 130px;
    FONT-FAMILY: tahoma, arial, sans-serif;
    background-color: transparent;
    border: 1px solid white;
}

#search #submit {
    FONT-SIZE: 10px;
    FONT-FAMILY: tahoma, arial, sans-serif;
    background-color: #F99432;
    color: #FFFFFF;
    border-color: 1px solid #CCCCCC;
}

#metanav {
    padding: 10px 0px 5px 0px;
    margin-top: 10px;
}

#ctextnav {
    padding: 10px 0px 5px 0px;
}

#mainnav {
    margin-top: 24px;
}