==PREFS==
css.formatter.wrap.comments.length=80
css.formatter.line.after.element=1
css.formatter.indent.blocks=same.line 
css.formatter.formatter.indentation.size=4
css.formatter.line.preserve=1
css.formatter.formatter.tabulation.size=4
css.formatter.line.after.declaration=0
css.formatter.wrap.comments=false
css.formatter.formatter.tabulation.char=space
==CONTENT==
/*************** #pageName styles **************/

#pageName {
    margin: 0px;
    padding: 0px 0px 0px 10px;
}




==FORMATTED==
/*************** #pageName styles **************/

#pageName {
    margin: 0px;
    padding: 0px 0px 0px 10px;
}

