==PREFS==
css.formatter.wrap.comments.length=80
css.formatter.line.after.element=1
css.formatter.indent.blocks=same.line 
css.formatter.formatter.indentation.size=4
css.formatter.line.preserve=1
css.formatter.formatter.tabulation.size=4
css.formatter.line.after.declaration=0
css.formatter.wrap.comments=false
css.formatter.formatter.tabulation.char=space
css.formatter.spaces.before.commas=0
css.formatter.spaces.after.commas=1
css.formatter.spaces.before.parentheses=1
css.formatter.spaces.after.parentheses=1
css.formatter.spaces.before.selector.colon=0
css.formatter.spaces.after.selector.colon=1
css.formatter.spaces.before.semicolon=0
css.formatter.spaces.after.semicolon=0
css.formatter.spaces.before.child.combinator=1
css.formatter.spaces.after.child.combinator=1
==CONTENT==
H1 {
    color: white;
    background: teal;
    FONT-FAMILY: arial, helvetica, lucida-sans, sans-serif;
    FONT-SIZE: 18pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

H2 {
    COLOR: #000000;
    FONT-FAMILY: verdana, helvetica, lucida-sans, sans-serif;
    FONT-SIZE: 14pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

H3 {
    COLOR: #000000;
    FONT-FAMILY: lucida-sans, sans-serif;
    FONT-SIZE: 14pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

H4 {
    COLOR: #000000;
    FONT-FAMILY: lucida-sans, sans-serif;
    FONT-SIZE: 12pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

H5 {
    color: white;
    background: darkblue;
    FONT-FAMILY: lucida-sans, sans-serif;
    FONT-SIZE: 12pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

H6 {
    color: yellow;
    background: green;
    FONT-FAMILY: lucida-sans, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

body {
    COLOR: #000000;
    FONT-FAMILY: lucida-sans, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    background-image: url('bkgnd.gif')
}
==FORMATTED==
H1 {
    color: white;
    background: teal;
    FONT-FAMILY: arial, helvetica, lucida-sans, sans-serif;
    FONT-SIZE: 18pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

H2 {
    COLOR: #000000;
    FONT-FAMILY: verdana, helvetica, lucida-sans, sans-serif;
    FONT-SIZE: 14pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

H3 {
    COLOR: #000000;
    FONT-FAMILY: lucida-sans, sans-serif;
    FONT-SIZE: 14pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

H4 {
    COLOR: #000000;
    FONT-FAMILY: lucida-sans, sans-serif;
    FONT-SIZE: 12pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

H5 {
    color: white;
    background: darkblue;
    FONT-FAMILY: lucida-sans, sans-serif;
    FONT-SIZE: 12pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

H6 {
    color: yellow;
    background: green;
    FONT-FAMILY: lucida-sans, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal
}

body {
    COLOR: #000000;
    FONT-FAMILY: lucida-sans, sans-serif;
    FONT-SIZE: 10pt;
    FONT-STYLE: normal;
    FONT-VARIANT: normal;
    background-image: url('bkgnd.gif')
}