<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="userAgent" name="%extension-point.userAgent.name" schema="schema/userAgent.exsd"/>
   <extension-point id="diagnostic" name="%extension-point.diagnostic.name" schema="schema/diagnostic.exsd"/>
   <extension-point id="sourceMaps" name="%sourceMapsExtension.name" schema="schema/sourceMaps.exsd"/>
   <extension
         id="problem"
         name="%problem.marker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <attribute
            name="id">
      </attribute>
      <attribute
            name="flags">
      </attribute>
      <attribute
            name="arguments">
      </attribute>
   </extension>
   <extension
         id="task"
         name="%task.marker.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.taskmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
   </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="com.aptana.core.internal.preferences.PreferenceInitializer">
     </initializer>
  </extension>
      <extension
            point="org.eclipse.core.expressions.propertyTesters">
         <propertyTester
               class="com.aptana.core.internal.WebFilesPropertyTester"
               id="com.aptana.core.webFilesPropertyTester"
               namespace="com.aptana.core"
               properties="isWebRunnable"
               type="org.eclipse.core.resources.IFile"/>
         <propertyTester
               class="com.aptana.core.internal.PlatformPropertyTester"
               id="com.aptana.core.platformPropertyTester"
               namespace="com.aptana.core.platform"
               properties="os,ws,arch"
               type="java.lang.Object">
         </propertyTester>
         <propertyTester
               class="com.aptana.core.internal.PluginPropertyTester"
               id="com.aptana.core.pluginPropertyTester"
               namespace="com.aptana.core"
               properties="hasPlugin"
               type="java.lang.Object">
         </propertyTester>
      </extension>

</plugin>
