<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.sass.SassSourceEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="sass, scss"
            icon="icons/sass.png"
            id="com.aptana.editor.sass"
            name="%editor.sass.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.sass">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="sass, scss"
            id="com.aptana.contenttype.sass"
            name="%content-type.sass.name"
            priority="normal">
      </content-type>
   </extension>

</plugin>
