<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.aptana.formatter.epl.formatterFactory">
      <engineContribution
            contentType="com.aptana.contenttype.ruby">
         <formatterFactory
               class="com.aptana.editor.ruby.formatter.RubyFormatterFactory"
               description="%ruby_erb_formatter_description"
               id="com.aptana.editor.ruby.formatterFactory"
               name="%ruby_formatter_name"
               priority="10">
         </formatterFactory>
      </engineContribution>
   </extension>
   <extension
         point="com.aptana.formatter.epl.formatterFactory">
      <engineContribution
            contentType="com.aptana.contenttype.html.erb">
         <formatterFactory
               class="com.aptana.editor.ruby.formatter.RubyFormatterFactory"
               description="%ruby_formatter_description"
               id="com.aptana.erb.formatterFactory"
               name="%ruby_formatter_name"
               priority="10">
         </formatterFactory>
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.ruby.formatter.preferences.RubyFormatterPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
