<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.webserver.ui.preferences.ServersPreferencePage"
            id="com.aptana.webserver.preferences.servers"
            name="%page.servers.name">
      </page>
      <page
            category="com.aptana.webserver.preferences.servers"
            class="com.aptana.webserver.ui.preferences.LocalWebServerPreferencePage"
            id="com.aptana.webserver.preferences.servers.local"
            name="%page.servers.local.name">
      </page>
   </extension>
   <extension
         point="com.aptana.ui.propertyDialogs">
      <dialog
            class="com.aptana.webserver.ui.internal.SimpleWebServerPropertyDialog$Provider"
            id="com.aptana.webserver.dialogs.simpleServer"
            objectClass="com.aptana.webserver.core.SimpleWebServer">
      </dialog>
      <dialog
            class="com.aptana.webserver.ui.internal.ExternalWebServerPropertyDialog$Provider"
            id="com.aptana.webserver.dialogs.externalServer"
            objectClass="com.aptana.webserver.core.ExternalWebServer">
      </dialog>
   </extension>
   <extension
         point="com.aptana.ui.imageAssociations">
      <image
            icon="icons/obj16/server.png"
            id="com.aptana.preview.server.simple">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.aptana"
            class="com.aptana.webserver.ui.internal.views.ServersView"
            fastViewWidthRatio="0.75"
            icon="icons/obj16/server.png"
            id="com.aptana.webserver.ui.view"
            name="%servers.view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.webserver.ui.internal.actions.AddServerHandler"
            id="com.aptana.webserver.command.new_server"
            name="%add_server.command.name">
      </command>
      <command
            id="com.aptana.webserver.command.delete_server"
            name="%delete_server.command.name">
      </command>
      <command
            id="com.aptana.webserver.command.edit_server"
            name="%edit_server.command.name">
      </command>
      <command
            id="com.aptana.webserver.command.start_server"
            name="%start_server.command.name">
         <commandParameter
               id="mode"
               name="%commandParameter.mode.name"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="com.aptana.webserver.command.restart_server"
            name="%restart_server.command.name">
      </command>
      <command
            id="com.aptana.webserver.command.stop_server"
            name="%stop_server.command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.aptana.webserver.ui.view">
         <command
               commandId="com.aptana.webserver.command.new_server"
               style="pulldown">
         </command>
         <command
               commandId="com.aptana.webserver.command.delete_server"
               style="push">
         </command>
         <command
               commandId="com.aptana.webserver.command.edit_server"
               style="push">
         </command>
         <command
               commandId="com.aptana.webserver.command.start_server"
               style="push">
            <parameter
                  name="mode"
                  value="run">
            </parameter>
         </command>
         <command
               commandId="com.aptana.webserver.command.start_server"
               icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/debug_exc.gif"
               label="%debug_server.command.name"
               style="push">
            <parameter
                  name="mode"
                  value="debug">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="com.aptana.webserver.core.IServer">
                        <test
                              property="com.aptana.webserver.canDebug"
                              value="true">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.aptana.webserver.command.start_server"
               icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/profile_exc.gif"
               label="%profile_server.command.name"
               style="push">
            <parameter
                  name="mode"
                  value="profile">
            </parameter>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="com.aptana.webserver.core.IServer">
                        <test
                              property="com.aptana.webserver.canProfile"
                              value="true">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.aptana.webserver.command.restart_server"
               style="push">
         </command>
         <command
               commandId="com.aptana.webserver.command.stop_server"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.aptana.webserver.command.new_server">
         <dynamic
               class="com.aptana.webserver.ui.internal.actions.ServerTypesContributionItem"
               id="com.aptana.webserver.ui.serverTypes">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.webserver.command.new_server"
            icon="icons/obj16/add_server.gif">
      </image>
      <image
            commandId="com.aptana.webserver.command.delete_server"
            icon="platform:/plugin/com.aptana.ui/icons/delete.gif">
      </image>
      <image
            commandId="com.aptana.webserver.command.edit_server"
            icon="platform:/plugin/com.aptana.ui/icons/edit.png">
      </image>
      <image
            commandId="com.aptana.webserver.command.start_server"
            disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/dtool16/run_exc.gif"
            icon="platform:/plugin/org.eclipse.debug.ui/icons/full/etool16/run_exc.gif">
      </image>
      <image
            commandId="com.aptana.webserver.command.restart_server"
            disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/dlcl16/restart_co.gif"
            icon="platform:/plugin/org.eclipse.debug.ui/icons/full/elcl16/restart_co.gif">
      </image>
      <image
            commandId="com.aptana.webserver.command.stop_server"
            disabledIcon="platform:/plugin/org.eclipse.debug.ui/icons/full/dlcl16/terminate_co.gif"
            icon="platform:/plugin/org.eclipse.debug.ui/icons/full/elcl16/terminate_co.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aptana.webserver.ui.internal.actions.DeleteServerHandler"
            commandId="com.aptana.webserver.command.delete_server">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="com.aptana.webserver.core.IServer">
                     <test
                           property="com.aptana.webserver.canDelete"
                           value="true">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.aptana.webserver.ui.internal.actions.EditServerHandler"
            commandId="com.aptana.webserver.command.edit_server">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="com.aptana.webserver.core.IServer">
                     <test
                           property="com.aptana.webserver.canEdit"
                           value="true">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.aptana.webserver.ui.internal.actions.StartServerHandler"
            commandId="com.aptana.webserver.command.start_server">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="com.aptana.webserver.core.IServer">
                     <test
                           property="com.aptana.webserver.canRun"
                           value="true">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.aptana.webserver.ui.internal.actions.RestartServerHandler"
            commandId="com.aptana.webserver.command.restart_server">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="com.aptana.webserver.core.IServer">
                     <test
                           property="com.aptana.webserver.canRestart"
                           value="true">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="com.aptana.webserver.ui.internal.actions.StopServerHandler"
            commandId="com.aptana.webserver.command.stop_server">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <adapt
                        type="com.aptana.webserver.core.IServer">
                     <test
                           property="com.aptana.webserver.canStop"
                           value="true">
                     </test>
                  </adapt>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.webserver.ui.internal.actions.ServerTester"
            id="com.aptana.webserver.serverTester"
            namespace="com.aptana.webserver"
            properties="canRun,canDebug,canProfile,canRestart,canStop,canDelete,canEdit"
            type="com.aptana.webserver.core.IServer">
      </propertyTester>
   </extension>

</plugin>
