<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.aptana.git.ui.resourceContributions"
            objectClass="org.eclipse.core.resources.IResource">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=com.aptana.git.core.GitRepositoryProvider">
         </filter>
         <action
               class="com.aptana.git.ui.actions.GithubNetworkAction"
               definitionId="com.aptana.git.ui.command.github.network"
               icon="icons/obj16/github.gif"
               id="com.aptana.git.ui.actions.GithubNetworkAction"
               label="%GithubNetworkAction_label"
               menubarPath="team.main/group1"
               tooltip="%GithubNetworkAction_tooltip">
         </action>
         <action
               label="%DisconnectAction_label"
               tooltip="%DisconnectAction_tooltip"
               class="com.aptana.git.ui.actions.DisconnectAction"
               id="com.aptana.git.ui.actions.DisconnectAction"
               menubarPath="team.main/projectGroup">
         </action>
         <action
               class="com.aptana.git.ui.actions.AddRemoteAction"
               definitionId="com.aptana.git.ui.command.add_remote"
               id="com.aptana.git.ui.actions.AddRemoteAction"
               label="%AddRemoteAction_label"
               menubarPath="team.main/projectGroup"
               tooltip="%AddRemoteAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.actions.PushAction"
               definitionId="com.aptana.git.ui.command.push"
               id="com.aptana.git.ui.actions.PushAction"
               label="%PushAction_label"
               menubarPath="team.main/projectGroup"
               tooltip="%PushAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.actions.PullAction"
               definitionId="com.aptana.git.ui.command.pull"
               id="com.aptana.git.ui.actions.PullAction"
               label="%PullAction_label"
               menubarPath="team.main/projectGroup"
               tooltip="%PullAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.actions.StatusAction"
               definitionId="com.aptana.git.ui.command.status"
               id="com.aptana.git.ui.actions.StatusAction"
               label="%StatusAction_label"
               menubarPath="team.main/projectGroup"
               tooltip="%StatusAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.actions.ShowResourceInHistoryAction"
               id="com.aptana.git.ui.actions.ShowResourceInHistoryAction"
               label="%ShowResourceInHistoryAction_label"
               menubarPath="team.main/group1"
               tooltip="%ShowResourceInHistoryAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.actions.CommitAction"
               definitionId="com.aptana.git.ui.command.commit"
               id="com.aptana.git.ui.actions.CommitAction"
               label="%CommitAction_label"
               menubarPath="team.main/targetGroup"
               tooltip="%CommitAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.actions.DeleteBranchAction"
               id="com.aptana.git.ui.actions.DeleteBranchAction"
               definitionId="com.aptana.git.ui.command.delete_branch"
               label="%DeleteBranchAction_label"
               menubarPath="team.main/group2"
               tooltip="%DeleteBranchAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.actions.MergeBranchAction"
               id="com.aptana.git.ui.actions.MergeBranchAction"
               definitionId="com.aptana.git.ui.command.merge_branch"
               label="%MergeBranchAction_label"
               menubarPath="team.main/group2"
               tooltip="%MergeBranchAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.internal.actions.SwitchBranchAction"
               enablesFor="+"
               id="com.aptana.git.ui.actions.SwitchBranchAction"
               definitionId="com.aptana.git.ui.command.switch_branch"
               label="%SwitchBranchAction_label"
               menubarPath="team.main/group2"
               style="pulldown"
               tooltip="%SwitchBranchAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.internal.actions.CreateBranchAction"
               id="com.aptana.git.ui.actions.CreateBranchAction"
               definitionId="com.aptana.git.ui.command.create_branch"
               label="%CreateBranchAction_label"
               menubarPath="team.main/group2"
               tooltip="%CreateBranchAction_tooltip">
         </action>         
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.aptana.git.ui.fileContributions"
            objectClass="org.eclipse.core.resources.IFile">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=com.aptana.git.core.GitRepositoryProvider">
         </filter>
         <action
               class="com.aptana.git.ui.actions.RevertAction"
               definitionId="com.aptana.git.ui.command.revert"
               id="com.aptana.git.ui.actions.RevertAction"
               label="%RevertAction_label"
               menubarPath="team.main/targetGroup"
               tooltip="%RevertAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.actions.UnstageAction"
               definitionId="com.aptana.git.ui.command.unstage"
               id="com.aptana.git.ui.actions.UnstageAction"
               label="%UnstageAction_label"
               menubarPath="team.main/targetGroup"
               tooltip="%UnstageAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.actions.StageAction"
               definitionId="com.aptana.git.ui.command.stage"
               id="com.aptana.git.ui.actions.StageAction"
               label="%StageAction_label"
               menubarPath="team.main/targetGroup"
               tooltip="%StageAction_tooltip">
         </action>
          <action
               class="com.aptana.git.ui.internal.actions.MergeConflictsAction"
               definitionId="com.aptana.git.ui.command.merge_conflicts"
               enablesFor="+"
               id="com.aptana.git.ui.actions.MergeConflictsAction"
               label="%MergeConflictsAction_label"
               menubarPath="team.main/targetGroup"
               tooltip="%MergeConflictsAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.internal.actions.CompareWithHEADAction"
               definitionId="com.aptana.git.ui.command.compare_with_HEAD"
               enablesFor="+"
               id="com.aptana.git.ui.actions.CompareWithHEADAction"
               label="%CompareWithHEADAction_label"
               menubarPath="compareWithMenu/compareWithGroup"
               tooltip="%CompareWithHEADAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.internal.actions.CompareWithRevisionAction"
               definitionId="com.aptana.git.ui.command.compare_with_revision"
               enablesFor="+"
               id="com.aptana.git.ui.actions.CompareWithRevisionAction"
               label="%CompareWithRevisionAction_label"
               menubarPath="compareWithMenu/compareWithGroup"
               tooltip="%CompareWithRevisionAction_tooltip">
         </action>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.ui.importWizards">
      <category name="%Git_clone_category"
	    id="com.aptana.git.ui.clone.category"/>
      <wizard name="%Git_clone_wizard"
	    icon="icons/obj16/import_obj.gif"
	    class="com.aptana.git.ui.internal.wizards.CloneWizard"
	    id="com.aptana.git.ui.wizards.CloneWizard"
	    category="com.aptana.git.ui.clone.category">
	    <description>%Git_clone_description</description>
      </wizard>
   </extension>
   
   <extension point="org.eclipse.team.ui.configurationWizards">
      <wizard name="%SharingWizard_name"
	    icon="icons/etool16/newconnect_wiz.gif"
            class="com.aptana.git.ui.internal.sharing.SharingWizard"
            id="com.aptana.git.ui.internal.sharing.SharingWizard">
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            label="%Decorator.name"
            class="com.aptana.git.ui.internal.GitLightweightDecorator"
            state="true"
            location="BOTTOM_RIGHT"
            id="com.aptana.git.ui.internal.GitLightweightDecorator">
            <enablement>
              <objectClass name="org.eclipse.core.resources.IResource"/>
            </enablement>
         <description>
            %Decorator.description
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.team.ui.teamDecorators">
      <teamDecorator
            decoratedDirection="OUTGOING"
            decoratorId="com.aptana.git.ui.internal.GitLightweightDecorator"
            repositoryId="com.aptana.git.core.GitRepositoryProvider">
      </teamDecorator>
   </extension>
   
   <extension
         point="org.eclipse.core.runtime.adapters">
         <factory
               adaptableType="com.aptana.git.internal.core.storage.GitFileHistoryProvider"
               class="com.aptana.git.ui.internal.GitAdapterFactory">
            <adapter
                  type="org.eclipse.team.ui.history.IHistoryPageSource">
            </adapter>
         </factory>
         <factory
	       adaptableType="org.eclipse.core.resources.IResource"
               class="com.aptana.git.ui.internal.GitAdapterFactory">
            <adapter
                  type="org.eclipse.team.ui.history.IHistoryPageSource">
            </adapter>
         </factory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.aptana.git.ui.category"
            name="%Git_command_category">
      </category>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.add_remote"
            name="%AddRemoteAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.push"
            name="%PushAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.github.network"
            name="%GithubNetworkAction_label">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.pull"
            name="%PullAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.commit"
            name="%CommitAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.status"
            name="%StatusAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.revert"
            name="%RevertAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.stage"
            name="%StageAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.unstage"
            name="%UnstageAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.create_branch"
            name="%CreateBranchAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.switch_branch"
            name="%SwitchBranchAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.merge_branch"
            name="%MergeBranchAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.delete_branch"
            name="%DeleteBranchAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.merge_conflicts"
            name="%MergeConflictsAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.compare_with_HEAD"
            name="%CompareWithHEADAction_tooltip">
      </command>
      <command
            categoryId="com.aptana.git.ui.category"
            id="com.aptana.git.ui.command.compare_with_revision"
            name="%CompareWithRevisionAction_tooltip">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.aptana.git.ui.command.push"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.add_remote"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.github.network"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.pull"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.status"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.commit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.revert"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.unstage"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.stage"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.create_branch"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.switch_branch"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.merge_branch"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.delete_branch"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.merge_conflicts"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.compare_with_HEAD"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
      <key
            commandId="com.aptana.git.ui.command.compare_with_revision"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M2+G">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.team.ui.TeamPreferences"
            class="com.aptana.git.ui.internal.preferences.GitExecutableLocationPage"
            id="com.aptana.git.ui.GitExecutableLocationPage"
            name="Git">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.quickDiffReferenceProvider">
      <referenceprovider
            class="com.aptana.git.ui.internal.QuickDiffReferenceProvider"
            id="com.aptana.git.ui.quickdiff"
            label="Git Quick Diff">
      </referenceprovider>
   </extension>
</plugin>
