<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.aptana.git.ui.projectContributions"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=com.aptana.git.core.GitRepositoryProvider">
         </filter>
          <action
               label="%DisconnectAction_label"
               tooltip="%DisconnectAction_tooltip"
                class="com.aptana.git.ui.internal.actions.DisconnectAction"
               id="com.aptana.git.ui.internal.actions.DisconnectAction"
               menubarPath="team.main/projectGroup">
         </action>
         <action
               class="com.aptana.git.ui.internal.actions.PushAction"
               id="com.aptana.git.ui.internal.actions.PushAction"
               label="%PushAction_label"
               menubarPath="team.main/projectGroup"
               tooltip="%PushAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.internal.actions.PullAction"
               id="com.aptana.git.ui.internal.actions.PullAction"
               label="%PullAction_label"
               menubarPath="team.main/projectGroup"
               tooltip="%PullAction_tooltip">
         </action>
         <action
               class="com.aptana.git.ui.internal.actions.StatusAction"
               id="com.aptana.git.ui.internal.actions.StatusAction"
               label="%StatusAction_label"
               menubarPath="team.main/projectGroup"
               tooltip="%StatusAction_tooltip">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.aptana.git.ui.projectContributions"
            objectClass="org.eclipse.core.resources.IFile">
         <filter
               name="projectPersistentProperty"
               value="org.eclipse.team.core.repository=com.aptana.git.core.GitRepositoryProvider">
         </filter>
         <action
               label="%RevertAction_label"
               tooltip="%RevertAction_tooltip"
               class="com.aptana.git.ui.internal.actions.RevertAction"
               id="com.aptana.git.ui.internal.actions.RevertAction"
               menubarPath="team.main/projectGroup">
         </action>
         <action
               label="%UnstageAction_label"
               tooltip="%UnstageAction_tooltip"
               class="com.aptana.git.ui.internal.actions.UnstageAction"
               id="com.aptana.git.ui.internal.actions.UnstageAction"
               menubarPath="team.main/projectGroup">
         </action>
         <action
               label="%StageAction_label"
               tooltip="%StageAction_tooltip"
               class="com.aptana.git.ui.internal.actions.StageAction"
               id="com.aptana.git.ui.internal.actions.StageAction"
               menubarPath="team.main/projectGroup">
         </action>
         <action
               label="%CommitAction_label"
               tooltip="%CommitAction_tooltip"
               class="com.aptana.git.ui.internal.actions.CommitAction"
               id="com.aptana.git.ui.internal.actions.CommitAction"
               menubarPath="team.main/projectGroup">
         </action>
      </objectContribution>
   </extension>
   
   <extension point="org.eclipse.team.ui.configurationWizards">
      <wizard name="%SharingWizard_name"
	    icon="icons/etool16/newconnect_wiz.gif"
            class="com.aptana.git.ui.internal.sharing.SharingWizard"
            id="com.aptana.git.ui.internal.sharing.SharingWizard">
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            label="%Decorator.name"
            class="com.aptana.git.ui.internal.GitLightweightDecorator"
            state="true"
            location="BOTTOM_RIGHT"
            id="com.aptana.git.ui.internal.GitLightweightDecorator">
            <enablement>
              <objectClass name="org.eclipse.core.resources.IResource"/>
            </enablement>
         <description>
            %Decorator.description
         </description>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.team.ui.teamDecorators">
      <teamDecorator
            decoratedDirection="OUTGOING"
            decoratorId="com.aptana.git.ui.internal.GitLightweightDecorator"
            repositoryId="com.aptana.git.core.GitRepositoryProvider">
      </teamDecorator>
   </extension>
</plugin>
