<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.js.JSSourceEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="js,htc,jsx"
            icon="icons/js.png"
            id="com.aptana.editor.js"
            name="%editor.js.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.js">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="js,htc,jsx"
            id="com.aptana.contenttype.js"
            name="%content-type.js.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="sdocml"
            id="com.aptana.contenttype.sdocml"
            name="%content-type.sdocml.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.js.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.aptana.index.core.fileIndexingParticipants">
      <fileIndexingParticipant
            class="com.aptana.editor.js.contentassist.index.JSFileIndexingParticipant">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.js">
         </contentTypeBinding>
      </fileIndexingParticipant>
      <fileIndexingParticipant
            class="com.aptana.editor.js.contentassist.index.SDocMLFileIndexingParticipant">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.sdocml">
         </contentTypeBinding>
      </fileIndexingParticipant>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.editor.js.parsing.JSParser"
            content-type="com.aptana.contenttype.js"
            language="text/javascript">
      </parser>
   </extension>

</plugin>
