<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="com.aptana.terminal">
      </category>
      <view
            name="%view.name"
            icon="icons/terminal.png"
            category="com.aptana.terminal"
            class="com.aptana.terminal.views.TerminalView"
            id="com.aptana.terminal.views.TerminalView">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            description="%scheme.description"
            id="com.aptana.terminal.scheme"
            name="%scheme.name">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.terminal.editor.TerminalEditor"
            default="false"
            icon="icons/terminal.png"
            id="com.aptana.terminal.TerminalEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.aptana.terminal.editor.TerminalElementFactory"
            id="com.aptana.terminal.TerminalElementFactory">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="com.aptana.terminal.views.TerminalView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
