<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="processConfigurations" name="%extension-point.process.config.name" schema="schema/processConfigurations.exsd"/>
   <extension-point id="terminalHyperlinkDetectors" name="%extension-point.hyperlink.name" schema="schema/terminalHyperlinkDetectors.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="com.aptana"
            class="com.aptana.terminal.views.TerminalView"
            icon="icons/terminal.png"
            id="com.aptana.terminal.views.terminal"
            name="%view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <scheme
            description="%scheme.description"
            id="com.aptana.terminal.scheme"
            name="%scheme.name">
      </scheme>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.terminal.editor.TerminalEditor"
            default="false"
            icon="icons/terminal.png"
            id="com.aptana.terminal.TerminalEditor"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.aptana.terminal.editor.TerminalElementFactory"
            id="com.aptana.terminal.TerminalElementFactory">
      </factory>
   </extension>
   <extension
         point="com.aptana.scripting.loadPaths">
      <loadPath
            id="terminal"
            name="terminal"
            path="scripting">
      </loadPath>
   </extension>
   <!--<extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.aptana.terminal.EarlyStartup">
      </startup>
   </extension>-->
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.terminal.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.terminal.actionSet"
            label="%showTerminalEditorActionSet.label"
            visible="false">
         <action
               class="com.aptana.terminal.editor.ShowTerminalEditorAction"
               icon="icons/terminal.png"
               id="com.aptana.terminal.ShowTerminalEditorAction"
               label="%showTerminalEditorAction.label"
               menubarPath="window/showView/additions"
               style="push">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet
               id="com.aptana.terminal.actionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ui.AptanaPreferencePage"
            class="com.aptana.terminal.preferences.TerminalPreferencePage"
            id="com.aptana.terminal.page"
            name="%page.name Aptana Studio">
      </page>
   </extension>
   <extension
         point="com.aptana.org.eclipse.tm.terminal.terminalConnectors">
      <connector
            class="com.aptana.terminal.connector.LocalTerminalConnector"
            hidden="false"
            id="com.aptana.terminal.connector.local"
            name="%connector.local.name">
      </connector>
   </extension>
   <extension
         point="com.aptana.terminal.processConfigurations">
      <configuration
            class="com.aptana.terminal.internal.configurations.NixBashConfiguration"
            id="com.aptana.terminal.configurations.macosx"
            name="%configuration.bash.mac.name"
            platform="macosx">
      </configuration>
      <configuration
            class="com.aptana.terminal.internal.configurations.NixBashConfiguration"
            id="com.aptana.terminal.configurations.linux"
            name="%configuration.bash.linux.name"
            platform="linux">
      </configuration>
      <configuration
            class="com.aptana.terminal.internal.configurations.WindowsMingwConfiguration"
            id="com.aptana.terminal.configurations.win32"
            name="%configuration.bash.win.name"
            platform="win32">
      </configuration>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
      		categoryId="org.eclipse.ui.category.views"
            id="com.aptana.terminal.commands.openTerminal"
            name="%command.openTerminal.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.terminal.commands.openTerminal"
            icon="icons/terminal.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.aptana.ui.globalActionSet">
            <command
                  commandId="com.aptana.terminal.commands.openTerminal"
                  style="push">
               <visibleWhen>
                  <reference
                        definitionId="com.aptana.ui.contributions.inGlobalActionSet">
                  </reference>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="com.aptana.terminal.terminalHyperlinkDetectors">
      <detector
            class="com.aptana.terminal.internal.hyperlink.URLHyperlinkDetector">
      </detector>
   </extension>

   <extension
         point="com.aptana.scripting.frameworkFiles">
      <file
            name="ruble/terminal.rb">
      </file>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aptana.terminal.internal.handlers.OpenTerminalHandler"
            commandId="com.aptana.terminal.commands.openTerminal">
      </handler>
   </extension>
</plugin>
