<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.aptana.editor.scripting.startup.EditorScriptingStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
      	categoryId="org.eclipse.ui.category.edit"
            description="%command.expand.description"
            id="com.aptana.editor.scripting.command.ExpandSnippet"
            name="%command.expand.name">
      </command>
       <command
       		categoryId="org.eclipse.ui.category.edit"
            description="%command.execute.description"
            id="com.aptana.editor.scripting.command.ExecuteLineInsertingResult"
            name="%command.execute.name">
      </command>
       <command
       		categoryId="org.eclipse.ui.category.edit"
            description="%command.filter.description"
            id="com.aptana.editor.scripting.command.FilterThroughCommand"
            name="%command.filter.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.aptana.editor.scripting.command.ExpandSnippet"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="TAB">
      </key>
      <key
            commandId="com.aptana.editor.scripting.command.ExecuteLineInsertingResult"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+R">
      </key>
      <key
            commandId="com.aptana.editor.scripting.command.FilterThroughCommand"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+R">
      </key>
   </extension>
</plugin>
