<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.html.HTMLEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="html,htm,xhtml,shtml"
            icon="icons/html.png"
            id="com.aptana.editor.html"
            name="%editor.html.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.html">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="html,htm,xhtml,shtml"
            id="com.aptana.contenttype.html"
            name="%content-type.html.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.html.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="com.aptana.editor.html"
            name="%editor.html.name">
      </target>
   </extension>

   <extension
         point="com.aptana.index.core.fileIndexingParticipants">
      <fileIndexingParticipant
            class="com.aptana.editor.html.contentassist.index.HTMLFileIndexingParticipant"
            id="com.aptana.editor.html.indexer"
            name="HTML Indexer"
            priority="50">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.html">
         </contentTypeBinding>
      </fileIndexingParticipant>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.editor.html.parsing.HTMLParser"
            content-type="com.aptana.contenttype.html">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="com.aptana.editor.html.text.hyperlink.CSSClassHyperlinkDetector"
            id="com.aptana.editor.html.hyperlinkDetector"
            name="%hyperlinkDetector.cssclass.name"
            targetId="com.aptana.editor.html">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.aptana.html.tagPair.occurrences"
            colorPreferenceKey="htmlTagPairOccurrenceIndicationColor"
            colorPreferenceValue="212,212,212"
            contributesToHeader="false"
            highlightPreferenceKey="htmlTagPairOccurrenceIndicationHighlighting"
            highlightPreferenceValue="true"
            isGoToNextNavigationTarget="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
            isGoToPreviousNavigationTarget="true"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            label="%specification.tagpair.label"
            overviewRulerPreferenceKey="htmlTagPairOccurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="4"
            showInNextPrevDropdownToolbarAction="true"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            textPreferenceKey="htmlTagPairOccurrenceIndication"
            textPreferenceValue="false"
            textStylePreferenceKey="htmlTagPairOccurrenceIndicationTextStyle"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="htmlTagPairOccurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false">
      </specification>
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="0"
            name="com.aptana.html.tagPair.occurrences"
            super="com.aptana.editor.common.occurrence">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.editor.common.preferences.EditorsPreferencePage"
            class="com.aptana.editor.html.preferences.HTMLPreferencePage"
            id="com.aptana.editor.html.preferences.HTMLPreferencePage"
            name="%page.html.name">
      </page>
   </extension>

   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            class="com.aptana.editor.common.ExternalFileAnnotationModelFactory"
            contentTypeId="com.aptana.contenttype.html">
      </factory>
   </extension>
   <extension
         id="problem"
         name="%marker.html.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.core.problem">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="id">
      </attribute>
      <attribute
            name="flags">
      </attribute>
      <attribute
            name="arguments">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.editor.html.outline.ToggleTextNodesHandler"
            id="com.aptana.editor.html.outline.toggle_text"
            name="%command.outline.showtext.name">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.editor.html.outline.toggle_text"
            icon="icons/show_text.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.views.ContentOutline">
         <command
               commandId="com.aptana.editor.html.outline.toggle_text"
               label="%command.outline.showtext.label"
               style="toggle">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="com.aptana.editor.html.isHTMLEditor">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.aptana.editor.html.isHTMLEditor">
         <with
               variable="activeEditorId">
            <equals
                  value="com.aptana.editor.html">
            </equals>
         </with>
      </definition>
   </extension>
   <extension
         point="com.aptana.buildpath.core.buildParticipants">
      <participant
            class="com.aptana.editor.html.internal.build.HTMLTaskDetector"
            id="com.aptana.editor.html.HTMLTaskDetector"
            name="%html.task.detector.name"
            priority="50">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.html">
         </contentTypeBinding>
         <projectNatureBinding
               natureId="com.aptana.projects.webnature">
         </projectNatureBinding>
      </participant>
      <participant
            class="com.aptana.editor.html.validator.HTMLTidyValidator"
            id="com.aptana.editor.html.validator.TidyValidator"
            name="%validator.tidy.name"
            priority="50">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.html">
         </contentTypeBinding>
         <projectNatureBinding
               natureId="com.aptana.projects.webnature">
         </projectNatureBinding>
      </participant>
      <participant
            class="com.aptana.editor.html.validator.HTMLParserValidator"
            id="com.aptana.editor.html.validator.HTMLParseErrorValidator"
            name="%validator.parser.name"
            priority="60">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.html">
         </contentTypeBinding>
         <projectNatureBinding
               natureId="com.aptana.projects.webnature">
         </projectNatureBinding>
      </participant>
   </extension>
   <extension
         id="tidy_problem"
         name="%marker.tidy.name"
         point="org.eclipse.core.resources.markers">
      <super
            type="com.aptana.editor.html.problem">
      </super>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.html.contentMergeViewer"
            contentTypeId="com.aptana.contenttype.html">
      </contentTypeBinding>
      <viewer
            class="com.aptana.editor.html.internal.HTMLMergeViewerCreator"
            extensions="html,htm,xhtml,shtml"
            id="com.aptana.editor.html.contentMergeViewer">
      </viewer>
   </extension>
   <extension
         point="com.aptana.index.core.ui.indexViewContributors">
      <contributor
            content-provider="com.aptana.editor.html.views.HTMLIndexViewContentProvider"
            label-provider="com.aptana.editor.html.views.HTMLIndexViewLabelProvider"
            name="%index.view.contributor.name">
      </contributor>
   </extension>
   <extension
         point="com.aptana.editor.common.textHovers">
      <hover
            class="com.aptana.editor.html.text.HTMLTextHover"
            id="com.aptana.editor.html.hover"
            label="%htmlHover.name">
         <contentType
               type="com.aptana.contenttype.html">
         </contentType>
      </hover>
      <hover
            class="com.aptana.editor.html.text.CSSElementSelectorHover"
            id="com.aptana.editor.html.css_element_selector_hover"
            label="%cssElementSelectorHover.name">
         <contentType
               type="com.aptana.contenttype.css">
         </contentType>
      </hover>
   </extension>
   <extension
         point="com.aptana.build.ui.buildParticipantPreferenceComposite">
      <preferenceComposite
            buildParticipantId="com.aptana.editor.html.validator.TidyValidator"
            class="com.aptana.editor.html.validator.HTMLTidyValidatorPreferenceCompositeFactory">
      </preferenceComposite>
   </extension>
</plugin>
