<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.css.CSSSourceEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="css"
            icon="icons/css.png"
            id="com.aptana.editor.css"
            name="%editor.css.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.css">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.css.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="com.aptana.editor.css.text.hyperlink.HTMLIDHyperlinkDetector"
            id="com.aptana.editor.css.hyperlinkDetector"
            name="%hyperlinkDetector.cssclass.name"
            targetId="com.aptana.editor.ui.hyperlinkTarget">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.editor.common.preferences.EditorsPreferencePage"
            class="com.aptana.editor.css.preferences.CSSPreferencePage"
            id="com.aptana.editor.css.preferences.CSSPreferencePage"
            name="%page.css.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            class="com.aptana.editor.common.ExternalFileAnnotationModelFactory"
            contentTypeId="com.aptana.contenttype.css">
      </factory>
   </extension>
   <extension
         point="com.aptana.editor.common.textHovers">
      <hover
            class="com.aptana.editor.css.text.CSSTextHover"
            id="com.aptana.editor.css.hover"
            label="%hover.label">
         <contentType
               type="com.aptana.contenttype.css">
         </contentType>
      </hover>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.css.contentMergeViewer"
            contentTypeId="com.aptana.contenttype.css">
      </contentTypeBinding>
      <viewer
            class="com.aptana.editor.css.internal.CSSMergeViewerCreator"
            extensions="css"
            id="com.aptana.editor.css.contentMergeViewer">
      </viewer>
   </extension>
   <extension
         point="com.aptana.index.core.ui.indexViewContributors">
      <contributor
            content-provider="com.aptana.editor.css.views.CSSIndexViewContentProvider"
            label-provider="com.aptana.editor.css.views.CSSIndexViewLabelProvider"
            name="%index.view.contributor.name">
      </contributor>
   </extension>

</plugin>
