<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="coffee"
            file-names="Cakefile"
            id="com.aptana.contenttype.coffeescript"
            name="%content-type.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.editor.coffee.parsing.CoffeeParser"
            content-type="com.aptana.contenttype.coffeescript">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.coffee.CoffeeEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="coffee"
            icon="icons/coffeescript.png"
            id="com.aptana.editor.coffee"
            name="%editor.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.coffeescript">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.coffee.internal.preferences.CoffeePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="com.aptana.index.core.fileIndexingParticipants">
      <fileIndexingParticipant
            class="com.aptana.editor.coffee.internal.index.CoffeeFileIndexingParticipant"
            id="com.aptana.editor.coffee.indexer"
            name="Coffeescript Indexer"
            priority="50">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.coffeescript">
         </contentTypeBinding>
      </fileIndexingParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.editor.common.preferences.EditorsPreferencePage"
            class="com.aptana.editor.coffee.preferences.CoffeePreferencePage"
            id="com.aptana.editor.coffee.preferences.CoffeePreferencePage"
            name="%editor.prefpage.name">
      </page>
   </extension>
   <extension
         point="com.aptana.buildpath.core.buildParticipants">
      <participant
            class="com.aptana.editor.coffee.internal.build.CoffeeTaskDetector"
            id="com.aptana.editor.coffee.CoffeeTaskDetector"
            name="%coffeescript.task.participant.name"
            priority="50">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.coffeescript">
         </contentTypeBinding>
         <projectNatureBinding
               natureId="com.aptana.projects.webnature">
         </projectNatureBinding>
      </participant>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.coffee.contentMergeViewer"
            contentTypeId="com.aptana.contenttype.coffeescript">
      </contentTypeBinding>
      <viewer
            class="com.aptana.editor.coffee.internal.CoffeeMergeViewerCreator"
            extensions="coffee"
            id="com.aptana.editor.coffee.contentMergeViewer">
      </viewer>
   </extension>

</plugin>
