<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="connectionPoint" name="%extension-point.connectionpoint.name" schema="schema/connectionPoint.exsd"/>
   <extension
         point="com.aptana.core.io.connectionPoint">
      <connectionPointCategory
            id="com.aptana.ide.core.io.localShortcuts"
            name="%connectionPointCategory.localshortcuts.name"
            order="20">
      </connectionPointCategory>
      <connectionPointCategory
            id="com.aptana.ide.core.io.projectShortcuts"
            name="%connectionPointCategory.projectshortcuts.name"
            order="10">
      </connectionPointCategory>
      <connectionPointCategory
            id="com.aptana.ide.core.io.generic"
            name="%connectionPointCategory.other.name"
            order="100">
      </connectionPointCategory>
      <connectionPointType
            category="com.aptana.ide.core.io.localShortcuts"
            class="com.aptana.ide.core.io.LocalConnectionPoint"
            id="local"
            name="%connectionPointType.local.name">
      </connectionPointType>
      <connectionPointType
            category="com.aptana.ide.core.io.projectShortcuts"
            class="com.aptana.ide.core.io.WorkspaceConnectionPoint"
            id="workspace"
            name="%connectionPointType.project.name">
      </connectionPointType>
      <connectionPointType
            category="com.aptana.ide.core.io.generic"
            class="com.aptana.ide.core.io.GenericConnectionPoint"
            id="generic"
            name="%connectionPointType.generic.name">
      </connectionPointType>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="workspace">
         <run
               class="com.aptana.core.io.efs.WorkspaceFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="aptanavfs">
         <run
               class="com.aptana.core.io.efs.VirtualFileSystem">
         </run>
      </filesystem>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.ide.core.io.internal.ConnectionPropertyTester"
            id="com.aptana.ide.core.io.connectionPropertyTester"
            namespace="com.aptana.ide.core.io.connection"
            properties="isConnected,canDisconnect"
            type="com.aptana.ide.core.io.IConnectionPoint">
      </propertyTester>
      <propertyTester
            class="com.aptana.ide.core.io.internal.ConnectionCategoryPropertyTester"
            id="com.aptana.ide.core.io.connectionCategoryPropertyTester"
            namespace="com.aptana.ide.core.io.connection.category"
            properties="id"
            type="com.aptana.ide.core.io.IConnectionPointCategory">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.internal.filesystem.local.LocalFile"
            class="com.aptana.ide.core.io.internal.LocalFileAdapterFactory">
         <adapter
               type="java.io.File">
         </adapter>
      </factory>
      <factory
            adaptableType="com.aptana.ide.core.io.LocalRoot"
            class="com.aptana.ide.core.io.internal.LocalRootAdapterFactory">
         <adapter
               type="org.eclipse.core.filesystem.IFileStore">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.ide.core.io.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
