<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="deployWizards" name="Deployment Wizards" schema="schema/deployWizards.exsd"/>
   <extension-point id="deployProviders" name="Deployment Providers" schema="schema/deployProviders.exsd"/>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.deploy.internal.ProjectPropertyTester"
            id="com.aptana.deploy.projectPropertyTester"
            namespace="com.aptana.deploy.project"
            properties="isDeployType"
            type="org.eclipse.core.resources.IResource">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.deploy.internal.handlers.DeployHandler"
            id="com.aptana.deploy.commands.deployApp"
            name="%Deploy.label">
      </command>
      <command
            defaultHandler="com.aptana.deploy.internal.handlers.RunDeployWizardHandler"
            id="com.aptana.deploy.commands.deploywizard"
            name="%DeployWizard.label">
      </command>
   </extension>

</plugin>
