<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.yaml.YAMLEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="false"
            extensions="yaml,yml"
            icon="icons/yaml.png"
            id="com.aptana.editor.yaml"
            name="%editor.yaml.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.yml">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="yaml,yml"
            id="com.aptana.contenttype.yml"
            name="%content-type.yml.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.editor.yaml.parsing.YAMLParser"
            content-type="com.aptana.contenttype.yml">
      </parser>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.editor.common.preferences.EditorsPreferencePage"
            class="com.aptana.editor.yaml.preferences.YAMLPreferencePage"
            id="com.aptana.editor.yaml.preferences.YamlPreferencePage"
            name="%preferencePage.yaml.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.aptana.editor.yaml.preferences.YAMLPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.compare.contentMergeViewers">
      <contentTypeBinding
            contentMergeViewerId="com.aptana.editor.yaml.contentMergeViewer"
            contentTypeId="com.aptana.contenttype.yml">
      </contentTypeBinding>
      <viewer
            class="com.aptana.editor.xml.internal.YMLMergeViewerCreator"
            extensions="yml,yaml"
            id="com.aptana.editor.yaml.contentMergeViewer">
      </viewer>
   </extension>

</plugin>
