<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="configuration" name="%extension-point.browserconfiguration.name" schema="schema/configuration.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="com.aptana"
            class="com.aptana.browser.parts.WebBrowserView"
            icon="icons/obj16/browser.png"
            id="com.aptana.browser.views.webbrowser"
            name="%view.browser.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.browser.parts.WebBrowserEditor"
            default="false"
            icon="icons/obj16/browser.png"
            id="com.aptana.browser.editors.webbrowser"
            name="%editor.browser.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.aptana.ui.WebPerspective">
         <viewShortcut
               id="com.aptana.browser.views.webbrowser">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.browser.actionSet"
            label="%actionSet.show.browser.label"
            visible="true">
         <action
               class="com.aptana.browser.actions.ShowBrowserEditorAction"
               icon="icons/obj16/browser.png"
               id="com.aptana.browser.ShowBrowserEditorAction"
               label="%action.browser.editor.label"
               menubarPath="window/showView/additions"
               style="push">
         </action>
      </actionSet>
   </extension>
   <!-- extension
         point="org.eclipse.ui.browserSupport">
      <support
            class="com.aptana.browser.support.WorkbenchBrowserSupport"
            default="false">
      </support>
   </extension -->
   <extension
         point="com.aptana.browser.configuration">
      <sizeCategory
            id="com.aptana.browser.sizeCategory.computer"
            name="%sizeCategory.computer.name">
      </sizeCategory>
      <size
            category="com.aptana.browser.sizeCategory.computer"
            height="1024"
            name="%size.sxga.name"
            width="1280">
      </size>
      <size
            category="com.aptana.browser.sizeCategory.computer"
            height="768"
            name="%size.xga.name"
            width="1024">
      </size>
      <size
            category="com.aptana.browser.sizeCategory.computer"
            height="600"
            name="%size.svga.name"
            width="800">
      </size>
      <size
            category="com.aptana.browser.sizeCategory.computer"
            height="480"
            name="%size.vga.name"
            width="640">
      </size>
      <size
            category="com.aptana.browser.sizeCategory.computer"
            height="240"
            name="%size.qvga.name"
            width="320">
      </size>
      <sizeCategory
            id="com.aptana.browser.sizeCategory.mobile"
            name="%sizeCategory.mobile.name">
      </sizeCategory>
      <size
            category="com.aptana.browser.sizeCategory.mobile"
            height="460"
            image="com.aptana.browser.backgroundImage.iphone.vertical"
            name="%size.iphone.name.vertical"
            width="320">
      </size>
      <size
            category="com.aptana.browser.sizeCategory.mobile"
            height="320"
            image="com.aptana.browser.backgroundImage.iphone.horizontal"
            name="%size.iphone.name.horizontal"
            width="460">
      </size>
      <size
            category="com.aptana.browser.sizeCategory.mobile"
            height="748"
            image="com.aptana.browser.backgroundImage.ipad.horizontal"
            name="%size.ipad.name.horizontal"
            width="1024">
      </size>
      <size
            category="com.aptana.browser.sizeCategory.mobile"
            height="1024"
            image="com.aptana.browser.backgroundImage.ipad.vertical"
            name="%size.ipad.name.vertical"
            width="748">
      </size>
      <size
            category="com.aptana.browser.sizeCategory.mobile"
            height="800"
            image="com.aptana.browser.backgroundImage.htc.touchhd.vertical"
            name="%size.htc.touchhd.name.horizontal"
            width="480">
      </size>
      <size
            category="com.aptana.browser.sizeCategory.mobile"
            height="854"
            image="com.aptana.browser.backgroundImage.motorola.droid2.vertical"
            name="%size.motorola.droid2.name.vertical"
            width="480">
      </size>
      <backgroundImage
            bgcolor="true"
            horizontalIndent="35"
            id="com.aptana.browser.backgroundImage.iphone.vertical"
            path="images/iphone_ver.png"
            verticalIndent="150">
      </backgroundImage>
      <backgroundImage
            bgcolor="true"
            horizontalIndent="150"
            id="com.aptana.browser.backgroundImage.iphone.horizontal"
            path="images/iphone_horiz.png"
            verticalIndent="35">
      </backgroundImage>
      <backgroundImage
            bgcolor="true"
            horizontalIndent="42"
            id="com.aptana.browser.backgroundImage.ipad.horizontal"
            path="images/ipad_horiz.png"
            verticalIndent="62">
      </backgroundImage>
      <backgroundImage
            bgcolor="true"
            horizontalIndent="42"
            id="com.aptana.browser.backgroundImage.ipad.vertical"
            path="images/ipad_vert.png"
            verticalIndent="42">
      </backgroundImage>
      <backgroundImage
            bgcolor="false"
            horizontalIndent="139"
            id="com.aptana.browser.backgroundImage.htc.touchhd.vertical"
            path="images/htc_touchhd_vert.png"
            verticalIndent="128">
      </backgroundImage>
      <backgroundImage
            bgcolor="false"
            horizontalIndent="446"
            id="com.aptana.browser.backgroundImage.motorola.droid2.vertical"
            path="images/motorola_droid2_vert.png"
            verticalIndent="204">
      </backgroundImage>
   </extension>

</plugin>
