<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="com.aptana.debug.ui.setStartPageMenuContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.aptana.debug.internal.ui.actions.DefaultWebPreviewActionDelegate"
               enablesFor="1"
               id="com.aptana.debug.ui.DefaultWebPreviewAction"
               label="%action.label.setStartPage"
               menubarPath="additions">
         </action>
         <enablement>
            <test
                  property="com.aptana.ide.core.ui.isWebRunnable"
                  value="true"/>
         </enablement>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="com.aptana.debug.ui.unsetStartPageMenuContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.aptana.debug.internal.ui.actions.RemoveStartPageAction"
               enablesFor="1"
               id="com.aptana.debug.ui.RemoveStartPageAction"
               label="%action.label.unsetStartPage"
               menubarPath="additions"/>
         <enablement>
            <test
                  property="com.aptana.debug.ui.isStartPage"
                  value="true"/>
         </enablement>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="com.aptana.debug.ui.jsBreakpointActions"
            objectClass="com.aptana.js.debug.core.model.IJSLineBreakpoint">
         <action
               class="com.aptana.debug.internal.ui.actions.BreakpointHitCountAction"
               enablesFor="1"
               helpContextId="hit_count_action_context"
               icon="icons/full/elcl16/sethitcount_co.gif"
               id="com.aptana.debug.ui.actions.BreakpointHitCount"
               label="%action.label.hitcount"
               menubarPath="emptyBreakpointGroup"/>
         <action
               class="com.aptana.debug.internal.ui.actions.BreakpointPropertiesAction"
               enablesFor="1"
               helpContextId="breakpoint_properties_action_context"
               id="com.aptana.debug.ui.actions.BreakpointProperties"
               label="%action.label.properties"
               menubarPath="additions"/>
      </objectContribution>
   		<viewerContribution
           id="com.aptana.debug.ui.RulerPopupActions"
           targetID="com.aptana.ide.editors.HTMLEditor#UnifiedRulerContext">
         <action
               class="com.aptana.debug.internal.ui.actions.BreakpointPropertiesRulerActionDelegate"
               helpContextId="breakpoint_properties_action_context"
               id="com.aptana.debug.ui.actions.htmlBreakpointPropertiesRulerActionDelegate"
               label="%action.label.breakpoint.properties.html"
               menubarPath="debug"/>
         <action
               label="%action.label.toggle.html"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               menubarPath="debug"
               id="com.aptana.debug.ui.actions.htmlToggleBreakpointAction">
         </action>
      </viewerContribution>
   		<viewerContribution
           id="com.aptana.debug.ui.RulerPopupActions"
           targetID="com.aptana.ide.editors.JSEditor#UnifiedRulerContext">
         <action
               class="com.aptana.debug.internal.ui.actions.BreakpointPropertiesRulerActionDelegate"
               helpContextId="breakpoint_properties_action_context"
               id="com.aptana.debug.ui.actions.jsBreakpointPropertiesRulerActionDelegate"
               label="%action.label.breakpoint.properties.js"
               menubarPath="debug"/>
         <action
               label="%action.label.toggle.js"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               menubarPath="debug"
               id="com.aptana.debug.ui.actions.jsToggleBreakpointAction">
         </action>
      </viewerContribution>
   		<viewerContribution
           id="com.aptana.debug.ui.RulerPopupActions"
           targetID="com.aptana.ide.editors.PHPEditor#UnifiedRulerContext">
         <action
               class="com.aptana.debug.internal.ui.actions.BreakpointPropertiesRulerActionDelegate"
               helpContextId="breakpoint_properties_action_context"
               id="com.aptana.debug.ui.actions.phpBreakpointPropertiesRulerActionDelegate"
               label="%action.label.breakpoint.properties.php"
               menubarPath="debug"/>
         <action
               label="%action.label.toggle.php"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               menubarPath="debug"
               id="com.aptana.debug.ui.actions.phpToggleBreakpointAction">
         </action>
      </viewerContribution>
     <viewerContribution
           id="com.aptana.debug.ui.debugViewerContribution"
           targetID="org.eclipse.debug.ui.DebugView">
        <action
              class="com.aptana.debug.internal.ui.actions.SuspendOnActionDelegate"
              enablesFor="1"
              icon="icons/full/elcl16/suspend_ondebugger.gif"
              id="com.aptana.debug.ui.actions.suspendOnDebuggerKeywords"
              label="%suspendOnDebuggerKeywords.label"
              menubarPath="additions"
              state="false"
              style="toggle"/>
        <action
              class="com.aptana.debug.internal.ui.actions.SuspendOnActionDelegate"
              enablesFor="1"
              icon="icons/full/elcl16/suspend_onerror.gif"
              id="com.aptana.debug.ui.actions.suspendOnErrors"
              label="%suspendOnErrors.label"
              menubarPath="additions"
              state="false"
              style="toggle"/>
        <action
              class="com.aptana.debug.internal.ui.actions.SuspendOnActionDelegate"
              enablesFor="1"
              icon="icons/full/elcl16/suspend_onexception.gif"
              id="com.aptana.debug.ui.actions.suspendOnExceptions"
              label="%suspendOnExceptions.label"
              menubarPath="additions"
              state="false"
              style="toggle"/>
        <visibility>
           <systemProperty
                 name="com.aptana.debug.core.debuggerActive"
                 value="true"/>
        </visibility>
     </viewerContribution>
     <viewerContribution
           id="com.aptana.debug.ui.ContextPopupActions"
           targetID="com.aptana.ide.editors.HTMLEditor#UnifiedEditorContext">
         <action
               class="com.aptana.debug.internal.ui.actions.PopupInspectAction"
               definitionId="com.aptana.debug.ui.commands.Inspect"
               enablesFor="+"
               helpContextId="inspect_action_context"
               icon="icons/full/etool16/inspect.gif"
               id="com.aptana.debug.ui.actions.htmlPopup.Inspect"
               label="%InspectAction.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <action
               class="com.aptana.debug.internal.ui.actions.WatchAction"
               enablesFor="+"
               helpContextId="watch_action_context"
               icon="icons/full/etool16/watch_exp.gif"
               id="com.aptana.debug.ui.actions.htmlPopup.Watch"
               label="%WatchAction.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RunToLineActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.RunToLine"
               helpContextId="run_to_line_action_context"
               icon="icons/full/elcl16/runtoline_co.gif"
               id="com.aptana.debug.ui.actions.htmlPopup.RunToLine"
               label="%RunToLine.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <visibility>
            <systemProperty
                  name="com.aptana.debug.core.debuggerActive"
                  value="true"/>
         </visibility>
     </viewerContribution>
     <viewerContribution
           id="com.aptana.debug.ui.ContextPopupActions"
           targetID="com.aptana.ide.editors.JSEditor#UnifiedEditorContext">
         <action
               class="com.aptana.debug.internal.ui.actions.PopupInspectAction"
               definitionId="com.aptana.debug.ui.commands.Inspect"
               enablesFor="+"
               helpContextId="inspect_action_context"
               icon="icons/full/etool16/inspect.gif"
               id="com.aptana.debug.ui.actions.jsPopup.Inspect"
               label="%InspectAction.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <action
               class="com.aptana.debug.internal.ui.actions.WatchAction"
               enablesFor="+"
               helpContextId="watch_action_context"
               icon="icons/full/etool16/watch_exp.gif"
               id="com.aptana.debug.ui.actions.jsPopup.Watch"
               label="%WatchAction.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RunToLineActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.RunToLine"
               helpContextId="run_to_line_action_context"
               icon="icons/full/elcl16/runtoline_co.gif"
               id="com.aptana.debug.ui.actions.jsPopup.RunToLine"
               label="%RunToLine.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <visibility>
            <systemProperty
                  name="com.aptana.debug.core.debuggerActive"
                  value="true"/>
         </visibility>
     </viewerContribution>
     <viewerContribution
           id="com.aptana.debug.ui.ContextPopupActions"
           targetID="com.aptana.ide.editors.PHPEditor#UnifiedEditorContext">
         <action
               class="com.aptana.debug.internal.ui.actions.PopupInspectAction"
               definitionId="com.aptana.debug.ui.commands.Inspect"
               enablesFor="+"
               helpContextId="inspect_action_context"
               icon="icons/full/etool16/inspect.gif"
               id="com.aptana.debug.ui.actions.phpPopup.Inspect"
               label="%InspectAction.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <action
               class="com.aptana.debug.internal.ui.actions.WatchAction"
               enablesFor="+"
               helpContextId="watch_action_context"
               icon="icons/full/etool16/watch_exp.gif"
               id="com.aptana.debug.ui.actions.phpPopup.Watch"
               label="%WatchAction.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <action
               class="org.eclipse.debug.ui.actions.RunToLineActionDelegate"
               definitionId="org.eclipse.debug.ui.commands.RunToLine"
               helpContextId="run_to_line_action_context"
               icon="icons/full/elcl16/runtoline_co.gif"
               id="com.aptana.debug.ui.actions.phpPopup.RunToLine"
               label="%RunToLine.label"
               menubarPath="debug">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.debug.core.debuggerActive"
                        value="true"/>
                  <objectClass name="org.eclipse.jface.text.ITextSelection"/>
               </and>
            </enablement>
         </action>
         <visibility>
            <systemProperty
                  name="com.aptana.debug.core.debuggerActive"
                  value="true"/>
         </visibility>
     </viewerContribution>
     <objectContribution
           adaptable="false"
           id="com.aptana.debug.ui.FilteredJSVariableActions"
           objectClass="com.aptana.js.debug.core.model.IJSVariable">
        <action
              class="com.aptana.debug.internal.ui.actions.NewDetailFormatterAction"
              enablesFor="1"
              helpContextId="new_detail_formatter_action_context"
              id="com.aptana.debug.ui.actions.NewDetailFormatter"
              label="%newDetailFormatter.label"
              menubarPath="emptyNavigationGroup"
              tooltip="%newDetailFormatter.tooltip"/>
        <visibility>
           <not>
              <and>
                 <objectState
                       name="PrimitiveVariableActionFilter"
                       value="isValuePrimitive"/>
                 <objectState
                       name="DetailFormatterFilter"
                       value="isDefined"/>
              </and>
           </not>
        </visibility>
     </objectContribution>
     <objectContribution
           adaptable="false"
           id="com.aptana.debug.ui.FilteredJSVariableActions"
           objectClass="com.aptana.js.debug.core.model.IJSVariable">
        <action
              class="com.aptana.debug.internal.ui.actions.RemoveDetailFormatterAction"
              enablesFor="1"
              helpContextId="remove_detail_formatter_action_context"
              id="com.aptana.debug.ui.actions.RemoveDetailFormatter"
              label="%removeDetailFormatter.label"
              menubarPath="emptyNavigationGroup"
              tooltip="%removeDetailFormatter.tooltip"/>
        <action
              class="com.aptana.debug.internal.ui.actions.EditDetailFormatterAction"
              enablesFor="1"
              helpContextId="edit_detail_formatter_action_context"
              id="com.aptana.debug.ui.actions.EditDetailFormatter"
              label="%editDetailFormatter.label"
              menubarPath="emptyNavigationGroup"
              tooltip="%editDetailFormatter.tooltip"/>
        <visibility>
           <objectState
                 name="DetailFormatterFilter"
                 value="isDefined"/>
        </visibility>
     </objectContribution>
     <!-- objectContribution
           adaptable="false"
           id="com.aptana.debug.ui.FilteredJSVariableActions"
           objectClass="com.aptana.js.debug.core.model.IJSVariable">
        <action
              class="com.aptana.debug.internal.ui.actions.NewWatchpointAction"
              enablesFor="1"
              helpContextId="new_watchpoint_action_context"
              id="com.aptana.debug.ui.actions.NewWatchpoint"
              label="%newWatchpoint.label"
              menubarPath="emptyNavigationGroup"
              tooltip="%newWatchpointFormatter.tooltip">
        </action>
        <visibility>
           <not>
              <objectState
                    name="watchpointFilter"
                    value="isDefined">
              </objectState>
           </not>
        </visibility>
     </objectContribution -->
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="com.aptana.debug.ui.BreakpointRulerActions"
            targetID="com.aptana.ide.editors.HTMLEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="com.aptana.debug.ui.actions.htmlDoubleClickBreakpointAction"
               label="%action.label.toggleBreakpoint.html"
               style="push">
         </action>
      </editorContribution>
      <editorContribution
            id="com.aptana.debug.ui.BreakpointRulerActions"
            targetID="com.aptana.ide.editors.JSEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="com.aptana.debug.ui.actions.jsDoubleClickBreakpointAction"
               label="%action.label.toggleBreakpoint.js"
               style="push">
         </action>
      </editorContribution>
      <editorContribution
            id="com.aptana.debug.ui.BreakpointRulerActions"
            targetID="com.aptana.ide.editors.PHPEditor">
         <action
               actionID="RulerDoubleClick"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               id="com.aptana.debug.ui.actions.phpDoubleClickBreakpointAction"
               label="%action.label.toggleBreakpoint.php"
               style="push"/>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="com.aptana.debug.internal.ui.launchConfigurations.JSLaunchConfigurationTabGroup"
            description="%launchConfigurationTabGroup.description.js"
            id="com.aptana.debug.ui.jsLaunchConfigurationTabGroup"
            type="com.aptana.debug.core.jsLaunchConfigurationType">
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective"/>
         <launchMode mode="run"/>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="com.aptana.debug.internal.ui.launchConfigurations.JSRemoteLaunchConfigurationTabGroup"
            description="%launchConfigurationTabGroup.description.jsremote"
            id="com.aptana.debug.ui.jsRemoteLaunchConfigurationTabGroup"
            type="com.aptana.debug.core.jsRemoteLaunchConfigurationType">
         <launchMode
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective"/>
         <launchMode mode="run"/>
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="com.aptana.debug.internal.ui.JSDebugModelPresentation"
            id="com.aptana.debug.core"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="com.aptana.debug.core.jsLaunchConfigurationType"
            icon="icons/full/obj16/launch-httpServer.gif"
            id="com.aptana.debug.ui.jsLaunchConfigurationTypeImage"/>
      <launchConfigurationTypeImage
            configTypeID="com.aptana.debug.core.jsRemoteLaunchConfigurationType"
            icon="icons/full/obj16/launch-httpServer.gif"
            id="com.aptana.debug.ui.jsRemoteLaunchConfigurationTypeImage"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="com.aptana.debug.internal.ui.JSLaunchShortcut"
            icon="icons/full/obj16/launch-httpServer.gif"
            id="com.aptana.debug.ui.jsApplicationShortcut"
            label="%shortcut.label.js"
            modes="run,debug">
         <contextualLaunch>
            <contextLabel
                  label="%contextLabel.label.js"
                  mode="debug"/>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <or>
	                     <test
	                           property="org.eclipse.debug.ui.matchesPattern"
	                           value="*.html"/>
	                     <test
	                           property="org.eclipse.debug.ui.matchesPattern"
	                           value="*.xhtml"/>
	                     <test
	                           property="org.eclipse.debug.ui.matchesPattern"
	                           value="*.htm"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.aptana.ide.editors.unified.UnifiedEditor"
            class="com.aptana.debug.internal.ui.actions.RetargettableActionAdapterFactory">
         <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
         <adapter type="org.eclipse.debug.ui.actions.IRunToLineTarget"/>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.JSLaunchConfigurationDelegate"
            class="com.aptana.debug.internal.ui.ActiveResourcePathGetterAdapterFactory">
         <adapter type="com.aptana.debug.core.IActiveResourcePathGetterAdapter"/>
      </factory>
      <factory
            adaptableType="com.aptana.debug.core.DebugCorePlugin"
            class="com.aptana.debug.internal.ui.EditorOpenAdapterFactory">
         <adapter type="com.aptana.debug.core.IEditorOpenAdapter"/>
      </factory>
      <factory
            adaptableType="com.aptana.ide.editors.unified.hover.LexemeTextHover"
            class="com.aptana.debug.internal.ui.hovers.DebugHoverAdapterFactory">
         <adapter type="org.eclipse.jface.text.ITextHover"/>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.JSLaunchConfigurationHelper"
            class="com.aptana.debug.internal.ui.WebBrowserEnumeratorAdapterFactory">
         <adapter type="java.util.Enumeration"/>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.model.IJSScriptElement"
            class="com.aptana.debug.internal.ui.util.SourceDisplayAdapter$Factory">
         <adapter
               type="org.eclipse.debug.ui.sourcelookup.ISourceDisplay">
         </adapter>
         <adapter type="org.eclipse.debug.internal.ui.contexts.provisional.ISourceDisplayAdapter"/>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.model.ISourceLink"
            class="com.aptana.debug.internal.ui.util.SourceDisplayAdapter$Factory">
         <adapter
               type="org.eclipse.debug.ui.sourcelookup.ISourceDisplay">
         </adapter>
         <adapter type="org.eclipse.debug.internal.ui.contexts.provisional.ISourceDisplayAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="com.aptana.ide.js.ui.WebPerspective">
         <actionSet id="org.eclipse.debug.ui.launchActionSet"/>
         <actionSet id="org.eclipse.debug.ui.breakpointActionSet"/>
         <actionSet id="com.aptana.debug.ui.JSDebugActionSet"/>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet id="com.aptana.debug.ui.JSDebugActionSet"/>
         <view
               id="com.aptana.debug.ui.scriptsView"
               relationship="stack"
               relative="org.eclipse.debug.ui.ExpressionView"
               visible="true"/>
         <viewShortcut id="com.aptana.debug.ui.scriptsView"/>
         <viewShortcut id="com.aptana.debug.ui.AJAXMonitorView"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
  <page
        adaptable="true"
        class="com.aptana.debug.internal.ui.propertypages.JSLineBreakpointPropertyPage"
        id="com.aptana.debug.ui.propertypages.common"
        name="%page.name.common"
        objectClass="com.aptana.js.debug.core.model.IJSLineBreakpoint"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.statusHandlers">
      <statusHandler
            class="com.aptana.debug.internal.ui.InstallDebuggerPromptStatusHandler"
            code="301"
            id="com.aptana.debug.ui.installDebuggerPromptStatusHandler"
            plugin="com.aptana.debug.core"/>
      <statusHandler
            class="com.aptana.debug.internal.ui.LaunchDebuggerPromptStatusHandler"
            code="302"
            id="com.aptana.debug.ui.launchBrowserPromptStatusHandler"
            plugin="com.aptana.debug.core"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.eclipse.debug.ui"
            class="com.aptana.debug.internal.ui.views.AJAXMonitorView"
            icon="icons/full/obj16/xhrmon.gif"
            id="com.aptana.debug.ui.AJAXMonitorView"
            name="%AJAXMonitorView.name"/>
      <view
            allowMultiple="false"
            category="org.eclipse.debug.ui"
            class="com.aptana.debug.internal.ui.views.ScriptsView"
            icon="icons/full/obj16/script.gif"
            id="com.aptana.debug.ui.scriptsView"
            name="%scriptsView.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="com.aptana.debug.internal.ui.console.JSConsoleTracker"
            id="com.aptana.debug.ui.JSConsoleTracker"
            regex="(?i)\([^(]*\.\w+:\d+\)">
         <enablement>
            <or>
               <test
                     property="org.eclipse.debug.ui.processTypeTest"
                     value="javascript"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.aptana.debug.ui.commands.Inspect"
            contextId="com.aptana.ide.editors.UnifiedEditorsScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+I"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="org.eclipse.debug.ui.category.run"
            id="com.aptana.debug.ui.commands.Inspect"
            name="%ActionDefinition.inspect.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="com.aptana.debug.ui.JSDebugActionSet"
            label="%JSDebugActionSet.label"
            visible="false">
         <menu
               id="org.eclipse.ui.run"
               label="%RunMenu.label"
               path="additions">
            <separator name="jsGroup"/>
         </menu>
         <action
               class="com.aptana.debug.internal.ui.actions.PopupInspectAction"
               definitionId="com.aptana.debug.ui.commands.Inspect"
               disabledIcon="icons/full/dtool16/inspect.gif"
               helpContextId="inspect_action_context"
               hoverIcon="icons/full/etool16/inspect.gif"
               icon="icons/full/etool16/inspect.gif"
               id="com.aptana.debug.ui.actions.Inspect"
               label="%InspectAction.label"
               menubarPath="org.eclipse.ui.run/jsGroup"
               style="push">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.debug.core.debuggerActive"
                        value="true"/>
                  <or>
                     <objectClass name="org.eclipse.jface.text.ITextSelection"/>
                     <objectClass name="com.aptana.js.debug.core.model.IJSVariable"/>
                  </or>
               </and>
            </enablement>
         </action>
         <action
               class="com.aptana.debug.internal.ui.actions.WatchAction"
               disabledIcon="icons/full/dtool16/watch_exp.gif"
               enablesFor="+"
               helpContextId="watch_action_context"
               hoverIcon="icons/full/etool16/watch_exp.gif"
               icon="icons/full/etool16/watch_exp.gif"
               id="com.aptana.debug.ui.actions.Watch"
               label="%WatchAction.label"
               menubarPath="org.eclipse.ui.run/jsGroup"
               style="push">
            <enablement>
               <and>
                  <systemProperty
                        name="com.aptana.debug.core.debuggerActive"
                        value="true"/>
                  <or>
                     <objectClass name="org.eclipse.jface.text.ITextSelection"/>
                     <objectClass name="com.aptana.js.debug.core.model.IJSVariable"/>
                  </or>
               </and>
            </enablement>
         </action>
         <action
               class="com.aptana.debug.internal.ui.actions.AddExceptionBreakpointAction"
               icon="icons/full/elcl16/exc_catch.gif"
               id="com.aptana.debug.ui.actions.AddExceptionBreakpoint"
               label="%addExceptionBreakpointAction.accel.label"
               menubarPath="org.eclipse.ui.run/jsGroup"/>
         <action
               class="org.eclipse.debug.internal.ui.actions.breakpoints.RetargetToggleLineBreakpointAction"
               definitionId="com.aptana.debug.ui.commands.ToggleBreakpoint"
               disabledIcon="$nl$/icons/full/obj16/linebreakpoint_d.gif"
               helpContextId="toggle_breakpoint_action_context"
               icon="$nl$/icons/full/obj16/linebreakpoint_e.gif"
               id="com.aptana.debug.ui.actions.ToggleBreakpoint"
               label="%ToggleBreakpointAction.label"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug"/>
         <action
               class="com.aptana.debug.internal.ui.actions.OpenURLAction"
               definitionId="com.aptana.debug.ui.commands.openURL"
               icon="icons/full/etool16/url_file.gif"
               id="com.aptana.debug.ui.actions.openURL"
               label="%OpenURLAction.label"
               menubarPath="file/new.ext"
               style="push"
               toolbarPath="org.eclipse.debug.ui.launchActionSet/debug">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="com.aptana.debug.ui.debugging"
            name="%Context.jsDebugging.name"
            parentId="org.eclipse.debug.ui.debugging"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelContextBindings">
      <modelContextBinding
            contextId="com.aptana.debug.ui.debugging"
            debugModelId="com.aptana.debug.core"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.contextViewBindings">
      <contextViewBinding
            contextId="com.aptana.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.DebugView"/>
      <contextViewBinding
            contextId="com.aptana.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.VariableView"/>
      <contextViewBinding
            autoOpen="true"
            contextId="com.aptana.debug.ui.debugging"
            viewId="org.eclipse.debug.ui.ExpressionView"/>
      <contextViewBinding
            autoOpen="true"
            contextId="com.aptana.debug.ui.debugging"
            viewId="com.aptana.debug.ui.scriptsView"/>
      <contextViewBinding
            autoOpen="true"
            contextId="com.aptana.debug.ui.debugging"
            viewId="com.aptana.debug.ui.AJAXMonitorView"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ide.core.ui.preferences.GeneralPreferencePage"
            class="com.aptana.debug.internal.ui.preferences.JSDebugPreferencePage"
            id="com.aptana.debug.ui.preferences.jsDebug"
            name="%Preferences.jsDebug.name">
         <keywordReference id="org.eclipse.debug.ui.general"/>
      </page>
      <page
            category="com.aptana.debug.ui.preferences.jsDebug"
            class="com.aptana.debug.internal.ui.preferences.JSDetailFormattersPreferencePage"
            id="com.aptana.debug.ui.preferences.jsDetailFormatters"
            name="%Preferences.jsDetailFormatters.name"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.aptana.debug.internal.ui.preferences.JSDebugUIPreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.aptana.debug.ui.variableViewContribution"
            targetID="org.eclipse.debug.ui.VariableView">
         <action
               class="com.aptana.debug.internal.ui.actions.DetailOptionsActionDelegate"
               id="com.aptana.debug.ui.variableViewActions.DetailOptions"
               label="%detailOptionsAction.label"
               menubarPath="javascriptActions"
               style="push"/>
         <action
               class="com.aptana.debug.internal.ui.actions.ShowConstantsActionDelegate"
               icon="icons/full/elcl16/constant_co.gif"
               id="com.aptana.debug.ui.variableViewActions.ShowConstants"
               label="%showConstantsAction.label"
               menubarPath="javascriptActions"
               style="toggle"
               />
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.aptana.debug.ui.expressionViewContribution"
            targetID="org.eclipse.debug.ui.ExpressionView">
         <action
               class="com.aptana.debug.internal.ui.actions.DetailOptionsActionDelegate"
               id="com.aptana.debug.ui.variableViewActions.DetailOptions"
               label="%detailOptionsAction.label"
               menubarPath="javascriptActions"
               style="push"/>
         <action
               class="com.aptana.debug.internal.ui.actions.ShowConstantsActionDelegate"
               icon="icons/full/elcl16/constant_co.gif"
               id="com.aptana.debug.ui.variableViewActions.ShowConstants"
               label="%showConstantsAction.label"
               menubarPath="javascriptActions"
               style="toggle"
               />
         <action
               class="org.eclipse.debug.internal.ui.actions.expressions.AddWatchExpressionAction"
               disabledIcon="icons/full/dtool16/watch_exp.gif"
               helpContextId="add_watch_expression_context"
               icon="icons/full/etool16/watch_exp.gif"
               id="org.eclipse.debug.ui.expressionViewActions.AddWatchExpression"
               label="%addWatchExpressionAction.label"
               style="push"
               toolbarPath="org.eclipse.debug.internal.ui.views.expression.ExpressionView"
               tooltip="%addWatchExpressionAction.tooltip"/>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="com.aptana.debug.internal.ui.decorators.StartPageDecorator"
            icon="icons/full/ovr16/start_page_ovr.gif"
            id="com.aptana.debug.ui.decorators.StartPageDecorator"
            label="%decorator.label.startPage"
            lightweight="true"
            location="BOTTOM_RIGHT"
            state="true">
         <enablement>
            <or>
               <objectClass name="org.eclipse.core.resources.IFile"/>
            </or>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IFile"
            class="">
         <adapter type="org.eclipse.debug.ui.actions.ILaunchable"/>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.model.IJSVariable"
            class="com.aptana.debug.internal.ui.ActionFilterAdapterFactory">
         <adapter type="org.eclipse.ui.IActionFilter"/>
      </factory>
      <factory
            adaptableType="com.aptana.js.debug.core.model.IJSVariable"
            class="com.aptana.debug.internal.ui.WatchExpressionAdapterFactory">
         <adapter type="org.eclipse.debug.ui.actions.IWatchExpressionFactoryAdapter"/>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="com.aptana.debug.internal.ui.Startup"/>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="com.aptana.debug.internal.ui.StartPagePropertyTester"
            id="com.aptana.debug.ui.StartPagePropertyTester"
            namespace="com.aptana.debug.ui"
            properties="isStartPage"
            type="org.eclipse.core.resources.IFile"/>
   </extension>
   <extension
             point="org.eclipse.ui.themes">
          <themeElementCategory
          		
                id="com.aptana.ide.core.ui.apearance.ajaxMonitor"
                parentId="com.aptana.ide.core.ui.apearance"
                label="%AJAXMonitorViewBackroundColor.name.category">
                <description>
                	%themeElementCategory.description.ajax
                </description>
          </themeElementCategory>
          <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance"
                colorFactory="com.aptana.ide.core.ui.ListBackgroundColorFactory"
                id="com.aptana.ide.core.ui.background.color.scriptsView"
                isEditable="true"
                label="%ScriptViewBackroundColor.name"/>                    
          <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance.ajaxMonitor"
                id="com.aptana.ide.core.ui.background.color.ajaxmonitor"
                isEditable="true"
                value="255,255,255"
                label="%AJAXMonitorViewBackroundColor.name"                
           />
           <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance.ajaxMonitor"
                id="com.aptana.ide.core.ui.background.color.ajaxmonitor.request"
                isEditable="true"
                value="255,255,255"
                label="%AJAXMonitorViewBackroundColor.name.request"                
           />
           <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance.ajaxMonitor"
                id="com.aptana.ide.core.ui.background.color.ajaxmonitor.response"
                isEditable="true"
                value="255,255,255"
                label="%AJAXMonitorViewBackroundColor.name.response"                
           />
           <colorDefinition
                 categoryId="com.aptana.ide.core.ui.apearance.ajaxMonitor"
                 colorFactory="com.aptana.debug.internal.ui.DefaultColorFactory"
                 id="com.aptana.ide.core.ui.background.color.ajaxmonitor.border"
                 isEditable="true"
                 label="%AJAXMonitorViewBackroundColor.name.border"
                 /> 
           <!--  -->
          <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance"
                colorFactory="com.aptana.ide.core.ui.DefaultForegroundFactory"
                id="com.aptana.ide.core.ui.foreground.color.scriptsView"
                isEditable="true"
                label="%ScriptViewforeroundColor.name"/>     
          <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance.ajaxMonitor"
                id="com.aptana.ide.core.ui.foreground.color.ajaxmonitor"
                isEditable="true"
                colorFactory="com.aptana.ide.core.ui.DefaultForegroundFactory"
                label="%AJAXMonitorViewforeroundColor.name"                
           />
           <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance.ajaxMonitor"
                id="com.aptana.ide.core.ui.foreground.color.ajaxmonitor.request"
                isEditable="true"
                colorFactory="com.aptana.ide.core.ui.DefaultForegroundFactory"
                label="%AJAXMonitorViewforeroundColor.name.request"                
           />
           <colorDefinition
                categoryId="com.aptana.ide.core.ui.apearance.ajaxMonitor"
                id="com.aptana.ide.core.ui.foreground.color.ajaxmonitor.response"
                isEditable="true"
                colorFactory="com.aptana.ide.core.ui.DefaultForegroundFactory"
                label="%AJAXMonitorViewforeroundColor.name.response"                
           />
           <colorDefinition
                 categoryId="com.aptana.ide.core.ui.apearance.ajaxMonitor"
                 colorFactory="com.aptana.ide.core.ui.DefaultForegroundFactory"
                 id="com.aptana.ide.core.ui.foreground.color.ajaxmonitor.border"
                 isEditable="true"
                 label="%AJAXMonitorViewforeroundColor.name.border"
                 />                
       </extension>
</plugin>
