<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.debug.ui.category.run"
            id="com.aptana.debug.ui.commands.Inspect"
            name="%ActionDefinition.inspect.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.aptana.debug.ui.commands.Inspect"
            contextId="com.aptana.editor.context"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+I"/>
   </extension>

</plugin>
