<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="configurationProcessors" name="%configurationProcessorsExtension.name" schema="schema/configurationProcessors.exsd"/>
   <extension-point id="configurators" name="%studioConfiguratorsExtension.name" schema="schema/configurators.exsd"/>

</plugin>
