
.hidden_tooltip {
	display:none;
}

span.visible_tooltip {
	display:block;
	position:absolute;
	top:10px;
	left:21px;
	width:300px;
	font-size:9px;;
	padding-left:5px;
	padding-right:5px;
	border:1px solid black;
	background-color:#FFFFCC;
	text-decoration:none;
	color:#000000;
	z-index:10;
} 

a{  
	text-decoration:none;
}
span {
z-index=100;
}
img, table{
z-index:1;
}

.tooltipSource {
	position:relative;
}