<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="com.aptana"
            class="com.aptana.samples.ui.views.SamplesView"
            icon="icons/samples.gif"
            id="com.aptana.samples.ui.SamplesView"
            name="%View.samples.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.aptana.samples.ui.category"
            name="%category.samples.name">
      </category>
      <command
            categoryId="com.aptana.samples.ui.category"
            id="com.aptana.samples.ui.commands.import"
            name="%command.import.name">
         <commandParameter
               id="id"
               name="%commandParameter.sample.id.name"
               optional="true">
         </commandParameter>
      </command>
      <command
            categoryId="com.aptana.samples.ui.category"
            defaultHandler="com.aptana.samples.ui.handlers.CollapseAllHandler"
            id="com.aptana.samples.ui.commands.collapseall"
            name="%command.collapseall.name">
      </command>
      <command
            categoryId="com.aptana.samples.ui.category"
            defaultHandler="com.aptana.samples.ui.handlers.PreviewSampleHandler"
            id="com.aptana.samples.ui.commands.preview"
            name="%command.preview.name">
      </command>
      <command
            categoryId="com.aptana.samples.ui.category"
            defaultHandler="com.aptana.samples.ui.handlers.ViewHelpHandler"
            id="com.aptana.samples.ui.commands.help"
            name="%command.help.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="com.aptana.samples.ui.commands.import"
            icon="icons/import_wiz.gif">
      </image>
      <image
            commandId="com.aptana.samples.ui.commands.collapseall"
            disabledIcon="platform:/plugin/org.eclipse.ui.ide/icons/full/dlcl16/collapseall.gif"
            icon="platform:/plugin/org.eclipse.ui.ide/icons/full/elcl16/collapseall.gif">
      </image>
      <image
            commandId="com.aptana.samples.ui.commands.preview"
            icon="icons/preview.gif">
      </image>
      <image
            commandId="com.aptana.samples.ui.commands.help"
            icon="icons/book_open.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:com.aptana.samples.ui.SamplesView?after=additions">
         <command
               commandId="com.aptana.samples.ui.commands.import"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.aptana.samples.ui.SamplesView?after=additions">
         <command
               commandId="com.aptana.samples.ui.commands.import"
               style="push">
            <visibleWhen
                  checkEnabled="true">
                  <iterate>
		               <instanceof
		                     value="com.aptana.samples.model.IProjectSample">
		               </instanceof>
		           </iterate>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:com.aptana.samples.ui.SamplesView?after=additions">
         <command
               commandId="com.aptana.samples.ui.commands.collapseall"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.aptana.samples.ui.SamplesView?after=additions">
         <command
               commandId="com.aptana.samples.ui.commands.preview"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <instanceof
                              value="com.aptana.samples.model.SamplesReference">
                        </instanceof>
                        <test
                              property="com.aptana.samples.reference.canPreview"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.aptana.samples.ui.SamplesView?after=additions">
         <command
               commandId="com.aptana.samples.ui.commands.help"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <and>
                        <instanceof
                              value="com.aptana.samples.model.SamplesReference">
                        </instanceof>
                        <test
                              property="com.aptana.samples.reference.hasHelp"
                              value="true">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.aptana.samples.ui.handlers.ImportSampleHandler"
            commandId="com.aptana.samples.ui.commands.import">
      </handler>
   </extension>
   <extension
         point="com.aptana.portal.ui.browserInteractions">
      <actionController
            class="com.aptana.samples.ui.portal.actionController.SamplesActionController"
            id="portal.samples"
            name="Samples Actions">
      </actionController>
      <browserNotification
            class="com.aptana.samples.ui.portal.actionController.SamplesNotification"
            id="com.aptana.samples.ui.samplesNotification"
            name="Samples Notifier"
            notificationTarget="*">
      </browserNotification>
   </extension>
</plugin>
