<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.editor.erb.html.RHTMLEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            default="true"
            extensions="rhtml,erb"
            icon="icons/erb.png"
            id="com.aptana.editor.erb.html"
            name="%editor.rhtml.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.html.erb">
         </contentTypeBinding>
      </editor>
      <editor
            class="com.aptana.editor.erb.xml.RXMLEditor"
            contributorClass="com.aptana.editor.common.CommonTextEditorActionContributor"
            extensions="rxml,erb"
            icon="icons/erb.png"
            id="com.aptana.editor.erb.xml"
            name="%editor.rxml.name">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.xml.erb">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="com.aptana.contenttype.html"
            describer="com.aptana.editor.erb.html.RHTMLContentDescriber"
            file-extensions="rhtml,erb"
            id="com.aptana.contenttype.html.erb"
            name="%content-type.rhtml.name"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            describer="com.aptana.editor.erb.xml.RXMLContentDescriber"
            file-extensions="rxml,erb"
            id="com.aptana.contenttype.xml.erb"
            name="%content-type.rxml.name"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="com.aptana.parsing.parser">
      <parser
            class="com.aptana.editor.erb.html.parsing.RHTMLParser"
            content-type="com.aptana.contenttype.html.erb"
            language="text/erb">
      </parser>
   </extension>
   <extension
         point="com.aptana.index.core.fileIndexingParticipants">
      <fileIndexingParticipant
            class="com.aptana.editor.erb.html.RHTMLFileIndexingParticipant">
         <contentTypeBinding
               contentTypeId="com.aptana.contenttype.html.erb">
         </contentTypeBinding>
      </fileIndexingParticipant>
   </extension>

</plugin>
