<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.aptana.ui.accountsPreferencePage">
      <provider
            class="com.aptana.jira.ui.preferences.JiraPreferencePageProvider"
            priority="50">
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.aptana.ui.category"
            defaultHandler="com.aptana.jira.ui.handlers.SubmitTicketHandler"
            description="%command.submit.description"
            id="com.aptana.jira.ui.commands.submit"
            name="%command.submit.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:aptanahelp?after=additions">
         <command
               commandId="com.aptana.jira.ui.commands.submit"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
