<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="com.aptana.js.debug.core.internal.model.JSDebugLineBreakpoint"
            id="com.aptana.debug.core.lineBreakpoint"
            markerType="com.aptana.debug.core.lineBreakpointMarker"/>
      <breakpoint
            class="com.aptana.js.debug.core.internal.model.JSDebugExceptionBreakpoint"
            id="com.aptana.debug.core.exceptionBreakpoint"
            markerType="com.aptana.debug.core.exceptionBreakpointMarker"/>
      <breakpoint
            class="com.aptana.js.debug.core.internal.model.JSDebugWatchpoint"
            id="com.aptana.debug.core.variableWatchpoint"
            markerType="com.aptana.debug.core.watchpointMarker"/>
   </extension>
   <extension
         id="lineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      <persistent value="true"/>
      <attribute name="com.aptana.debug.core.breakpointHitCount"/>
      <attribute name="com.aptana.debug.core.breakpointCondition"/>
      <attribute name="com.aptana.debug.core.breakpointConditionSuspendOnTrue"/>
   </extension>
   <extension
         id="exceptionBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.breakpointMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         id="watchpointMarker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.debug.core.breakpointMarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="com.aptana.js.debug.core.internal.sourcelookup.JSSourceLookupDirector"
            id="com.aptana.debug.core.sourceLookupDirector"
            name="%sourceLocator.name"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="com.aptana.debug.core.sourcelookup.SourcePathComputerDelegate"
            id="com.aptana.debug.core.sourcePathComputer"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="com.aptana.js.debug.core.JSLaunchConfigurationDelegate"
            id="com.aptana.debug.core.jsLaunchConfigurationType"
            modes="run,debug"
            name="%launchConfigurationType.webbrowser.name"
            public="true"
            sourceLocatorId="com.aptana.debug.core.sourceLookupDirector"
            sourcePathComputerId="com.aptana.debug.core.sourcePathComputer">
      </launchConfigurationType>
      <launchConfigurationType
            delegate="com.aptana.js.debug.core.JSRemoteLaunchConfigurationDelegate"
            id="com.aptana.debug.core.jsRemoteLaunchConfigurationType"
            modes="run,debug"
            name="%launchConfigurationType.remote.name"
            public="true"
            sourceLocatorId="com.aptana.debug.core.sourceLookupDirector"
            sourcePathComputerId="com.aptana.debug.core.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="com.aptana.debug.core"
            delegateClass="com.aptana.js.debug.core.internal.model.WatchExpressionDelegate"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.aptana.js.debug.core.internal.preferences.JSDebugPreferenceInitializer"/>
   </extension>

</plugin>
