<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.aptana.deploy.internal.ui.handlers.DeployHandler"
            id="com.aptana.deploy.commands.deployApp"
            name="%Deploy.label">
      </command>
      <command
            defaultHandler="com.aptana.deploy.internal.ui.handlers.RunDeployWizardHandler"
            id="com.aptana.deploy.commands.deploywizard"
            name="%DeployWizard.label">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.aptana.deploy.commands.deployApp"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+M3+D">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="menu:com.aptana.explorer.deploy">
         <separator
               name="group.deploy"
               visible="true">
         </separator>
         <separator
               name="group.command"
               visible="true">
         </separator>
         <separator
               name="group.wizard"
               visible="true">
         </separator>
         <separator
               name="additions">
         </separator>
      </menuContribution>         
         <menuContribution
            locationURI="menu:com.aptana.explorer.deploy?endof=group.deploy">
         <dynamic
               class="com.aptana.deploy.internal.ui.DeployAppContributionItem"
               id="com.aptana.deploy.deployAppMenu">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="com.aptana.deploy.project.isDeployable"
                                 value="true">
                           </test>
                        </adapt>
                     </iterate>
                  </with>
                  <and>
                     <with
                           variable="activePart">
                        <instanceof
                              value="org.eclipse.ui.IEditorPart">
                        </instanceof>
                     </with>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <test
                                 forcePluginActivation="true"
                                 property="com.aptana.deploy.project.isDeployable"
                                 value="true">
                           </test>
                        </adapt>
                     </with>
                  </and>
               </or>
            </visibleWhen>
         </dynamic>
      </menuContribution>
         <menuContribution
               locationURI="menu:com.aptana.explorer.deploy?endof=group.wizard">
            <command
                  commandId="com.aptana.deploy.commands.deploywizard"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <and>
                           <adapt
                                 type="org.eclipse.core.resources.IResource">
                           </adapt>
                           <not>
                              <or>
                                 <test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="com.appcelerator.titanium.desktop.nature">
                                 </test>
                                 <test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="com.appcelerator.titanium.mobile.nature">
                                 </test>
                                 <test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="com.appcelerator.titanium.mobile.module.nature">
                                 </test>
                                 <test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="com.appcelerator.titanium.acs.core.nodejsnature">
                                 </test>
                              </or>
                           </not>
                        </and>
                     </iterate>
                  </with>
                  <and>
                     <with
                           variable="activePart">
                        <instanceof
                              value="org.eclipse.ui.IEditorPart">
                        </instanceof>
                     </with>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                           <not>
                              <or>
                                 <test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="com.appcelerator.titanium.desktop.nature">
                                 </test>
                                 <test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="com.appcelerator.titanium.mobile.nature">
                                 </test>
                                 <test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="com.appcelerator.titanium.mobile.module.nature">
                                 </test>
                                 <test
                                       property="org.eclipse.core.resources.projectNature"
                                       value="com.appcelerator.titanium.acs.core.nodejsnature">
                                 </test>
                              </or>
                           </not>
                        </adapt>
                     </with>
                  </and>
                  </or>
               </visibleWhen>
            </command>
         </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?before=group.edit">
         <dynamic
               class="com.aptana.deploy.internal.ui.DeployPopupContributionItem"
               id="com.aptana.deploy.popup.studio">
            <visibleWhen
                  checkEnabled="false">
               <or>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                        </adapt>
                     </iterate>
                  </with>
                  <and>
                     <with
                           variable="activePart">
                        <instanceof
                              value="org.eclipse.ui.IEditorPart">
                        </instanceof>
                     </with>
                     <with
                           variable="activeEditorInput">
                        <adapt
                              type="org.eclipse.core.resources.IResource">
                        </adapt>
                     </with>
                  </and>
               </or>
            </visibleWhen>
         </dynamic>
      </menuContribution>
   </extension>
      <extension
         point="org.eclipse.debug.core.launchModes">
      <launchMode
            label="%package.label.name"
            launchAsLabel="%package.label.launchas.name"
            mode="package">
      </launchMode>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchGroups">
      <launchGroup
            bannerImage="icons/full/elcl16/deploy_package.png"
            id="com.appcelerator.titanium.publish.launchGroup"
            image="icons/full/elcl16/deploy_package.png"
            label="%package.label.name"
            mode="package">
      </launchGroup>
   </extension>
</plugin>
